<!DOCTYPE html>
<html>
<head>
    <link
    rel="stylesheet"
    href="static/css/font-awesome.min.css"
    />
    <link rel="stylesheet" type="text/css" href="static/fonts/custom-fonts.css">
    <link
        rel="icon"
        type="image/x-icon"
        href="/static/SVG/EYE LOGO.svg"
    />
    <link rel="stylesheet" href="/static/css/sidebar.css"/> 
    <script src="/static/javascript/plotly.js"></script>
    <title>{% block title %}MindSight: Test{% endblock %}</title>
    {% block styles %}{% endblock %}
</head>
<body>
{% include "components/sidebar.html" %}

<main>
{% block content %} {% endblock %}
</main>
</body>
<script src="../static/javascript/sidebar.js"></script>
</html>