body {
    background: #EAE7D6;
}

.logo {
    width: 1019px;
    height: 308px;
    display: block;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72.5px;
}

.textarea {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

input {
    width: 309.5px;
    height: 42px;
    border-radius: 10px;
    border: 3px solid #347893;
    background: #EAE7D6;
    color: #347893;
    font-family: 'Lexend', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }

::placeholder {
    color: #347893;
    font-family: 'Lexend', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    opacity: 0.75;;
  }

.forgot {
    border: none;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: #347893;
    font-family: 'Lexend', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400; 
    line-height: normal;
}

.forgot:hover {
    background: #DB9354;
}

.signin {
    width: 309.5px;
    height: 42px;
    border-radius: 10px;
    border: none;
    background: #347893;
    color: #EDEBDD;   
    font-family: 'Lexend', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.signin:hover {
    background: #DB9354;
}
