{% extends "components/base.html" %}
{% block title %} Mindsight - Campus{% endblock %}

{% block styles %}     
<link rel="stylesheet" href="/static/css/experiences.css"/> 
{% endblock %}

{% block content %}

<div class="right">
    <div class="main">
        <div class="main-header">
            <span class="title">
            <div>CAMPUS</div>
            <div class="back-button">
                <a href="{{ url_for ('dashboard')}}">
                    <img src="/static/SVG/back_button.svg"/>
                </a>
            </div>
            </span>
        </div>
        <div class="content">
            <div class="container">
                <div class="box">
                    <span>CAS</span>
                    <canvas id="myChart5"></canvas>
                </div>
                <div class="box">
                    <span>CBEA</span>
                </div>
                <div class="box">
                    <span>CEA</span>  
                </div>
                <div class="box">
                    <span>CED</span>  
                </div>
                <div class="box">
                    <span>IHK</span>
                </div>
            </div>
            <div class="container">
                <div class="box">
                    <span>STEM</span>
                    <canvas id="myChart5"></canvas>
                </div>
                <div class="box">
                    <span>ABM</span>
                </div>
                <div class="box">
                    <span>HUMSS</span>  
                </div>
                <div class="box">
                    <span>ICT</span>  
                </div>
            </div>
            <div class="container">
                <div class="box">
                    <span>Grade 7</span>
                    <canvas id="myChart5"></canvas>
                </div>
                <div class="box">
                    <span>Grade 8</span>
                </div>
                <div class="box">
                    <span>Grade 9</span>  
                </div>
                <div class="box">
                    <span>Grade 10</span>  
                </div>
            </div>
            <div class="container">
                <div class="box">
                    <span>Graduate School</span>
                    <canvas id="myChart5"></canvas>
                </div>
                <div class="box">
                    <span>Lifelong Learners</span>
                </div>
            </div>
        </div>
        </div>
</div>

<script src="{{ url_for('static', filename='javascript/cdn/chartjs.js') }}"></script>
<script src="{{ url_for('static', filename='javascript/campus.js') }}"></script>
{% endblock %}