{% extends "components/base.html" %}
{% block title %} Mindsight - Experiences{% endblock %}

{% block styles %}     
<link rel="stylesheet" href="/static/css/experiences.css"/>


{% endblock %}

{% block content %}

<div class="right">
    <div class="main">
        <div class="main-header">
            <span>
                <div>EXPERIENCES: </div>
                <div class="back-button">
                <a href="{{ url_for ('dashboard')}}">
                    <img src="/static/SVG/back_button.svg"/>
                </a>
                </div>
            </span>
        </div>
        <div class="content">
            <div class="box">
                <span>Junior High</span>
                <div id='jhs_container'></div>
            </div>
            <div class="box">
                <span>Senior High</span>
                <div id='shs_container'></div>
            </div>
            <div class="box">
                <span>College</span> 
                <div id='college_container'></div>
            </div>
            <div class="box">
                <span>Graduate</span> 
                <div id='grad_container'></div>
            </div>
            <div class="box">
                <span>Lifelong Learners</span>
                <div id='lll_container'></div>
            </div>
        </div>  
    </div>
</div>

<script>
    const jhs_data = {{ jhs_data | tojson | safe }};
    const shs_data = {{ shs_data | tojson | safe }};
    const college_data = {{ college_data | tojson | safe }};
    const grad_data = {{ grad_data | tojson | safe }};
    const lll_data = {{ lll_data | tojson | safe }};
</script>

<script src="{{ url_for('static', filename='javascript/expand_dashboard.js') }}"></script>

{% endblock %}