:root {
    --primary-color: #095371;
    --main-bg-color: #EAE7D6;
    --hover-color: #DB9354;
    --bg-color: #f4f4f4;
}

* {
    font-family: Lexend;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
}

body {
    background: var(--bg-color);
    width: 100vw;
    height: 100vh;
    /* background-image: url(/media/images/sidelogo.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 600px;
    height: 560px;
    margin: auto; */
}


.container {
    width: 700px;
    height: 615px;
    border-radius: 60px;
    border: 1px solid var(--main-bg-color);
    background: rgba(255, 255, 255, 0.20);
    /* box-shadow: 3px 3px 25px 12px rgba(0, 0, 0, 0.40); */
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    /* backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); */
    background-color: var(--main-bg-color);
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.full_logo {
    width: 500px;
    height: 162px;
    margin-bottom: 30px;
}

h1 {
    color: var(--primary-color);
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 23px;
}

input {
    width: 288px;
    height: 39px;
    border-radius: 10px;
    border: 3px solid var(--primary-color);
    background: var(--main-bg-color);
    color: var(--primary-color);
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding-left: 15px;
}

.username {
    margin-bottom: 13px;
}

.password {
    margin-bottom: 1px;
}

.inputs {
    display: flex;
    flex-direction: column;
    color: var(--primary-color);
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    justify-content: center;
    align-items: center;
}

::placeholder {
    color: var(--primary-color);
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    opacity: 0.75;
}

.login {
    width: 288px;
    height: 39px;
    background: var(--primary-color);
    color: var(--main-bg-color);
    border-radius: 10px;
    border: 3px solid var(--primary-color);
    justify-content: center;
    align-items: center;
    color: var(--main-bg-color);
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 22px;
}

.login:hover {
    background: var(--hover-color);
    border: 3px solid var(--hover-color);
}

.account {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.signup {
    width: 65px;
    margin-top: 1px;
    padding: 5px;
    border: none;
    background-color: none;
    color: var(--primary-color);
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.signup:hover {
    color: var(--hover-color);
}

.forgot {
    margin-bottom: 23px;
    border: none;
    text-align: right;
    color: var(--primary-color);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.forgot:hover {
    color: var(--hover-color);
}