:root {
  --primary-color: #095371;
  --main-bg-color: #EAE7D6;
  --hover-color: #DB9354;
  --bg-color: #f4f4f4;
  --border: #b1b1b1;
  --text-white: #fff;
  --text-white-dim: #d9d9d9;
}

* {
  font-family: Lexend;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
}

body {
  background: var(--main-bg-color);
  width: 100vw;
  height: 100vh;
  /* background-image: url(/media/images/sidelogo.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 600px;
  height: 560px;
  margin: auto; */
}

/* Sidebar */
.sidebar {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 100%;
}

.sidebar .profile {
  margin-top: auto;
}


/* MindSight Logo */
#logo {
  margin: 10px 0;
  height: 50px;
  width: 100%;
  margin-right: unset !important;
}

.logo {
  padding: 0 24px;
  border-bottom: 1px solid var(--border);
}



.sidebar ul {
  width: 100%;
  margin: 0;
  padding: 0;
}

.sidebar li {
  display: flex;
}



/* dashboard logo */
.sidebar img {
  width: 25px;
  aspect-ratio: 1 / 1;
  margin-right: 12px;
}

.sidebar a {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 20px 0 20px 24px;
  color: white;
  align-items: center;
  text-decoration: none;
  transition: cubic-bezier(0.18, 0.89, 0.47, 1) 0.2s;
}

.sidebar a:hover {
  background-color: var(--hover-color);
}



/* section margins */
.overview {
  margin-top: 24px;
}

.account {
  margin-top: 24px;
}



/* font sizes */
.overview span, .account span {
  font-size: 20px;
}

.overview p, .account p {
  margin: 0 0 5px;
  font-size: 16px;
  padding-left: 24px;
  color: var(--text-white-dim);
}


/* user profile */
.profile {
  border-top: 1px solid var(--border);
  display: flex;
  width: 100%;
  height: auto;
  padding: 20px 24px;
}

.profile img {
  width: 40px;
}

.profile span {
  color: var(--text-white);
  font-weight: bold;
}

/* content */
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcome {
  color: var(--primary-color);
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.logo {

}

.tag-line {

}
