{% extends "components/base.html" %} {% block title %} Mindsight - Archived

{%endblock %} {% block styles %}
<link rel="stylesheet" href="/static/css/search.css" />
{% endblock %} {% block content %}

<div class="right">
  <div class="main">
    <div class="main-header">
      <span>
        Archived Records
      </span>
      <div class="back-button">
        <a href="{{ url_for('level') }}">
            <img src="/static/SVG/back_button.svg" />
        </a>
      </div>
    
    </div>
    <!-- <p>The records below are for <b>xxx - YEAR.</b></p> -->
    <div class="search-upload-container">
      <div class="search-container">
        <form method="GET" action="{{ url_for('search_archived', query=query) }}">
          <div class="search-bar">
            <input
              type="text"
              placeholder="Search"
              name="query"
              value="{{query}}"
            />
            <button type="submit">
              <img src="/static/students/search.png" alt="search" />
            </button>
          </div>
        </form>
      </div>

      <div class="filter">
        <!-- change this to the retrieve record icon -->
        <a href="#" class="archive-container"> 
            <img
              src="/static/unarchive-button.png"
              alt="archive"
              class="archive-button"
            />
        </a>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
      </div>
    </div>

    <!-- flex grid -->
    <div class="grid-header">
      <div class="grid-checkbox"><input type="checkbox" class="record-checkbox" name="select-all" id="select-all"/><label for="select-all">Select all</label></div>
      <div class="grid-section">Student ID</div>
      <div class="grid-name">Name</div>
      <div class="grid-college">Level</div>
      <div class="grid-gender">Gender</div>
      <div class="grid-counselor">Counselor</div>
      <div class="grid-status">Status</div>
      <div class="grid-remark">Remarks</div>
    </div>
    <div class="grid-container">
      <!-- sample data rows -->
      <div class="row-container">
        {% for student in records %}
        <a
          href="#"
          class="grid-row"
          onclick="handleClick(event, '{{ student.student_id }}')"
        >
          <div class="grid-checkbox"><input type="checkbox" class="record-checkbox" data-student-id="{{ student.student_id }}"/></div>
          <div class="grid-section">{{ student.student_id }}</div>
          <div class="grid-name">
            {{ student.last_name }}, {{ student.first_name }}
          </div>
          <div class="grid-college">{{ student.college }}</div>
          <div class="grid-gender">{{ student.gender }}</div>
          <div class="grid-counselor">{{ student.additional_information.counselor }}</div>
          <div class="grid-status">{{ student.additional_information.status }}</div>
          <div class="grid-remark">{{ student.additional_information.remarks }}</div>
        </a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<script src="{{ url_for('static', filename='javascript/archive.js') }}"></script>
{% endblock %}