{% extends "components/base.html" %} {% block title %} Mindsight - CAS{%
endblock %} {% block styles %}
<link rel="stylesheet" href="/static/css/students.css" />
{% endblock %} {% block content %}

<div class="right">
  <div class="main">
    <!-- CAS page -->
    {% for student in data %}
      <p>{{ student['student_id'] }}</p>
      <p>{{ student['last_name'] }}</p>
      <p>{{ student['first_name'] }}</p>
      <p>{{ student['course'] }}</p>
      <p>{{ student['year_level'] }}</p>
      <p>{{ student['campus'] }}</p>
      <p>{{ student['college'] }}</p>
      <hr>
    {% endfor %}
  </div>
</div>

{% endblock %}
