{% extends "components/base.html" %} {% block title %} Mindsight - CAS{%
endblock %} {% block styles %}
<link rel="stylesheet" href="/static/css/colleges-main.css" />
{% endblock %} {% block content %}

<div class="right">
  <div class="main">
    <div class="main-header">
      <span>CEA: COLLEGE OF ENGINEERING AND ARCHITECTURE</span>
      <p>
        Please click on the following <b>DEPARTMENTS</b> to view the
        corresponding records:
      </p>
    </div>
    <div class="department">
      <div class="department-row">
        <div class="department-name">Department of Architecture</div>
        <div class="year-level">
          <button class="year-button">1</button>
          <button class="year-button">2</button>
          <button class="year-button">3</button>
          <button class="year-button">4</button>
          <button class="year-button">5</button>
        </div>
      </div>

      <div class="department-row">
        <div class="department-name">Department of Civil Engineering</div>
        <div class="year-level">
          <button class="year-button">1</button>
          <button class="year-button">2</button>
          <button class="year-button">3</button>
          <button class="year-button">4</button>
        </div>
      </div>

      <div class="department-row">
        <div class="department-name">Department of Computer Engineering</div>
        <div class="year-level">
          <button class="year-button">1</button>
          <button class="year-button">2</button>
          <button class="year-button">3</button>
          <button class="year-button">4</button>
        </div>
      </div>

      <div class="department-row">
        <div class="department-name">Department of Electrical Engineering</div>
        <div class="year-level">
          <button class="year-button">1</button>
          <button class="year-button">2</button>
          <button class="year-button">3</button>
          <button class="year-button">4</button>
        </div>
      </div>

      <div class="department-row">
        <div class="department-name">Department of Electronics Engineering</div>
        <div class="year-level">
          <button class="year-button">1</button>
          <button class="year-button">2</button>
          <button class="year-button">3</button>
          <button class="year-button">4</button>
        </div>
      </div>

      <div class="department-row">
        <div class="department-name">Department of Industrial Engineering</div>
        <div class="year-level">
          <button class="year-button">1</button>
          <button class="year-button">2</button>
          <button class="year-button">3</button>
          <button class="year-button">4</button>
        </div>
      </div>

      <div class="department-row">
        <div class="department-name">Department of Information Technology</div>
        <div class="year-level">
          <button class="year-button">1</button>
          <button class="year-button">2</button>
          <button class="year-button">3</button>
          <button class="year-button">4</button>
        </div>
      </div>

      <div class="department-row">
        <div class="department-name">
          Department of Instrumentation and Control Engineering
        </div>
        <div class="year-level">
          <button class="year-button">1</button>
          <button class="year-button">2</button>
          <button class="year-button">3</button>
          <button class="year-button">4</button>
        </div>
      </div>

      <div class="department-row">
        <div class="department-name">Department of Mechanical Engineering</div>
        <div class="year-level">
          <button class="year-button">1</button>
          <button class="year-button">2</button>
          <button class="year-button">3</button>
          <button class="year-button">4</button>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

<!-- block template -->

<!-- <div class="department-row">
      <div class="department-name">#</div>
      <div class="year-level">
        <button class="year-button">1</button>
        <button class="year-button">2</button>
        <button class="year-button">3</button>
        <button class="year-button">4</button>
      </div>
    </div> -->
