{% extends "components/base.html" %}
{% block title %} Mindsight - Edit Record {% endblock %}
{% block styles %}
    <link rel="stylesheet" href="/static/css/edit_record.css" />
{% endblock %}
{% block content %}
    <div class="test">
        <h2>Edit Student Record</h2>
        <form method="POST" action="{{ url_for('edit_record', student_id=student.student_id) }}">
            {{ form.csrf_token }}
            <div>
                {{ form.hidden_tag() }}
                <!-- Fields from StudentInformation model -->

                <div>
                    {{ form.last_name.label }}
                    {{ form.last_name(value=student.last_name) }}
                </div>
                <div>
                    {{ form.first_name.label }}
                    {{ form.first_name(value=student.first_name) }}
                </div>
                <div>
                    {{ form.course.label }}
                    {{ form.course(value=student.course) }}
                </div>
                <div>
                    {{ form.year_level.label }}
                    {{ form.year_level(value=student.year_level) }}
                </div>
                <div>
                    {{ form.gpa.label }}
                    {{ form.gpa(value=student.gpa) }}
                </div>
                <div>
                    {{ form.campus.label }}
                    {{ form.campus(value=student.campus) }}
                </div>

                <!-- Fields from PersonalInformation model -->
                <div>
                    {{ form.age.label }}
                    {{ form.age(value=student.personal_information.age) }}
                </div>
                <div>
                    {{ form.sex.label }}
                    {{ form.sex(value=student.personal_information.sex) }}
                </div>
                <div>
                    {{ form.gender.label }}
                    {{ form.gender(value=student.personal_information.gender) }}
                </div>
                <div>
                    {{ form.contact_number.label }}
                    {{ form.contact_number(value=student.personal_information.contact_number) }}
                </div>
                <div>
                    {{ form.religion.label }}
                    {{ form.religion(value=student.personal_information.religion) }}
                </div>
                <div>
                    {{ form.date_of_birth.label }}
                    {{ form.date_of_birth(value=student.personal_information.date_of_birth) }}
                </div>
                <div>
                    {{ form.place_of_birth.label }}
                    {{ form.place_of_birth(value=student.personal_information.place_of_birth) }}
                </div>
                <div>
                    {{ form.nationality.label }}
                    {{ form.nationality(value=student.personal_information.nationality) }}
                </div>
                <div>
                    {{ form.counseling_history.label }}
                    {{ form.counseling_history(value=student.personal_information.counseling_history) }}
                </div>
                <div>
                    {{ form.residence.label }}
                    {{ form.residence(value=student.personal_information.residence) }}
                </div>

                <!-- Fields from FamilyBackground model -->
                <div>
                    {{ form.father_age.label }}
                    {{ form.father_age(value=student.family_background.father_age) }}
                </div>
                <div>
                    {{ form.mother_age.label }}
                    {{ form.mother_age(value=student.family_background.mother_age) }}
                </div>
                <div>
                    {{ form.father_last_name.label }}
                    {{ form.father_last_name(value=student.family_background.father_last_name) }}
                </div>
                <div>
                    {{ form.mother_last_name.label }}
                    {{ form.mother_last_name(value=student.family_background.mother_last_name) }}
                </div>
                <div>
                    {{ form.father_first_name.label }}
                    {{ form.father_first_name(value=student.family_background.father_first_name) }}
                </div>
                <div>
                    {{ form.mother_first_name.label }}
                    {{ form.mother_first_name(value=student.family_background.mother_first_name) }}
                </div>

                <!-- Fields from HealthInformation model -->
                <div>
                    {{ form.height.label }}
                    {{ form.height(value=student.health_information.height) }}
                </div>
                <div>
                    {{ form.weight.label }}
                    {{ form.weight(value=student.health_information.weight) }}
                </div>
                <div>
                    {{ form.sight.label }}
                    {{ form.sight(value=student.health_information.sight) }}
                </div>
                <div>
                    {{ form.hearing.label }}
                    {{ form.hearing(value=student.health_information.hearing) }}
                </div>
                <div>
                    {{ form.speech.label }}
                    {{ form.speech(value=student.health_information.speech) }}
                </div>
                <div>
                    {{ form.general_health.label }}
                    {{ form.general_health(value=student.health_information.general_health) }}
                </div>
                <div>
                    {{ form.experienced_sickness.label }}
                    {{ form.experienced_sickness(value=student.health_information.experienced_sickness) }}
                </div>

                <!-- Fields from EducationalBackground model -->
                <div>
                    {{ form.senior_high_school.label }}
                    {{ form.senior_high_school(value=student.educational_background.senior_high_school) }}
                </div>
                <div>
                    {{ form.shs_strand.label }}
                    {{ form.shs_strand(value=student.educational_background.shs_strand) }}
                </div>
                <div>
                    {{ form.shs_graduation_year.label }}
                    {{ form.shs_graduation_year(value=student.educational_background.shs_graduation_year) }}
                </div>
                <div>
                    {{ form.junior_high_school.label }}
                    {{ form.junior_high_school(value=student.educational_background.junior_high_school) }}
                </div>
                <div>
                    {{ form.jhs_graduation_year.label }}
                    {{ form.jhs_graduation_year(value=student.educational_background.jhs_graduation_year) }}
                </div>
                <div>
                    {{ form.elementary_school.label }}
                    {{ form.elementary_school(value=student.educational_background.elementary_school) }}
                </div>
                <div>
                    {{ form.elementary_graduation_year.label }}
                    {{ form.elementary_graduation_year(value=student.educational_background.elementary_graduation_year) }}
                </div>

                <!-- Fields from PsychologicalAssessments model -->
                <div>
                    {{ form.learning_styles.label }}
                    {{ form.learning_styles(value=student.psychological_assessments.learning_styles) }}
                </div>
                <div>
                    {{ form.personality_test.label }}
                    {{ form.personality_test(value=student.psychological_assessments.personality_test) }}
                </div>
                <div>
                    {{ form.iq_test.label }}
                    {{ form.iq_test(value=student.psychological_assessments.iq_test) }}
                </div>

            </div>
            <div>
                {{ form.submit }}
            </div>
            <div>
                <a href="{{ url_for('student_record', student_id=student.student_id) }}">
                    <button type="button">Cancel</button>
                </a>
            </div>
        </form>
    </div>
{% endblock %}
