{% extends "components/base.html" %} {% block title %} Mindsight - IHK{%
endblock %} {% block styles %}
<link rel="stylesheet" href="/static/css/colleges-main.css" />
{% endblock %} {% block content %}

<div class="right">
  <div class="main">
    <div class="main-header">
      <span>IHK: INSTITUTE OF HUMAN KINETICS</span>
      <p>
        Please click on the following <b>DEPARTMENTS</b> to view the
        corresponding records:
      </p>
    </div>
    <div class="department">
      <div class="department-row">
        <div class="department-name">Department of Physical Education</div>
        <div class="year-level">
          <button class="year-button">1</button>
          <button class="year-button">2</button>
          <button class="year-button">3</button>
          <button class="year-button">4</button>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

<!-- block template -->

<!-- <div class="department-row">
    <div class="department-name">#</div>
    <div class="year-level">
      <button class="year-button">1</button>
      <button class="year-button">2</button>
      <button class="year-button">3</button>
      <button class="year-button">4</button>
    </div>
  </div> -->
