{% extends "components/base.html" %} {% block title %} Mindsight - {{ college }}
{%endblock %} {% block styles %}
<link rel="stylesheet" href="/static/css/records.css" />
{% endblock %} {% block content %}

<div class="right">
  <div class="main">
    <div class="main-header">
      <span>{{ college_name }}</span>
      <div class="back-button">
        <a href="{{ get_back_url(college) }}">
            <img src="/static/SVG/back_button.svg" />
        </a>
    </div>
    
    </div>
    <!-- <p>The records below are for <b>xxx - YEAR.</b></p> -->
    <div class="search-upload-container">
      <div class="search-container">
        <form method="GET" action="{{ url_for('search', query=query) }}">
          <div class="search-bar">
            <input
              type="text"
              placeholder="Search"
              name="query"
              value="{{query}}"
            />
            <button type="submit">
              <img src="/static/students/search.png" alt="search" />
            </button>
          </div>
        </form>
      </div>

      <div class="filter">
        <select name="filterby">
          <option value="" disabled selected>Filter by:</option>
          <option value="date">Date</option>
          <option value="control_no">Control No.</option>
          <option value="student_no">Student No.</option>
          <option value="concern">Nature of Concern</option>
        </select>
      </div>
    </div>

    <!-- archive button -->
    <div class="archive-flex-container">
      <div class="archive-container">
        <img
          src="/static/archive-button.png"
          alt="archive"
          class="archive-button"
        />
      </div>
    </div>

    <!-- flex grid -->
    <div class="grid-header">
      <div class="grid-checkbox"></div>
      <div class="grid-section">Student ID</div>
      <div class="grid-name">Name</div>
      <div class="grid-gender">Gender</div>
      <div class="grid-counselor">Counselor</div>
      <div class="grid-status">Status</div>
      <div class="grid-remark">Remarks</div>
    </div>
    <div class="grid-container">
      <!-- sample data rows -->
      <div class="row-container">
        {% for student in data %} {% if student.college == college%}
        <a
          href="{{ url_for('student_record', student_id=student.student_id) }}"
          class="grid-row"
        >
          <div class="grid-checkbox"><input type="checkbox" /></div>
          <div class="grid-section">{{ student.student_id }}</div>
          <div class="grid-name">
            {{ student.last_name }}, {{ student.first_name }}
          </div>
          <div class="grid-gender">{{ student.gender }}</div>
          <div class="grid-counselor">{{ student.counselor }}</div>
          <div class="grid-status">{{ student.status }}</div>
          <div class="grid-remark">{{ student.remarks }}</div>
        </a>
        {% endif %} {% endfor %}
        <!-- Add more rows as needed -->
      </div>
    </div>
  </div>

  {% endblock %}
</div>
