{% extends "components/base.html" %} {% block title %} Mindsight - {{ student_data[0]['student_id'] }}{%endblock %} {% block styles %}
<link rel="stylesheet" href="/static/css/student-record.css" />
{% endblock %} {% block content %}

<div class="right">
    <div class="main">
        <!-- Header -->
        <div class="main-header">
            <h1 class="college"> {{student_data[0]['college']}} </h1>
            <h1 class="name"> {{student_data[0]['first_name']}} {{student_data[0]['last_name']}} </h1>
            <div class="vl"></div>
            <div class="student-id">
                <h1 class="id">Student ID: &nbsp;</h1>
                <h1 class="id">{{student_data[0]['student_id']}}</h1>
            </div>
            <div class="back-button">
                <a href="{{ url_for ('college_records', college=student_data[0]['college'])}}">
                    <img src="/static/SVG/back_button.svg"/>
                </a>
            </div>
        </div>

        <!-- Nature, Identity, Campus, and Age -->
        <div class="rows">
            <div class="row1">
                <div class="nature-content">
                    <h1 class="title">Status: &nbsp;</h1>
                    <h1 class="answer">Enrolled</h1>
                </div>
                <div class="identity-content">
                    <h1 class="title">Identity: &nbsp;</h1>
                    <h1 class="answer">{{student_data[0]['gender']}}</h1>
                </div>
            </div>
            <div class="row2">
                <div class="campus-content">
                    <h1 class="title">Campus: &nbsp;</h1>
                    <h1 class="answer">{{student_data[0]['campus']}}</h1>
                </div>
                <div class="age-content">
                    <h1 class="title">Age: &nbsp;</h1>
                    <h1 class="answer">{{student_data[0]['age']}}</h1>
                </div>
            </div>
        </div> 

        <!-- Full records -->
        <div class="full-records-button">
            <button class="view-records" id="view">
                <h1 class="title">View full records &nbsp;</h1>
                <img src="/static/SVG/view_button.svg"/>    
            </button>
            <div class="edit-print-button">
                <div class="edit">
                    <a href={{ url_for('edit_record', student_id=student_data[0]['student_id']) }}>
                        <img src="{{url_for('static', filename='edit-button.png')}}"/>
                    </a>
                </div>
                <div class="print">
                    <a href={{ url_for('print_record', student_id=student_data[0]['student_id']) }}>
                        <img src="{{url_for('static', filename='print-button.png')}}"/>
                    </a>
                </div>
            </div>
        </div>
        
        <div id="studentDetails" class="full-records">
            <span>Client History and Information</span>
            <div class="info">
                <!-- Basic Information -->
                <div class="basic-info">
                    <h1 class="title">Basic Information</h1>
                    <div class="basic-info-column-content">
                        <div class="basic-info-column1">
                            <div class="details">
                                <h1>Client's Name: &nbsp;</h1>
                                <h1 class="data">{{student_data[0]['first_name']}} {{student_data[0]['last_name']}}</h1>
                            </div>
                            <div class="details">
                                <h1>Course/Department: &nbsp;</h1>
                                <h1 class="data">{{student_data[0]['college']}}</h1>
                            </div>
                            <div class="details">
                                <h1>Date of Birth: &nbsp;</h1>
                                <h1 class="data">{{student_data[0]['date_of_birth']}}</h1>
                            </div>
                            <div class="details">
                                <h1>Gender: &nbsp;</h1>
                                <h1 class="data">{{student_data[0]['gender']}}</h1>
                            </div>
                            <div class="details">
                                <h1>Nationality: &nbsp;</h1>
                                <h1 class="data">{{student_data[0]['nationality']}}</h1>
                            </div>
                            <div class="details">
                                <h1>Home Address: &nbsp;</h1>
                                <h1 class="data">{{student_data[0]['residence']}}</h1>
                            </div>
                            <div class="details">
                                <h1>Email Address: &nbsp;</h1>
                                <h1 class="data">{{student_data[0]['contact_number']}}</h1>
                            </div>
                        </div>
                        <div class="basic-info-column2">
                            <div class="details">
                                <h1>Student's Number: &nbsp;</h1>
                                <h1 class="data">{{student_data[0]['student_id']}}</h1>
                            </div>
                            <div class="details">
                                <h1>Grade/Yr. Level: &nbsp;</h1>
                                <h1 class="data">{{student_data[0]['year_level']}}</h1>
                            </div>
                            <div class="details">
                                <h1>Age: &nbsp;</h1>
                                <h1 class="data">{{student_data[0]['age']}}</h1>
                            </div>
                            <div class="details">
                                <h1>Civil Status: &nbsp;</h1>
                                <h1 class="data">{{student_data[0]['']}}</h1>
                            </div>
                            <div class="details">
                                <h1>Religion: &nbsp;</h1>
                                <h1 class="data">{{student_data[0]['religion']}}</h1>
                            </div>
                            <div class="details">
                                <h1>Phone No.: &nbsp;</h1>
                                <h1 class="data">{{student_data[0]['contact_number']}}</h1>
                            </div>
                            <div class="details">
                                <h1>Cellphone No.: &nbsp;</h1>
                                <h1 class="data">{{student_data[0]['contact_number']}}</h1>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Guardian Information -->
                <div class="guardian-info">
                    <div class="guardian-info-column-content">
                        <div class="guardian-info-column1">
                            <div class="details">
                                <h1>Name of Guardian: &nbsp;</h1>
                                <h1 class="data">{{student_data[0]['mother_first_name']}} {{student_data[0]['mother_last_name']}}</h1>
                            </div>
                            <div class="details">
                                <h1>Address of Guardian: &nbsp;</h1>
                                <h1 class="data">{{student_data[0]['residence']}}</h1>
                            </div>
                        </div>
                        <div class="guardian-info-column2">
                            <div class="details">
                                <h1>Guardian's Contact No.: &nbsp;</h1>
                                <h1 class="data">{{student_data[0]['contact_number']}}</h1>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Referral Source -->
                <div class="referral-content">
                    <h1 class="title">Referral Source</h1>
                    <h1 class="referral-title">Who referred you to our office, or how did you learn about our service?</h1>
                    <p class="referral-data"> Lorem ipsum dolor sit amet consectetur. Arcu eget adipiscing mattis pharetra tellus tempus ipsum fermentum.</p>
                </div>

                <!-- Emergency Contact Information -->
                <div class="emergency-info-content">
                    <h1 class="title">Emergency Contact Information</h1>
                    <div class="emergency-info-column-content">
                        <div class="emergency-info-column1">
                            <div class="details">
                                <h1>Name: &nbsp;</h1>
                                <h1 class="data">{{student_data[0]['mother_first_name']}} {{student_data[0]['mother_last_name']}}</h1>
                            </div>
                            <div class="details">
                                <h1>Address: &nbsp;</h1>
                                <h1 class="data">{{student_data[0]['residence']}}</h1>
                            </div>
                        </div>
                        <div class="emergency-info-column2">
                            <div class="details">
                                <h1>Relationship: &nbsp;</h1>
                                <h1 class="data">Mother</h1>
                            </div>
                            <div class="details">
                                <h1>Cellphone No.: &nbsp;</h1>
                                <h1 class="data">{{student_data[0]['contact_number']}}</h1>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- History Information -->
                <div class="history-info-content">
                    <h1 class="title">History Information</h1>
                    <h1 class="history-question1">Who is providing the history information?</h1>
                    <div class="radio-buttons">
                        <div class="client">
                            <input type="radio" id="client" value="The Client">
                            <label for="client">The Client</label>
                        </div>
                        <div class="guardian">
                            <input type="radio" id="guardian" value="The client’s guardian">
                            <label for="guardian">The client’s guardian</label>
                        </div>
                        <div class="other">
                            <input type="radio" id="other" value="Other">
                            <label for="other">Other</label>
                        </div>
                    </div>

                    <h1 class="history-question2">Please describe the current complaint or problem as specifically as you can, in your own words.</h1>
                    
                    
                </div>
            





            </div>
        </div>
    </div>
</div>
</body>

<script src={{ url_for('static', filename='javascript/cdn/sweetalert2.all.min.js') }}></script>
<script src={{ url_for('static', filename='javascript/student_record.js') }}></script>
{% endblock %}
