body {
    padding: 2em;
    background-color: var(--white);
    overflow-x: hidden;
}

* {
    transition: var(--smooth-transition);
    box-sizing: border-box;
}

/* for tooltips */
.tooltip {
    padding-left: 5px;
    position: relative;
    display: inline-block;
    border: none;
}

.tooltip img {
    aspect-ratio: 1/1;
    max-height: 20px;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 20vw;
    background-color: var(--primary-color);
    opacity: 0.9;
    color: var(--white);
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}




/* top header font size */
.main-header {
    font-size: 1.8em !important;
}

/* style for all text headers */
header {
    text-align: center;
    font-family: Lexend-bold;
    font-size: 1.5em;
    color: var(--primary-color);
    margin: 10px 0;
}

hr {
    border-top: 1px solid var(--bg-orange);
    width: 100%;
}

main {
    /* background-color: rgba(255, 0, 0, 0.092); */
    display: flex;
    flex-direction: column;


}

/* keeps everything aligned */
.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* main styling layout per section */
.basic-information, .referral, .emergency, .historyinfo, .prevtreatment, .medhistory, .famhistory, .sochistory, .educhistory, .occuhistory, .subsabuse, .legalhistory, .additionalinfo, .personalagree, .refinfo, .confidential {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    justify-content: center;
}


/* double-column format */
.double-column {
    display: flex;
    width: 100%;
    padding: 0 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.double-column div {
    width: auto;
    display: flex;
    margin-bottom: 7px;
}

/* input style */
input, select {
    width: 200px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid var(--primary-color);
    color: var(--fade-text-blue);
}

/* input placeholder style */
input::placeholder {
    opacity: 0.5;
    color: var(--fade-text-blue);
}

.confidential select {
    width: 100%;
}


.single-column {
    display: flex;
    width: 100%;
    padding: 0 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.single-column div {
    width: 400px;
    display: flex;
    margin-bottom: 7px;
}

.single-column div:last-child {
    margin-bottom: 0;
}

.form-width100 {
    display: flex;
    width: 100%;
}


label {
    width: 200px !important;
    color: var(--primary-color);
    font-family: Lexend-bold;
    display: flex;
    align-items: center;
}

.left-align {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
    padding: 0 20px;
    margin-bottom: 7px;
    color: var(--primary-color);
}






/* left-align referral label main style */
.referral label, .left-align label {
    width: 100% !important;
    margin-bottom: 7px;
}



/* radio container style */
.radio-inline-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;

}

.radio-inline-container div {
    display: flex;
    flex-direction: row;
    padding-right: 20px;
}

.radio-inline-container label {
    margin: 0 !important;
}

.radio-inline-container input:not([type="text"]) {
    display: flex;
    width: 20px !important;
    aspect-ratio: 1/1;
}


/* left align style for the list of checkboxes */
.left-align-checkbox {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
    padding: 0 20px;
    margin-bottom: 7px;
    color: var(--primary-color);
    list-style: none;
    margin: 0;
}

.left-align-checkbox li {
    column-gap: 5px;
    margin-bottom: 7px;

}

.left-align-checkbox label {
    width: auto !important;
    font-family: Lexend-regular;
    display: inline-block;
}


/* roundes checkboxes but eliminates the checkmark */
.checkbox-round {
    width: auto;
    aspect-ratio: 1/1;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid var(--primary-color);
    appearance: none;
    appearance: none;
    outline: none;
    cursor: pointer;
}

.checkbox-round:checked {
    background-color: #0075ff;
}


/* style for spanning the label and input at the same line */
.single-column-span {
    flex-direction: row;
}

.single-column-span label {
    width: 200px !important;
}


/* for three column layouts */
.tri-column {
    display: flex;
}



/* table format */
table {
    border-collapse: collapse;
    width: calc(100% - 40px);
    padding: 0 7px;
    margin-bottom: 7px;
}

th, td {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    padding: 10px 15px;
    text-align: center;
}


/* personal agreements container style */
.personalagree .container, .refinfo .container, .confidential .container {
    width: calc(100% - 40px);
    height: auto;
    margin: 20px 0;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    padding: 10px 20px;
    color: var(--primary-color);
}


.tac {
    display: flex;
}

.tac label {
    width: auto !important;
}

.tac input {
    width: 20px;
    aspect-ratio: 1/1;
    margin-right: 10px;
}

.tacdatetime {
    margin-top: 10px;
    width: 342px;
}


.form-btn-container {
    display: flex;
    width: 100%;
    padding: 0 20px;
    column-gap: 20px;
    margin: 5px 0 10px;
    justify-content: flex-start;
}


.update-btn {
    width: 200px;
    padding: 7px 62px;
    font-family: Lexend-regular;
    font-size: 1em;
    cursor: pointer;
    background-color: var(--primary-color);
    color: white;
    border-radius: 20px;
    border: none;
}

.cancel-btn {
    width: 200px;
    padding: 7px 62px;
    font-family: Lexend-regular;
    font-size: 1em;
    cursor: pointer;
    border-radius: 20px;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
}

.update-btn:hover {
    background-color: #084b65;
}

/* responsiveness */
@media screen and (width <=1127px) {
    .double-column, .single-column, .left-align, .left-align-checkbox {
        justify-content: center;
    }

    .left-align, .left-align-checkbox {
        width: 400px !important;
        padding: 0;
    }

    .personalagree .container, .refinfo .container, .confidential .container {
        width: 400px !important;
    }



    .left-align-checkbox li {
        background-color: #f3ded0;
        border-radius: 5px;
    }

    .single-column-span, .resp, .tri-column, .raisedby, .relby {
        flex-direction: column;
    }


    .treatmenttype {
        display: flex;
        flex-direction: column;
    }

    .treatmenttype label {
        padding-right: 0;
    }

    .referral {
        width: 358px !important;
    }



}

/* sweet alert/modal style */
.swal2-popup {
    color: var(--bg-orange);
    font-size: 1.7rem;
    background: var(--main-db-bg-color);
    border-radius: 1.5rem;
    box-shadow: 2px 2px 15px 10px rgb(0 0 0 / 40%);
    padding-bottom: 2em;
    width: 40%;
    height: auto;
}

.swal2-title {
    font-size: 2.5rem;
    font-weight: 800;
    line-height: normal;
    color: var(--primary-color);
}

.swal2-icon {
    border: none;
}

.custom-icon {
    aspect-ratio: 1/1;
    width: 1.5em;
    margin: 0;
    padding: 0;
}

.swal2-confirm.confirm-button-class,
.swal2-cancel.cancel-button-class {
    padding: 0.5em 2em;
    font-size: 1.2rem;
    border-radius: 1em;
}

.swal2-confirm.confirm-button-class {
    color: var(--white);
    background-color: var(--primary-color);

}

.swal2-cancel.cancel-button-class {
    color: var(--primary-color);
    background-color: transparent;
    border: 2px solid var(--primary-color);
}