body {
    padding: 2em;
    background-color: var(--white);
    overflow-x: hidden;
}

* {
    transition: var(--smooth-transition);
    box-sizing: border-box;
}

/* for tooltips */
.tooltip {
    padding-left: 5px;
    position: relative;
    display: inline-block;
    border: none;
}

.tooltip img {
    aspect-ratio: 1/1;
    max-height: 20px;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 20vw;
    background-color: var(--primary-color);
    opacity: 0.9;
    color: var(--white);
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}




/* top header font size */
.main-header {
    font-size: 1.8em !important;
}

/* style for all text headers */
header {
    text-align: center;
    font-family: Lexend-bold;
    font-size: 1.5em;
    color: var(--primary-color);
    margin: 10px 0;
}

hr {
    border-top: 1px solid var(--bg-orange);
    width: 100%;
}

main {
    /* background-color: rgba(255, 0, 0, 0.092); */
    display: flex;
    flex-direction: column;


}

/* keeps everything aligned */
.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* main styling layout */
.basic-information, .referral, .emergency, .historyinfo, .prevtreatment, .medhistory {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    justify-content: center;

    /* background-color: rgba(0, 0, 255, 0.249); */
}


/* double-column format */
.double-column {
    display: flex;
    width: 100%;
    padding: 0 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.double-column div {
    width: auto;
    display: flex;
    margin-bottom: 7px;
}

/* input style */
input, select {
    width: 200px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid var(--primary-color);
    color: var(--fade-text-blue);
}

/* input placeholder style */
input::placeholder {
    opacity: 0.5;
    color: var(--fade-text-blue);
}



.single-column {
    display: flex;
    width: 100%;
    padding: 0 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.single-column div {
    width: 400px;
    display: flex;
    margin-bottom: 7px;
}

.single-column div:last-child {
    margin-bottom: 0;
}

.form-width100 {
    display: flex;
    width: 100%;
}


label {
    width: 200px !important;
    color: var(--primary-color);
    font-family: Lexend-bold;
    display: flex;
    align-items: center;
}

.left-align {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
    padding: 0 20px;
    margin-bottom: 7px;
    color: var(--primary-color);
}






/* left-align referral label main style */
.referral label, .left-align label {
    width: 100% !important;
    margin-bottom: 7px;
}



/* radio container style */
.radio-inline-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;

}

.radio-inline-container div {
    display: flex;
    flex-direction: row;
    padding-right: 20px;
}

.radio-inline-container label {
    margin: 0 !important;
}

.radio-inline-container input:not([type=text]) {
    display: flex;
    width: 20px !important;
    aspect-ratio: 1/1;
}

/* hides "other" text box if not selected initially */
.hidden {
    width: 0 !important;
    opacity: 0;
    pointer-events: none;
}



/* left align style for the list of checkboxes */
.left-align-checkbox {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
    padding: 0 20px;
    margin-bottom: 7px;
    color: var(--primary-color);
    list-style: none;
    margin: 0;
}

.left-align-checkbox li {
    column-gap: 5px;
    margin-bottom: 7px;

}

.left-align-checkbox label {
    width: auto !important;
    font-family: Lexend-regular;
    display: inline-block;
}


/* roundes checkboxes but eliminates the checkmark */
.checkbox-round {
    width: auto;
    aspect-ratio: 1/1;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid var(--primary-color);
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.checkbox-round:checked {
    background-color: #0075ff;
}


/* style for spanning the label and input at the same line */
.single-column-span {
    flex-direction: row;
}

.single-column-span label {
    width: 200px !important;
}


/* for three column layouts */
.tri-column{
    display: flex;
}





/* responsiveness. is this even needed? */
@media screen and (width <=1127px) {
    .double-column, .single-column, .left-align, .left-align-checkbox {
        justify-content: center;
    }

    .left-align, .left-align-checkbox {
        width: 400px !important;
        padding: 0;
    }

    .left-align-checkbox li {
        background-color: #f3ded0;
        border-radius: 5px;
    }

    .single-column-span, .resp, .tri-column {
        flex-direction: column;
    }


}