body {
    padding: 2em;
    background-color: var(--white);
}

* {
    transition: var(--smooth-transition);
    box-sizing: border-box;
}






/* top header font size */
.main-header {
    font-size: 1.8em !important;
}

/* style for all text headers */
header {
    text-align: center;
    font-family: Lexend-bold;
    font-size: 1.5em;
    color: var(--primary-color);
    margin: 10px 0;
}

hr {
    border-top: 1px solid var(--bg-orange);
}

main {
    /* background-color: rgba(255, 0, 0, 0.092); */

}

.center {
    display: flex;
    justify-content: center;
    width: 100%;
}

.basic-information {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    justify-content: center;
    /* background-color: rgba(0, 0, 255, 0.249); */
}


/* double-column format */
.double-column {
    display: flex;
    width: 100%;
    padding: 0 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.double-column div {
    width: auto;
    display: flex;
    margin-bottom: 7px;
}

/* input type text for double and single -column formats */
.double-column input[type="text"],
.single-column input[type="text"],
.double-column input[type="number"],
.single-column input[type="number"],
.double-column select {
    width: 200px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid var(--primary-color);
    color: var(--fade-text-blue);
}

.double-column input::placeholder, .single-column input::placeholder, .single-column-span input::placeholder {
    opacity: 0.5;
    color: var(--fade-text-blue);
}



.single-column {
    display: flex;
    width: 100%;
    padding: 0 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.single-column div {
    width: 400px;
    display: flex;
    margin-bottom: 7px;
}

.single-column div:last-child {
    margin-bottom: 0;
}


label {
    width: 200px !important;
    color: var(--primary-color);
    font-family: Lexend-bold;
    display: flex;
    align-items: center;
}





/* responsiveness */
@media screen and (max-width: 1127px) {
    .double-column, .single-column {
        justify-content: center;
    }
}