main {
    position: absolute;
    top: 50%;
    left: 53%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: var(--primary-color);
    text-align: center;
    font-size: 25px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-bottom: 25px;
}

.name, .title {
    color: var(--white);
    padding: 0;
    margin: 5px;
}

.name {
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.title {
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#direct {
    font-size: 25px;
    text-align: right;
}

#direct-title {
    font-size: 20px;
    text-align: right;
}

#asst-direct {
    font-size: 25px;
    text-align: left;
}

#asst-direct-title {
    font-size: 20px;
    text-align: left;
}

.frame {
    width: 1380px;
    height: 670px;
    border-radius: 20px;
    border: 3px solid var(--bg-orange);
    padding: 45px 15px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.directors {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 36px;
}

.container-director {
    width: 1000px;
    height: 80px;
    border-radius: 15px;
    background-color: var(--primary-color);
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    padding: 3px 65px;
}

.circle1 {
    position: absolute;
    top: 23.5%;
    left: 87%;
    transform: translate(-50%, -50%);
}

.circle2 {
    position: absolute;
    top: 39%;
    left: 13%;
    transform: translate(-50%, -50%);
}

.facilitators {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.iris-russel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 13px;
}

.jake-lizelle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 13px;
}

.container-facilitator {
    width: 490px;
    height: 65px;
    border-radius: 15px;
    background-color: var(--primary-color);
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    padding: 4px 50px;
    margin: 5px 10px;
}

#iris, #jake {
    font-size: 18px;
    text-align: left;
}

#iris-title, #jake-title {
    font-size: 14px;
    text-align: left;
}

#russel, #lizelle {
    font-size: 18px;
    text-align: right;
}

#russel-title, #lizelle-title {
    font-size: 14px;
    text-align: right;
}

.circle3 {
    position: absolute;
    top: 69.5%;
    left: 87%;
    transform: translate(-50%, -50%);
}

.circle4 {
    position: absolute;
    top: 69.5%;
    left: 13%;
    transform: translate(-50%, -50%);
}

.circle5 {
    position: absolute;
    top: 84.6%;
    left: 87%;
    transform: translate(-50%, -50%);
}

.circle6 {
    position: absolute;
    top: 84.6%;
    left: 13%;
    transform: translate(-50%, -50%);
}

/* Sidebar active indicator */
.sidebar-buttons .admin-indicator::before {
    content: "";
    position: relative;
    left: 0;
    height: 25px;
    border-left: 7px solid var(--bg-orange);
    border-radius: 0 3px 3px 0;
    transform: translateX(-25px);
}

.admin-indicator img, .admin-indicator span {
    transform: translateX(-7px);
}