.right {
    display: flex;
    justify-content: center;
    width: calc(100% - 73px);
    height: 100vh;

    /* positions right div properly */
    margin-left: 73px;

    /* background-color: var(--main-db-bg-color); */
    padding: 40px;
}



.main {
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border: 3px solid var(--bg-orange);
    padding: 20px;
    background-color: var(--white);
}



/* header */
.main-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    color: var(--primary-color);
}

.main-header span {
    justify-content: center;
    font-size: 2.2em;
    font-weight: bold;
    border-bottom: 2px solid var(--bg-orange);
    display: flex;
    padding-bottom: 10px;
}



/* Counselor buttons */
.counselors {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    column-gap: 1.2em;
}

.counselors a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 3px solid var(--primary-color);
    border-radius: 10px;
    flex: 1;
    flex-basis: 25%;
    padding: 10px;
    transition: var(--smooth-transition);
    text-decoration: none;
}

.counselors a:hover {
    border: 3px solid var(--bg-orange);
}

.counselors a span {
    color: var(--primary-color);
}

.btn {
    background:none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

.btn span {
    color: var(--primary-color);
}

/* records container */
.recent-records {
    display: flex;
    flex-direction: column;
    overflow: auto;
    margin-top: 5px;
}

/* "Recent counselors who counseled.." */
.recent-records span {
    margin: 20px 0;
    font-family: Lexend-Bold;
    color: var(--primary-color);
}

/* main table */
table {
    border-collapse: collapse;
    width: 100%;
    overflow: auto;
}


/* keeps text to left */
td, th {
    text-align: left;
    padding: 8px;
}

td{
    color: var(--primary-color);
}

tr:not(:first-child){
    cursor: pointer;
}

tr:hover {
    background-color: var(--bg-orange) !important;
}

/* keeps the header at the top */
th {
    position: sticky;
    top: 0;
    background-color: var(--primary-color);
    color: var(--white);
}


/* enables the scrolling automatically */
.scrollable {
    display: flex;
    overflow-y: auto;
    width: auto;
    background-color: #C5CFC6;
    border: 3px solid var(--primary-color);
    border-radius: 10px 0 0 10px;
}

tr:nth-child(even) {
    background-color: var(--main-db-bg-color);
}



/* Sidebar active indicator */
.sidebar-buttons #admin-container::before {
    content: "";
    position: relative;
    left: 0;
    height: 25px;
    border-left: 7px solid var(--bg-orange);
    border-radius: 0 3px 3px 0;
    transform: translateX(-25px);
}

#admin-container img, #admin-container span {
    transform: translateX(-7px);
}