.right {
    display: flex;
    justify-content: center;
    width: calc(100% - 73px);
    height: 100vh;

    /* positions right div properly */
    margin-left: 73px;
    padding: 40px;
}

.main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    row-gap: 10px;
}

.semester-content {
    height: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title {
    color: var(--primary-color);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    text-align: left;
    border-bottom: 2px solid var(--bg-orange);
    padding-bottom: 0.3em;
    margin-bottom: 0.3em;
}

.semester-left {
    display: flex;
    justify-content: space-around;
    column-gap: 20px;
    align-items: center;
}

.metrics-button {
    margin-left: auto;
}


#analytics {
    font-size: 1.5rem !important;
    height: 5%;
}

#analytics, #compare {
    color: var(--primary-color);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
}

select, .metrics {
    width: auto;
    height: auto;
    background-color: var(--primary-color);
    color: #FFF;
    border: 5px solid var(--primary-color);
    border-radius: 10px;
    padding: 10px;
    transition: var(--smooth-transition);
}

option {
    background-color: #FFF;
    color: var(--primary-color);
}

.metrics:hover {
    background-color: var(--bg-orange);
    border: none;
}

.row-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    height: 90%;
    row-gap: 20px;
}

.row1, .row2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    column-gap: 20px;
    width: 100%;
    height: 50%;
}

.experience-container, .college-container {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    border: 3px solid var(--bg-orange);
    padding: 0.8em;
}

.campus-container {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    border: 3px solid var(--bg-orange);
    padding: 0.8em;
}

.nature-container, .identity-container {
    width: 31%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    border: 3px solid var(--bg-orange);
    padding: 0.8em;
}

.religion-container {
    width: 38%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    border: 3px solid var(--bg-orange);
    padding: 0.8em;
}

#experience, #college, #campus,
#nature, #religion, #identity {
    width: 100%;
}

#myChart5, #myChart6{
    max-width: 180px;
    max-height: 180px;
    margin: 0 auto;
}

/* Sidebar active indicator */
.sidebar-buttons #analytics-container::before {
    content: "";
    position: relative;
    left: 0;
    height: 25px;
    border-left: 7px solid var(--bg-orange);
    border-radius: 0 3px 3px 0;
    transform: translateX(-25px);
}

#analytics-container img, #analytics-container span {
    transform: translateX(-7px);
}


/* White bg css */
.experience-container, .college-container, .campus-container, .nature-container, .religion-container, .identity-container{
    background-color: var(--white);
}