main {
    position: absolute;
    top: 50%;
    left: 53%;
    transform: translate(-50%, -50%);
    /* overflow: hidden; */
}

/* .canvas-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.5em;
} */

#myChart1, #myChart2, #myChart3, #myChart4, #myChart5 {
    width: auto;
    height: auto;
}

.main-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.experience-container {
    width: 400px;
    height: 670px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 3px solid var(--bg-orange);
    margin-right: 2.0em;
}

.college-container {
    width: 440px;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 3px solid var(--bg-orange);
    padding: 0 1.5em;
    margin: 0 2.0em 2.0em 0;
}

.nature-container {
    width: 440px;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 3px solid var(--bg-orange);
    margin-bottom: 2.0em;
}

.campus-container, .religion-container {
    width: 205px;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 3px solid var(--bg-orange);
    margin-right: 2.0em;
}

.identity-container {
    width: 440px;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 3px solid var(--bg-orange);
}

.column2-container, .column3-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row2-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.title {
    color: var(--primary-color);
    text-align: center;
    font-size: 25px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    text-align: left;
    border-bottom: 2px solid var(--bg-orange);
    padding-bottom: 15px;
    margin-bottom: 10px;
}

#college, #nature {
    width: 410px;
}

#campus, #religion {
    width: 175px;
}

#identity {
    width: 410px;
}

#experience {
    width: 370px;
}

/* Sidebar active indicator */
.sidebar-buttons #analytics-container::before {
    content: "";
    position: relative;
    left: 0;
    height: 25px;
    border-left: 7px solid var(--bg-orange);
    border-radius: 0 3px 3px 0;
    transform: translateX(-25px);
}

#analytics-container img, #analytics-container span {
    transform: translateX(-7px);
}