.right {
    display: flex;
    justify-content: center;
    width: calc(100% - 73px);
    height: 100vh;

    /* positions right div properly */
    margin-left: 73px;

    /* background-color: var(--main-db-bg-color); */
    padding: 40px;
}

.main-content {
    display: flex;
    flex-direction: column;
}

.semester-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.2em;
}

.header {
    width: 100%;
    height: 10%;
}

#analytics {
    margin-bottom: 0.5em;
}

.title {
    color: var(--primary-color);
    text-align: center;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    text-align: left;
    border-bottom: 2px solid var(--bg-orange);
    padding-bottom: 0.3em;
    margin-bottom: 0.3em;
}


.first-semester, .compare, .second-semester {
    margin: 0 1em;
}

.metrics-button {
    margin-left: 10em;
}

#analytics, #compare {
    color: var(--primary-color);
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
}

select, .metrics {
    width: auto;
    height: auto;
    background-color: var(--primary-color);
    color: #FFF;
    border: none;
    border-radius: 10px;
    padding: 0.5em;
}

.metrics:hover {
    background-color: var(--bg-orange);
    border: none;
}


#myChart1, #myChart2, #myChart3, 
#myChart4, #myChart5 , #myChart6{
    width: auto;
    height: auto;
}

.column1, .column2 {
    display: flex;
    flex-direction: row;
    margin: 1.0em 0;
    width: 100%;
    height: 45%;
}

.experience-container {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    border: 3px solid var(--bg-orange);
    margin-right: 2.0em;
    padding: 0.8em;   
}

.college-container {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    border: 3px solid var(--bg-orange);
    margin-right: 2.0em;
    padding: 0.8em;
}

.campus-container {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    border: 3px solid var(--bg-orange);
    padding: 0.8em;
}

.nature-container {
    width: 32.5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    border: 3px solid var(--bg-orange);
    margin-right: 2.0em;
    padding: 0.8em;
}

.religion-container {
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    border: 3px solid var(--bg-orange);
    margin-right: 2.0em;
    padding: 0.8em;
}

.identity-container {
    width: 32.5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    border: 3px solid var(--bg-orange);
    padding: 0.8em;
}

#experience, #college, #campus,
#nature, #religion, #identity {
    width: 100%;
}

/* Sidebar active indicator */
.sidebar-buttons #analytics-container::before {
    content: "";
    position: relative;
    left: 0;
    height: 25px;
    border-left: 7px solid var(--bg-orange);
    border-radius: 0 3px 3px 0;
    transform: translateX(-25px);
}

#analytics-container img, #analytics-container span {
    transform: translateX(-7px);
}