.right {
    display: flex;
    justify-content: center;
    width: calc(100% - 73px);
    height: 100vh;

    /* positions right div properly */
    margin-left: 73px;
    padding: 40px;
}



.main {
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border: 3px solid var(--bg-orange);
    padding: 20px;
    background-color: var(--white);
}


.main-header span {
    font-size: 2.2em;
    font-weight: bold;
    text-transform: uppercase;
}


* {
    transition: var(--smooth-transition);
    box-sizing: border-box;
}

.title-back {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 2px solid var(--bg-orange);
    padding: 0 0 0.5em;
}

.title-back span {
    font-family: Lexend-Black;
}

/* header */
.main-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    color: var(--primary-color);
    justify-content: space-between;
    margin-bottom: 1em;
}


.back-button button {
    cursor: pointer;
}

.back-button img {
    aspect-ratio: 1/1;
    width: 1.4em;
    position: relative;
}

.back-button:hover img {
    transform: translateX(-5px) scale(1.1);
}

p {
    color: var(--primary-color);
    font-size: 1.3rem;
    font-weight: bold;
}

.indicator {
    color: var(--bg-orange);
    font-weight: 700;
}

/* search */
.search-container {
    position: relative;
    width: 50%;
}

.search-bar {
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 5px;
}

.text {
    color: var(--primary-color);
    font-size: 1.3rem;
    font-weight: 700;
    text-transform: none;
}

.bottom-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.5em;
}

/* search input */
.search-bar input[type="text"] {
    color: var(--primary-color);
    flex: 1;
    border-radius: 40px;
    border: 2px solid var(--primary-color);
    padding: 15px 65px 15px 15px;
    background-color: transparent;
}

/* placeholder color */
.search-bar input[type="text"]::placeholder {
    color: var(--primary-color);
}

.search-bar button {
    background: none;
    border: none;
    padding: 5px;
    cursor: pointer;
    position: absolute;
    right: 20px;
}

.search-bar button img {
    height: 33px;
    aspect-ratio: 1 / 1;
}


/* grid rows */
.grid-container {
    display: flex;
    flex-direction: column;
    border-radius: 0 0 10px 10px;
    border: 3px solid var(--primary-color);
    background-color: var(--primary-color);
    overflow-y: auto;
    padding-bottom: 10px;
}

.grid-header {
    display: flex;
    background-color: var(--primary-color);
    color: var(--white);
    font-weight: bold;
    padding: 10px;
    justify-content: space-between;
    border-radius: 10px 10px 0 0;
}

.grid-row {
    display: flex;
    background-color: var(--main-db-bg-color);
    color: var(--primary-color);
    padding: 10px;
    justify-content: space-between;
    text-decoration: none;
}


/* individual sizes per column */
.grid-date {
    flex-basis: 14%;
}

.grid-section {
    flex-basis: 16%;
}

.grid-name {
    flex-basis: 25%;
}

.grid-college {
    flex-basis: 19%;
}

.grid-gender {
    flex-basis: 22%;
}

.grid-counselor {
    flex-basis: 26%;
}

.grid-status {
    flex-basis: 16%;
}

.grid-remark {
    flex-basis: 20%;
}

.grid-row:nth-child(even) {
    background-color: #C5CFC6;
}

.grid-row:hover {
    background-color: var(--bg-orange);
}

.grid-row:nth-child(even):hover {
    background-color: var(--primary-color);
    color: var(--white);
}

/* color for status */
.grid-status.active {
    color: green;
}

.grid-status.inactive {
    color: #565656;    ;
}

.grid-status.terminated {
    color: red;
}


/* Sidebar active indicator */
.sidebar-buttons #admin-container::before {
    content: "";
    position: relative;
    left: 0;
    height: 25px;
    border-left: 7px solid var(--bg-orange);
    border-radius: 0 3px 3px 0;
    transform: translateX(-25px);
}

#admin-container img, #admin-container span {
    transform: translateX(-7px);
}