main {
    position: absolute;
    top: 50%;
    left: 53%;
    transform: translate(-50%, -50%);
    padding: 0;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.title h1 {
    color: var(--primary-color);
    font-size: 25px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    text-align: left;
    margin-bottom: 11px;
    padding: 0;
}

.nature-college-container {
    width: 1380px;
    height: 330px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 3px solid var(--bg-orange);
    margin-bottom: 40px;
}

.nature-concern span {
    border-bottom: 2px solid var(--bg-orange);
}

.campus-counselor {
    width: 670px;
    height: 240px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 3px solid var(--bg-orange);
    margin-right: 20px;
}

.campus-clinic-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.college-summary, .nature-concern, .campus, .counselor {
    margin: 0;
    padding: 0;
}

.counselor1, .counselor2, .counselor3, .counselor4 {
    width: 180px;
    height: 30px;
    border-radius: 12px;
    background: #BECDD3;
    margin-bottom: 7px;
    padding: 5px 0 5px 15px;
}

.clinic-container {
    width: 670px;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 20px;
    border: 3px solid var(--bg-orange);
    margin-left: 20px;
    padding: 15px;
}

h1 {
    font-size: 22px;
    color: var(--primary-color);
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.seminar, .community, .consultation {
    width: 622px;
    height: 38px;
    border-radius: 12px;
    background: #75ACC1;
    padding: 8px 0 8px 15px;
    justify-content: center;
    align-items: center;
}

p {
    padding: 0;
    margin: 0;
}