.right {
    display: flex;
    flex-direction: row-reverse;
    width: calc(100% - 73px);
    height: 100vh;

    /* positions right div properly */
    margin-left: 73px;
    padding: 40px;
    column-gap: 20px;
}

.column1 {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.column2{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.column1, .column2 {
    row-gap: 20px;
}

.row1 {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}

.row1 {
    height: 65%;
    width: 100%;
}

.row2 {
    height: 35%;
    width: 100%;
}

.title-date span {
    font-size: 1.4rem;
    color: var(--primary-color);
}

.date {
    font-weight: 400;
}

.total-cases-container {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid var(--bg-orange);
    margin-bottom: 1em;
}

.title-total-cases div {
    font-size: 25px;
    color: var(--primary-color);
    font-family: Lexend-Black;
}

.title-total-cases {
    font-size: 25px;
    font-family: Lexend-Black;
    color: var(--bg-orange);
}


.title {
    font-size: 25px;
    color: var(--primary-color);
    font-style: normal;
    line-height: normal;
    border-bottom: 2px solid var(--bg-orange);
    padding-bottom: 0.3em;
    margin-bottom: 0.3em;
}

.title div {
    font-family: Lexend-Black;
}


/* White bg */
.experience-container, .total-cases, .terminated-cases, .bottom-container {
    background-color: var(--white);
}

.experience-container {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 3px solid var(--bg-orange);
    padding: 0.8em;
}

.total-cases, .terminated-cases, .bottom-container {
    height: 100%;
    border-radius: 20px;
    border: 3px solid var(--bg-orange);
    padding: 0.8em;
}


.bottom-container {
    justify-content: space-evenly;
    width: 100%;
}

.total-cases {
    width: 80%;
}

.terminated-cases {
    width: 20%;
}

.bottom-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.vl {
    rotate: -90;
    width: 1px;
    background-color: var(--bg-orange);
}


/* container of each experience type */
.progress-bar-container {
    position: relative;
    margin-bottom: 5px;
    background-color: var(--subtle-orange);
    padding: 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.progress-bar-label {
    color: var(--primary-color);
    font-family: Lexend-SemiBold;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.progress-bar-count {
    color: var(--white);
    padding: 0 20px;
    border-radius: 1em;
    background-color: var(--bg-orange);
    margin-right: 8px;
}

/* flexes "progress-bar-count" and "bar-flex" side-by-side */
.progress-flex-container {
    display: flex;
    flex-direction: row;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.content {
    width: 85%;
    height: 100%;
}

#title {
    font-size: 25px;
    color: var(--primary-color);
    font-style: normal;
    line-height: normal;
    margin-bottom: 0.3em;
}

#title div {
    font-family: Lexend-Black;
}



/* Sidebar active indicator */
.sidebar-buttons #dashboard-container::before {
    content: "";
    position: relative;
    left: 0;
    height: 25px;
    border-left: 7px solid var(--bg-orange);
    border-radius: 0 3px 3px 0;
    transform: translateX(-25px);
}

#dashboard-container img, #dashboard-container span {
    transform: translateX(-7px);
}

.print-button {
    transform: scale(0.9);
    rotate: 90deg;
}