.right {
    display: flex;
    justify-content: center;
    width: calc(100% - 73px);
    height: 100vh;

    /* positions right div properly */
    margin-left: 73px;

    /* background-color: var(--main-db-bg-color); */
    padding: 40px;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.title {
    font-size: 25px;
    color: var(--primary-color);
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}


/* case overview container (main) */
.nature-college-frame {
    width: 100%;
    height: 55%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.nature-college-container {
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 20px;
    border: 3px solid var(--bg-orange);
    align-items: center;
    margin-top: 10px;
    padding: 20px;
}

/* Case overview and Campus 50/50 separations */
.nature-content, .college-content, .campus-content, .counselor-content {
    width: 50%;
    height: 100%;
    display: flex;
    padding: 20px;
    flex-direction: column;
    box-sizing: border-box;
}


.campus-counselor {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;
    border: 3px solid var(--bg-orange);
    margin-top: 10px;
}



/* campus and clinic activities container (inner) */
.campus-clinic-container {
    width: 100%;
    height: 40%;
    display: flex;
    column-gap: 20px;
    margin-top: 40px;
}


.counselor-content {
    justify-content: space-evenly;
}

.counselor-content div {
    padding: 5px 10px;
    margin: 2px 0;
    border-radius: 10px;
    background: #BECDD3;
    color: var(--primary-color);
}




h1 {
    margin-top: 0;
    font-size: 1em;
    color: var(--primary-color);
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}


p {
    padding: 0;
    margin: 0;
}



#myChart1, #myChart2, #myChart3 {
    width: auto;
    height: auto;
}


/* container for "Campus" */
.campus-title, .clinic-title {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}




/* vertical lines */
.campus-counselor-vl,
.nature-college-vl {
    border-left: 2px solid var(--bg-orange);
    height: 85%;
    margin: 0 10px;
}

.clinic-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    /* justify-content: space-evenly; */
    align-items: center;
    border-radius: 20px;
    border: 3px solid var(--bg-orange);
    margin-top: 10px;
    row-gap: 10px;
    padding: 10px;
}

.clinic-container div {
    display: flex;
    width: 100%;
    border-radius: 12px;
    padding: 15px 20px;
    background: #75ACC1;
    color: var(--primary-color);
}

/* Sidebar active indicator */
.sidebar-buttons #dashboard-container::before {
    content: "";
    position: relative;
    left: 0;
    height: 25px;
    border-left: 7px solid var(--bg-orange);
    border-radius: 0 3px 3px 0;
    transform: translateX(-25px);
}

#dashboard-container img, #dashboard-container span {
    transform: translateX(-7px);
}