.right {
    display: flex;
    justify-content: center;
    width: calc(100% - 73px);
    height: 100vh;

    /* positions right div properly */
    margin-left: 73px;

    /* background-color: var(--main-db-bg-color); */
    padding: 40px;
}



.main {
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border: 3px solid var(--bg-orange);
    padding: 20px;
}



/* header */
.main-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    color: var(--primary-color);
}

.main-header span {
    font-size: 2.2em;
    font-weight: bold;
    border-bottom: 2px solid var(--bg-orange);
    display: flex;
    padding-bottom: 10px;
}

/* search */
.search-container {
    position: relative;
    width: 50%;
}

.search-bar {
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 5px;
}

/* search input */
.search-bar input[type="text"] {
    color: #095371;
    flex: 1;
    border-radius: 40px;
    border: 2px solid #095371;
    padding: 15px 65px 15px 15px;
    background-color: transparent;
}

/* placeholder color */
.search-bar input[type="text"]::placeholder {
    color: #095371;
}

.search-bar button {
    background: none;
    border: none;
    padding: 5px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: calc(50% - 20px);
}

.search-bar button img {
    height: 33px;
    aspect-ratio: 1 / 1;
}