.right {
    display: flex;
    justify-content: center;
    width: calc(100% - 73px);
    height: 100vh;

    /* positions right div properly */
    margin-left: 73px;

    /* background-color: var(--main-db-bg-color); */
    padding: 40px;
}

.main {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border: 3px solid var(--bg-orange);
    padding: 20px;
    background-color: var(--white);
}

/* header */
.main-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10%;
    color: var(--primary-color);
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--bg-orange);
    margin-bottom: 1em;
    padding: 0 0 0.5em;
}

.main-header span {
    font-size: 2.2rem;
    font-weight: bold;
    text-transform: uppercase;
}

* {
    transition: var(--smooth-transition);
}


.back-button button {
    cursor: pointer;
}

.back-button img {
    aspect-ratio: 1/1;
    width: 1.3em;
    position: relative;

}

.back-button:hover img {
    transform: translateX(-5px) scale(1.1);
}

.confirmation {
    border: none;
    background: none;
}

hr {
    margin: 40px 0;
    border-top: 1.2px solid var(--bg-orange);
}

.scroll-content {
    overflow-y: auto;
}

.scroll-content section {
    display: flex;
    flex-direction: row;

}

.left-header {
    font-size: 1.4em;
    font-family: Lexend-medium;
    color: var(--primary-color);
}

/* inputs section */
.right-content {
    display: flex;
    margin-left: auto;
    width: 70%;
    flex-direction: column;
    padding: 0 20px 0 40px;
    row-gap: 10px;
    color: var(--primary-color);

    /* font-weight: 500; */
}


/* FORMATS */
.single-row {
    display: flex;
    flex-direction: column;
}


.single-row-half {
    display: flex;
    flex-direction: column;
    width: calc(50% - 20px);
}

select {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

input {
    padding: 10px;
    margin-top: 5px;
    border-radius: 10px;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}



.double-row {
    display: flex;
    flex-direction: row;
}

.double-row div {
    flex: 50%;
}


.double-row div:nth-child(1) select, .double-row div:nth-child(1) input {
    width: calc(100% - 20px);
}

.double-row div:nth-child(2) input {
    width: 100%;
}

footer {
    display: flex;
    position: relative;
    column-gap: 20px;
    transform: translate(-20px, 20px);
    border-radius: 0 0 1em 1em;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-orange);
    padding: 10px;
    width: calc(100% + 40px);
    height: 60px;
}

footer button {
    padding: 7px 62px;
    font-family: Lexend-regular;
    font-size: 1em;
    border-radius: 0.2em;
    cursor: pointer;
}

footer button:hover {
    opacity: 1;
}

.update-btn {
    background-color: var(--primary-color);
    color: white;
}

.update {
    background: none;
    color: var(--white);
    font-size: 1rem;
    border: none;
    padding: auto;
    margin: 0;
}

.update-btn:hover {
    background-color: #084b65;
}

.cancel-btn {
    border: 2px solid var(--primary-color);
    background-color: none;
    color: var(--primary-color);
}


/* sweet alert/modal style */
.swal2-popup {
    color: var(--primary-color);
    background: var(--white);
    font-size: 1rem;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.swal2-title {
    font-size: 2rem;
    font-weight: 800;
    line-height: normal;
    color: var(--primary-color);
}



/* Sidebar active indicator */
.sidebar-buttons #students-container::before {
    content: "";
    position: relative;
    left: 0;
    height: 25px;
    border-left: 7px solid var(--bg-orange);
    border-radius: 0 3px 3px 0;
    transform: translateX(-25px);
}

#students-container img, #students-container span {
    transform: translateX(-7px);
}