.right {
    display: flex;
    justify-content: center;
    width: calc(100% - 73px);
    height: 100vh;
    /* positions right div properly */
    margin-left: 73px;
    /* background-color: var(--main-db-bg-color); */
    padding: 40px;
}

.main {
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border: 3px solid var(--bg-orange);
    padding: 20px;
    background-color: #faf4f4;
}

/* header */
.main-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10%;
    color: var(--primary-color);
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--bg-orange);
    margin-bottom: 1em;
    padding: 0 0 0.5em 0;
}

.main-header span {
    font-size: 2.2rem;
    font-weight: bold;
    text-transform: uppercase;
}

.back-button img {
    aspect-ratio: 1/1;
    width: 1.3em;
    cursor: pointer;
}

.confirmation {
    border: none;
    background: none;
}

hr {
    margin: 40px 0 40px 0;
    border-top: 1.2px solid var(--bg-orange);
}

.scroll-content {
    overflow-y: auto;
}

.scroll-content section {
    display: flex;
    flex-direction: row;

}

.left-header {
    font-size: 1.4em;
}

/* inputs section */
.right-content {
    display: flex;
    margin-left: auto;
    width: 70%;
    flex-direction: column;
    padding: 0 20px 0 40px;
    row-gap: 10px;
}


/* FORMATS */
.single-row {
    display: flex;
    flex-direction: column;
}


.single-row-half {
    display: flex;
    flex-direction: column;
    width: calc(50% - 20px);
}

select {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--primary-color);
}

input {
    padding: 10px;
    margin-top: 5px;
    border-radius: 10px;
    border: 1px solid var(--primary-color);
}



.double-row {
    display: flex;
    flex-direction: row;
}

.double-row div {
    flex: 50%;
}


.double-row div:nth-child(1) select, .double-row div:nth-child(1) input {
    width: calc(100% - 20px);
}

.double-row div:nth-child(2) input {
    width: 100%;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.submit, .cancel {
    margin: 0 1em;
}

.update-button, .cancel-button {
    width: 100%;
    background-color: var(--primary-color);
    color: var(--white);
    padding: 0.5em 1em;
    border: none;
    border-radius: 1.7rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: normal;
}

.update-button:hover {
    background-color: var(--bg-orange);
}

.cancel-button:hover {
    background-color: var(--bg-orange);
}


/* sweet alert/modal style */
.swal2-popup {
    color: var(--bg-orange);
    background: var(--main-db-bg-color);
    font-size: 1rem;
    border-radius: 3rem;
    box-shadow: 3px 3px 25px 12px rgba(0, 0, 0, 0.40);
    backdrop-filter: blur(10px);
}

.swal2-title {
    font-size: 2rem;
    font-weight: 800;
    line-height: normal;
    color: var(--primary-color);
}


/* Sidebar active indicator */
.sidebar-buttons #students-container::before {
    content: "";
    position: relative;
    left: 0;
    height: 25px;
    border-left: 7px solid var(--bg-orange);
    border-radius: 0 3px 3px 0;
    transform: translateX(-25px);
}

#students-container img, #students-container span {
    transform: translateX(-7px);
}