html {
    padding: 0;
    margin: 0;
}

* {
    transition: var(--smooth-transition);
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    background-color: #DB9354;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* SVGs */
.svg-top {
    position: absolute;
    left: 0;
    top: 0;
    height: 40%;
    pointer-events: none;
}

.svg-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 40%;
    pointer-events: none;
    transform: scaleX(-1)
}

h1 {
    padding: 0;
    margin: 0;
}

.full-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* container for "404" */
.container-404 {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 20px;
    color: #fff;
    font-size: 6em;
    text-shadow: 8px 8px 4px #00000040;
    height: auto;
    line-height: 1;
    opacity: 0;
    animation: fadeIn 1.5s ease-in-out forwards, slideIn 1s ease-in-out forwards;
    animation-delay: 0.4s;
}

.eye-container {
    background-color: #fff;
    border-radius: 50%;
    transform: translateY(10px);
    box-shadow: 8px 8px 4px #00000040;
}

.eye-container img {
    width: 160px;
    height: 160px;
}

.sorry-text {
    font-size: 6.5em;
    color: #fff;
    font-family: Lexend-bold;
    padding: 0;
    margin: 0;
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards, slideIn 1s ease-in-out forwards;
    animation-delay: 0.6s;
}

.description-text {
    display: flex;
    text-align: center;
    font-size: 1.4em;
    padding: 0 20px;
    color: var(--white);
    font-family: Lexend-bold;
    margin: 0;
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards, slideIn 1s ease-in-out forwards;
    animation-delay: 0.68s;
}

.button {
    color: var(--white);
    background-color: var(--primary-color);
    text-decoration: none;
    margin-top: 20px;
    padding: 0.8em 2em;
    border-radius: 0.5em;
    font-family: Lexend-Bold;
    border: none;
    opacity: 0;
    animation: fadeIn 0.8s ease-in-out forwards;
    animation-delay: 2s;
}

.button:hover {
    background-color: var(--primary-color-hover);
}



/* fade in animation [format] */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(20px);
    }

    to {
        transform: translateY(0);
    }
}