.right {
    display: flex;
    justify-content: center;
    width: calc(100% - 73px);
    height: 100vh;

    /* positions right div properly */
    margin-left: 73px;
    padding: 40px;
}



.main {
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border: 3px solid var(--bg-orange);
    padding: 1em;
    background-color: var(--white);
    column-gap: 1em;
}



/* header */
.main-header span:first-child {
    font-size: 2rem;
    font-family: Lexend-Black;
    color: var(--primary-color);
    border-bottom: 2px solid var(--bg-orange);
    display: flex;
    padding-bottom: 10px;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0.5em;
}

#total-cases{
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 0;
    padding-bottom: 0;
    border: none;
    font-size: 2rem;
    font-family: Lexend-Black;
    color: var(--primary-color);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: row;
    column-gap: 1em;
    height: 85%;
}

/* print report button style */
.print-report-container {
    margin-left: 20px;
    text-decoration: none;
}

.print-report-container button {
    color: var(--white);
    display: flex;
    flex-direction: row;
    font-weight: normal;
    column-gap: 10px;
    padding: 0.5em 1em;
    border-radius: 20px;
    background-color: var(--primary-color);
    align-items: center;
    border: none;
    cursor: pointer;
    transition: var(--smooth-transition);
}

.print-report-container button:hover{
    background-color: var(--primary-color-hover);
}

.print-report-container img {
    height: 20px;
    width: 20px;
}

.print-report-container p{
    margin: 0;
}

.back-button {
    margin-left: auto;
}

.back-button button {
    cursor: pointer;
}

.back-button img {
    aspect-ratio: 1/1;
    width: 0.7em;
    position: relative;

}

.back-button:hover img {
    transform: translateX(-5px) scale(1.1);
}

select{
    width: auto;
    height: auto;
    background-color: var(--primary-color);
    color: #FFF;
    border: none;
    border-radius: 20px;
    padding: 0.5em 1em;
    transition: var(--smooth-transition);
    cursor: pointer;
}
.box {
    width: 19%;
    height: 100%;
    border-radius: 20px;
    border: 2px solid var(--bg-orange);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    text-align: center;
}

.box span {
    font-size: 1.5rem;
    font-weight: bold;
    font-style: normal;
    line-height: normal;
    color: var(--primary-color);
    border-bottom: 2px solid var(--bg-orange);
    display: flex;
    padding-bottom: 10px;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1em;
    width: 100%;
}

#myChart5 {
    width: 100%;
    height: 100%;
}

/* container of each experience type */
.progress-bar-container {
    position: relative;
    margin-bottom: 5px;
    background-color: var(--subtle-orange);
    padding: 5px;
    border-radius: 10px;
}

.progress-bar-label {
    color: var(--primary-color);
    font-family: Lexend-SemiBold;
    text-align: left;
    margin-bottom: 1px;
}

.progress-bar-count {
    color: var(--white);
    padding: 0 20px;
    border-radius: 1em;
    background-color: var(--bg-orange);
    margin-right: 8px;
    display: flex;
    align-items: center;
}

.progress-bar {
    position: relative;
    transform: translateY(20px);
    background-color: var(--primary-color);
    color: white;
    padding: 10px;
}

/* maximum value progress bar */
.progress-bar-underlay {
    background-color: #a0d8e0;
    width: 100%;
    padding: 10px;
}

.progress-bar, .progress-bar-underlay {
    border-radius: 20px;
}

/* flexes "progress-bar-count" and "bar-flex" side-by-side */
.progress-flex-container {
    display: flex;
    flex-direction: row;
}

/* flex container for progress-bar and progress-bar-underlay */
.bar-flex {
    width: 70%;
    height: 20px;
    transform: translateY(-20px);
}

/* chart containers */
#jhs_container, #shs_container, #college_container, #grad_container, #lll_container {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    font-size: 12px;
}

/* Sidebar active indicator */
.sidebar-buttons #dashboard-container::before {
    content: "";
    position: relative;
    left: 0;
    height: 25px;
    border-left: 7px solid var(--bg-orange);
    border-radius: 0 3px 3px 0;
    transform: translateX(-25px);
}

#dashboard-container img, #dashboard-container span {
    transform: translateX(-7px);
}