body {
    padding: 2em;
    background-color: var(--white);
    overflow-x: hidden;
}

* {
    transition: var(--smooth-transition);
    box-sizing: border-box;
}

/* for modal style */
.swal2-popup {
    font-size: 1.1rem;
    width: 40%;
    color: var(--primary-color);
    background: var(--main-db-bg-color);
    border-radius: 1.2rem;
    box-shadow: 3px 3px 25px 12px rgb(0 0 0 / 40%);
    backdrop-filter: blur(10px);
    padding: 1em;
}

.swal2-title {
    font-size: 1.5rem;
    color: var(--primary-color);
    margin-bottom: 1em;
}

.swal2-cancel.cancel-button-class {
    padding: 0.5em 2em;
    font-size: 1.2rem;
    color: var(--white);
    background-color: var(--primary-color);
}