.right {
    display: flex;
    justify-content: center;
    width: calc(100% - 73px);
    height: 100vh;

    /* positions right div properly */
    margin-left: 73px;
    padding: 40px;
}



.main {
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border: 3px solid var(--bg-orange);
    padding: 20px;
    background-color: var(--white);
}

* {
    transition: var(--smooth-transition);
}


/* header */
.main-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    color: var(--primary-color);
}

.main-header span {
    font-size: 2.2em;
    font-weight: bold;
    display: flex;
    font-family: Lexend-Black;
}

.main-header span:first-child {
    border-bottom: 2px solid var(--bg-orange);
    padding-bottom: 10px;
}

/* search */
.search-container {
    position: relative;
    width: 50%;
}

.search-bar {
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 5px;
}

/* search input */
.search-bar input[type="text"] {
    font-size: 1rem;
    color: #095371;
    flex: 1;
    border-radius: 40px;
    border: 2px solid #095371;
    padding: 15px 65px 15px 15px;
    background-color: transparent;
}

/* placeholder color */
.search-bar input[type="text"]::placeholder {
    color: #095371;
}

.search-bar button {
    background: none;
    border: none;
    padding: 5px;
    cursor: pointer;
    position: absolute;
    right: 20px;
}

.search-bar button img {
    height: 33px;
    aspect-ratio: 1 / 1;
}

.search-archive-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.search-archive-container a {
    text-decoration: none;
    color: var(--white);
}


/* archive icon */
.retrieve-button {
    width: auto;
    font-size: 0.5em;
    padding: 5px;
    background-color: var(--primary-color);
    transition: var(--smooth-transition);
    border-radius: 1em;
}

.retrieve-button span {
    font-family: Lexend-SemiBold;
}

.retrieve-button:hover {
    background-color: var(--primary-color-hover);
}

.archive {
    display: flex;
    flex-direction: row;
    font-weight: normal;
    column-gap: 10px;
    padding: 1em;
}

.archive img {
    height: 20px;
    width: 20px;
}

/* main navigational container */
.directory-container {
    width: 100%;
    height: 100%;
    display: flex;
    overflow-y: auto;
    border-radius: 17px;
    background-color: var(--primary-color);
}

.directory-container .dir-left {
    flex-grow: 2.5;
}

.directory-container .dir-right {
    flex-grow: 7.5;
}



/* main level left containers */
.list-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    margin: 0;
    list-style: none;
    padding-right: 20px;
}

/* list header */
.list-container-header {
    font-family: Lexend-SemiBold;
    color: var(--white);
    font-size: 1.5em;
    padding-top: 10px;
}

/* ul list style */
.list-level {
    height: inherit;
    display: flex;
    flex-direction: column;
    padding: 0;
    justify-content: space-around;
}

.list-level li {
    display: flex;
    align-items: center;
    padding: 10px 10px 10px 10px;
    cursor: pointer;
    color: var(--text-white-dim);
    font-size: 1.2em;
    border-radius: 10px;
}

/* box hover effects */
.list-level li:hover, .dir-right ul li:hover {
    background-color: var(--bg-orange);
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.grad-school-link:hover, .lll-school-link:hover {
    color: #fff;
}


/* right arrow img style */
.list-level li img {
    margin-left: auto;
    width: 15px;
    height: 15px;
}


/* per ul right container */
.dir-right ul {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    position: absolute;
    color: var(--text-white-dim);
    list-style: none;
    font-size: 1.2em;
    margin-left: 10px;
    padding: 10px;
}

.dir-right ul li {
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

/* remove link color */
a {
    text-decoration: none;
    color: var(--text-white-dim);
}


.dir-right ul {
    display: none;
}

.dir-right ul.active {
    display: block;
}

/* navigation links are dynamically positioned to the right upon hover. */
/* specific measurements. do not change */
.jhs-list-hover {
    margin-top: 3%;
}

.shs-list-hover {
    margin-top: 7.99%;
}

.college-list-hover {
    margin-top: 13%;
}

.college-list-hover li {
    font-size: 0.65em;
}



/* sets graduate school and lll styling to correspond with the JS and css rules */
.grad-school-li, .lll-school-li {
    padding: 0 !important;
}

.grad-school-link, .lll-school-link {
    width: 100%;
    padding: 10px;
}


/* Sidebar active indicator */
.sidebar-buttons #students-container::before {
    content: "";
    position: relative;
    left: 0;
    height: 25px;
    border-left: 7px solid var(--bg-orange);
    border-radius: 0 3px 3px 0;
    transform: translateX(-25px);
}

#students-container img, #students-container span {
    transform: translateX(-7px);
}