:root {
    --primary-color: #095371;
    --fade-text-blue: #3A748B;
    --primary-color-hover: #0E2E5E;
    --white: #faf4f4;
    --text-white-dim: #d9d9d9;
    --main-db-bg-color: #EAE7D6;
    --bg-orange: #DB9354;
    --subtle-orange: #f5e4da;
    --border: #b1b1b1;
    --smooth-transition: cubic-bezier(0.18, 0.89, 0.47, 1) 0.2s;
    --smooth-transition-slower: cubic-bezier(0.18, 0.89, 0.47, 1) 0.6s;
}

* {
    box-sizing: border-box;
    font-family: Lexend-Regular;
}

body, html {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--main-db-bg-color);
}

::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the track */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scrollbar handle on hover */
}

/* Button */
::-webkit-scrollbar-button {
    background: #ccc; /* Color of the scrollbar button (arrows) */
}

/* Corner */
::-webkit-scrollbar-corner {
    background: #eee; /* Color of the scrollbar corner */
}

/* Resizer */
::-webkit-resizer {
    background: #ddd; /* Color of the scrollbar resizer */
}

/* Overflow area when content is scrolled beyond the visible area */
::-webkit-scrollbar-corner:window-inactive {
    background: #eee; /* Color of the scrollbar corner when window is inactive */
}
