.right {
    display: flex;
    justify-content: center;
    width: calc(100% - 73px);
    height: 100vh;

    /* positions right div properly */
    margin-left: 73px;

    /* background-color: var(--main-db-bg-color); */
    padding: 40px;
}

.main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    row-gap: 10px;
}

.metrics-content {
    height: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title {
    color: var(--primary-color);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    text-align: left;
    border-bottom: 2px solid var(--bg-orange);
    padding-bottom: 0.3em;
    margin-bottom: 0.3em;
}

.metrics-left {
    display: flex;
    justify-content: space-around;
    column-gap: 20px;
    align-items: center;
}

.metrics-button {
    margin-left: auto;
}


#analytics {
    font-size: 1.5rem !important;
    height: 5%;
}

#analytics, #compare {
    color: var(--primary-color);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
}

select, .metrics {
    width: auto;
    height: auto;
    background-color: var(--primary-color);
    color: #FFF;
    border: none;
    border-radius: 10px;
    padding: 10px;
    transition: var(--smooth-transition);
}

.metrics:hover {
    background-color: var(--bg-orange);
    border: none;
}

.chart-content {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    border: 3px solid var(--bg-orange);
    padding: 0.8em;
    margin-top: 20px;
    background-color: var(--white);
}

#myChart {
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
}
/* Sidebar active indicator */
.sidebar-buttons #analytics-container::before {
    content: "";
    position: relative;
    left: 0;
    height: 25px;
    border-left: 7px solid var(--bg-orange);
    border-radius: 0 3px 3px 0;
    transform: translateX(-25px);
}

#analytics-container img, #analytics-container span {
    transform: translateX(-7px);
}