.right {
    display: flex;
    justify-content: center;
    width: calc(100% - 73px);
    height: 100vh;

    /* positions right div properly */
    margin-left: 73px;
    padding: 40px;
}

.main {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border: 3px solid var(--bg-orange);
    padding: 20px;
    background-color: #faf4f4;
}

/* header */
.main-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10%;
    color: var(--primary-color);
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--bg-orange);
    margin-bottom: 1em;
    padding: 0 0 0.5em;
}

.main-header span {
    font-size: 2.2rem;
    font-weight: bold;
    text-transform: uppercase;
}

* {
    transition: var(--smooth-transition);
}

.scroll-content {
    overflow-y: auto;
}

.scroll-content section {
    display: flex;
    flex-direction: column;
}

.left-header {
    font-size: 1.4em;
    font-family: Lexend-medium;
    color: var(--primary-color);
}

/* inputs section */
.right-content {
    display: flex;
    margin-left: auto;
    width: 70%;
    flex-direction: column;
    padding: 0 20px 0 40px;
    row-gap: 10px;
    color: var(--primary-color);

    /* font-weight: 500; */
}


/* FORMATS */
.single-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5em;
}


.single-row-half {
    display: flex;
    flex-direction: column;
    width: calc(50% - 20px);
}

input {
    padding: 10px;
    margin-top: 5px;
    border-radius: 10px;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.update-btn {
    margin-left: auto;
    margin-top: 20px;
    width: 200px;
    padding: 7px 62px;
    font-family: Lexend-regular;
    font-size: 1em;
    border-radius: 0.2em;
    cursor: pointer;
}

button:hover {
    opacity: 1;
}

.update-btn {
    background-color: var(--primary-color);
    color: white;
    border: none;
}

.update-btn:hover {
    background-color: #084b65;
}


/* sweet alert/modal style */
.swal2-popup {
    color: var(--bg-orange);
    font-size: 1.7rem;
    background: var(--main-db-bg-color);
    border-radius: 1.5rem;
    box-shadow: 2px 2px 15px 10px rgb(0 0 0 / 40%);
    padding-bottom: 2em;
    width: 40%;
    height: auto;
}

.swal2-title {
    font-size: 2.5rem;
    font-weight: 800;
    line-height: normal;
    color: var(--primary-color);
}

.swal2-icon {
    border: none;
}

.custom-icon {
    aspect-ratio: 1/1;
    width: 1.5em;
    margin: 0;
    padding: 0;
}

/* Sidebar active indicator */
.sidebar-buttons #settings-container::before {
    content: "";
    position: relative;
    left: 0;
    height: 25px;
    border-left: 7px solid var(--bg-orange);
    border-radius: 0 3px 3px 0;
    transform: translateX(-25px);
}

#settings-container img, #settings-container span {
    transform: translateX(-7px);
}