.right {
    display: flex;
    justify-content: center;
    width: calc(100% - 73px);
    height: 100vh;

    /* positions right div properly */
    margin-left: 73px;

    /* background-color: var(--main-db-bg-color); */
    padding: 40px;
}



.main {
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border: 3px solid var(--bg-orange);
    padding: 20px;
    background-color: var(--white);
}

.main, .row {
    gap: 1em;
}

/* header */
.main-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    color: var(--primary-color);
}

.main-header span {
    font-size: 2.2em;
    font-weight: bold;
    border-bottom: 2px solid var(--bg-orange);
    display: flex;
    padding-bottom: 10px;
}


/* search */
.search-container {
    position: relative;
    width: 50%;
}

.search-bar {
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 5px;
}

/* search input */
.search-bar input[type="text"] {
    color: #095371;
    flex: 1;
    border-radius: 40px;
    border: 2px solid #095371;
    padding: 15px 65px 15px 15px;
    background-color: transparent;
}

/* placeholder color */
.search-bar input[type="text"]::placeholder {
    color: #095371;
}

.search-bar button {
    background: none;
    border: none;
    padding: 5px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: calc(50% - 20px);
}

.search-bar button img {
    height: 33px;
    aspect-ratio: 1 / 1;
}

.search-upload-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


/* directory buttons */
.main-buttons {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

.row button, .row a {
    border-radius: 20px;
    color: white;
    font-size: 1em;
    background-color: var(--primary-color);
    border: none;
    font-weight: bold;
    transition: var(--smooth-transition);
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-basis: calc(50% - 10px);
    text-decoration: none;
    flex-direction: column;
}

.row button {
    height: 100% !important;
    width: 100% !important;
    background-color: transparent;
    row-gap: 0.4em;
}


/* button icons */
.row img {
    width: 70px;
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 1 / 1;
    margin-bottom: 1em;
}


/* buttom borders */
.row a {
    border: 3px solid var(--white);
    transition: var(--smooth-transition);
}

.row a:hover {
    border: 3px dashed var(--white);
    background-color: #073f55;
    transition: var(--smooth-transition);
}


/* button text initial position */
.row span {
    transition: var(--smooth-transition);
    transform: translateY(10px);
}

/* button text hover animation */
.row a:hover span {
    transform: translateY(0);
}


/* button icon initial position */
.row img {
    transition: var(--smooth-transition);
    transform: translateY(0);
}

/* button icon hover animation */
.row a:hover img {
    transform: translateY(5px);
}


.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

/* Sidebar active indicator */
.sidebar-buttons #students-container::before {
    content: "";
    position: relative;
    left: 0;
    height: 25px;
    border-left: 7px solid var(--bg-orange);
    border-radius: 0 3px 3px 0;
    transform: translateX(-25px);
}

#students-container img, #students-container span {
    transform: translateX(-7px);
}