.sidebar {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    width: 73px;
    min-height: 100%;
    transition: var(--smooth-transition);
    overflow: hidden;
    z-index: 5;
    position: fixed;
    left: 0;
}

.sidebar:hover {
    width: 250px;
}



.sidebar .profile {
    margin-top: auto;
}

.sidebar span, .sidebar p {
    opacity: 0;
    transition: var(--smooth-transition);
}

.sidebar:hover span, .sidebar:hover p {
    opacity: 1;
}

/* mindSight Logo */
#logo {
    margin: 10px 0;
    height: 50px;
    width: 100%;
    margin-right: unset !important;
    transition: var(--smooth-transition);
    display: none;
}

.sidebar:hover #logo {
    display: block;
}


#logo-initial {
    display: block;
    margin: 10px 0;
    height: 50px;
    width: 100%;
    transform: scale(1.5);
    transition: var(--smooth-transition);
}

.sidebar:hover #logo-initial {
    display: none;
}


/* logo container */
.logo {
    display: flex;
    padding: 0 24px;
    border-bottom: 1px solid var(--border);
    justify-content: center;
}



.sidebar ul {
    width: 100%;
    margin: 0;
    padding: 0;
}

.sidebar li {
    display: flex;
}

/* overflow control and button area height setter. */
.sidebar-buttons {
    height: calc(100vh - (65px + 70.8px));
    overflow: hidden hidden;
}

/* show scrollbar when sidebar is hovered */
.sidebar-buttons:hover {
    overflow-y: auto;
}

/* dashboard logo */
.sidebar img {
    width: 25px;
    aspect-ratio: 1 / 1;
    margin-right: 12px;
}

.sidebar a, .sidebar #admin-main-menu {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 20px 0 20px 24px;
    color: white;
    align-items: center;
    text-decoration: none;
    transition: var(--smooth-transition);
}

.sidebar .admin-container {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

/* "Admin" and "Developers" sub menu */
.sidebar .admin-container li a {
    padding-left: 60px;
    font-size: 20px;
    color: white;
    display: none;
}

.sidebar a:hover {
    background-color: var(--bg-orange);
    transition: var(--smooth-transition);
}

.admin-expand {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-left: 0;
}

/* animated rotation when expanding */
#expand-img {
    transition: transform 0.3s ease;
}


.sub-menu {
    box-shadow: rgb(50 50 93 / 25%) 0 30px 60px -12px inset, rgb(0 0 0 / 30%) 0 18px 36px -18px inset;
    background-color: #094c66;
}


.dim {
    position: absolute;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #cbc4ac8b;
    opacity: 0;
    transition: var(--smooth-transition);
    z-index: -1;
}

.sidebar:hover~.dim {
    z-index: 4;
    opacity: 1;
    transition: var(--smooth-transition);
}

/* section margins */
.overview {
    margin-top: 24px;
}

.account {
    margin-top: 24px;
}

/* font sizes */
.overview span, .account span {
    font-size: 20px;
}

.overview p, .account p {
    margin: 0 0 5px;
    font-size: 16px;
    padding-left: 24px;
    color: var(--text-white-dim);

}


/* user profile */
.profile {
    border-top: 1px solid #b1b1b1;
    display: flex;
    width: 100%;
    height: 65px;
    padding: 20px 24px;
}

.profile img {
    width: 25px;
    aspect-ratio: 1 / 1;
}

.profile span {
    color: var(--white);
    font-weight: bold;
}