:root {
    --primary-color: #095371;
    --text-white: #fff;
    --text-white-dim: #d9d9d9;
    --bg-white: #FFF;
    --main-db-bg-color: #EAE7D6;
    --bg-orange: #DB9354;
    --border: #b1b1b1;
    --smooth-transition: cubic-bezier(0.18, 0.89, 0.47, 1) 0.2s;
}


* {
    box-sizing: border-box;
    font-family: Lexend;
}

body, html {
    margin: 0;
    padding: 0;

    /* overflow: hidden; */
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--main-db-bg-color);
    display: flex;
}



/* left side */
.left-main {
    width: 50%;
    background-color: var(--bg-orange);
    display: flex;
    align-items: center;
    justify-content: center;
}

.lsub-container {
    width: 75%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* MINDSIGHT logo offset */
.lsub-container .lsub-top {
    position: relative;
    bottom: 45px;
}


.welcome-msg {
    width: 350px;
    padding-left: 20px;
    font-size: 1.4em;
    color: var(--text-white);
}

.logo-img {
    width: 490px;
    display: flex;
    align-items: center;
    justify-content: center;

}


/* text on top of button */
.btn-header {
    width: auto;
    display: flex;
    font-size: 1.4em;
    flex-direction: column;
    align-items: center;
    color: var(--text-white);
    margin-bottom: 20px;
}

.btn-header span {
    font-weight: bold;
    letter-spacing: 0.9px;
}

.btn-login {
    width: 100%;
    height: 45px;
    font-size: 1.3em;
    font-weight: bold;
    letter-spacing: 0.9px;
    border-radius: 200px;
    color: var(--text-white);
    border: 2px solid #FFF;
    background-color: transparent;
    cursor: pointer;
}


/* SVGs */
.svg-top {
    position: absolute;
    left: 0;
    top: 0;
    height: 25%;
}

.svg-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 40%;
}




/* login side (right side) */
.right-main {
    width: 50%;
    background-color: var(--bg-white);
    display: flex;
    align-items: center;
    justify-content: center;
}

.rsub-container {
    width: 65%;
    height: auto;
    display: flex;
    flex-direction: column;
}

/* login text */
.rsub-container p {
    color: var(--primary-color);
    font-size: 1.4em;
    font-weight: 700;
    margin-bottom: 20px;
}

/* sets the gap between the input boxes */
.rsub-container input:not(#password-confirm) {
    margin-bottom: 10px;
}


/* forgot password styles */
.forgot-pw-container {
    margin-top: 11px;
    display: flex;
    justify-content: flex-end;
    text-decoration: underline;
    color: #7FA4B1;
}

.forgot-pw-container a:visited {
    color: #7FA4B1;
}

.forgot-pw-container a:active {
    color: var(--primary-color);
}



/* username and password input box */
input[type="text"], input[type="password"] {
    padding: 8px 17px;
    border: 2px solid var(--primary-color);
    outline-color: var(--primary-color);
    border-radius: 10px;
    color: var(--primary-color);
    font-size: 1.4em;
    font-weight: 300;
    width: 100%;
    letter-spacing: 2px;
    transition: cubic-bezier(0.18, 0.89, 0.32, 1.28) 1s, transform 1s ease-out;
}

/* eye icon */
.password-input-container .togglepass img {
    width: 25px;
    aspect-ratio: 1 / 1;
    position: absolute;
    top: 50%;
    right: 13px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 20px;
    color: #6C8FB8;
}

/* vertical line in password box */
.password-input-container::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 45px;
    transform: translateY(-50%);
    height: 75%;
    width: 1px;
    background-color: #6C8FB8;
}

/* placeholder color */
input[type="text"]::placeholder, input[type="password"]::placeholder {
    color: #377185;
}

/* outline color on focus */
input[type="text"]:focus, input[type="password"]:focus {
    outline-color: #377185;

}

/* Autofill color */
input:-webkit-autofill {
    -webkit-text-fill-color: #377185 !important;
}

/* username and password container */
.password-input-container {
    position: relative;
}

.password-input-container #password, .password-input-container #password-confirm {
    padding-right: 50px;
}

/* login button */
.login-btn-container {
    width: 100%;
    height: auto;
    margin-top: 40px;
}

.login-btn-container button {
    width: 100%;
    height: auto;
    font-size: 1.4em;
    padding: 8px 0;
    display: flex;
    justify-content: center;
    background-color: var(--primary-color);
    border-radius: 10px;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: Lexend;
    color: #FEFEFE;
    border: none;
    cursor: pointer;
}

.login-btn-container button:hover {
    background-color: #0E2E5E;
}