:root {
    --primary-color: #095371;
    --white: #faf4f4;
    --text-white-dim: #d9d9d9;
    --main-db-bg-color: #EAE7D6;
    --bg-orange: #DB9354;
    --border: #b1b1b1;
    --smooth-transition: cubic-bezier(0.18, 0.89, 0.47, 1) 0.2s;
}

* {
    box-sizing: border-box;
    font-family: Lexend-Regular;
}

body, html {
    margin: 0;
    padding: 0;

    /* overflow: hidden; */
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--main-db-bg-color);
}

/* text on top of button */
.btn-header {
    width: auto;
    display: flex;
    font-size: 1.4em;
    flex-direction: column;
    align-items: center;
    color: var(--white);
    margin-bottom: 20px;
}

.btn-header span {
    font-weight: bold;
    letter-spacing: 0.9px;
}

.btn-login {
    width: 100%;
    height: 45px;
    font-size: 1.3em;
    font-weight: bold;
    letter-spacing: 0.9px;
    border-radius: 200px;
    color: var(--white);
    border: 2px solid #FFF;
    background-color: transparent;
    cursor: pointer;
}


/* SVGs */
.svg-top {
    position: absolute;
    left: 0;
    top: 0;
    height: 25%;
    pointer-events: none;
}

.svg-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 40%;
    pointer-events: none;
}


.right {
    display: flex;
    justify-content: center;
    width: calc(100% - 73px);
    height: 100vh;

    /* positions right div properly */
    margin-left: 73px;
    padding: 40px;
}

.main {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border: 3px solid var(--bg-orange);
    padding: 20px;
    background-color: var(--white);
    overflow: auto;
}

/* login side (right side) */
.right-main {
    width: 100%;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
}

.rsub-container {
    width: 65%;
    height: auto;
    display: flex;
    flex-direction: column;
}

/* signup text */
.rsub-container p {
    color: var(--primary-color);
    font-size: 1.4em;
    font-weight: 700;
    margin-bottom: 10px;
}

/* sets the gap between the input boxes */
.rsub-container form {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

/* forgot password styles */
.forgot-pw-container {
    margin-top: 11px;
    display: flex;
    justify-content: flex-end;
    text-decoration: underline;
    color: #7FA4B1;
}

.forgot-pw-container a:visited {
    color: #7FA4B1;
}

.forgot-pw-container a:active {
    color: var(--primary-color);
}



/* username and password input box */
input[type="text"], input[type="password"], select {
    border: 2px solid var(--primary-color);
    outline-color: var(--primary-color);
    border-radius: 10px;
    color: var(--primary-color);
    font-size: 1.4em;
    font-weight: 300;
    width: 100%;
    letter-spacing: 2px;
    transition: cubic-bezier(0.18, 0.89, 0.32, 1.28) 1s, transform 1s ease-out;
}

input[type="text"], input[type="password"] {
    padding: 8px 17px;
}

select {
    padding: 8px 12px;
}


/* eye icon */
.password-input-container .togglepass img {
    width: 25px;
    aspect-ratio: 1 / 1;
    position: absolute;
    top: 50%;
    right: 13px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 20px;
    color: #6C8FB8;
}

/* vertical line in password box */
.password-input-container::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 45px;
    transform: translateY(-50%);
    height: 75%;
    width: 1px;
    background-color: #6C8FB8;
}

/* placeholder color */
input[type="text"]::placeholder, input[type="password"]::placeholder {
    color: #377185;
}

/* outline color on focus */
input[type="text"]:focus, input[type="password"]:focus {
    outline-color: #377185;

}

/* Autofill color */
input:-webkit-autofill {
    -webkit-text-fill-color: #377185 !important;
}

/* username and password container */
.password-input-container {
    position: relative;
}

.password-input-container #password, .password-input-container #password-confirm {
    padding-right: 50px;
}

/* signup button */
.signup-btn-container {
    width: 100%;
    height: auto;
    margin-top: 40px;
}

.signup-btn-container button {
    width: 100%;
    height: auto;
    font-size: 1.4em;
    padding: 8px 0;
    display: flex;
    justify-content: center;
    background-color: var(--primary-color);
    border-radius: 10px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #FEFEFE;
    border: none;
    cursor: pointer;
    transition: var(--smooth-transition);
}

/* sweet alert/modal style */
.swal2-popup {
    color: var(--bg-orange);
    font-size: 1.7rem;
    font-weight: 800;
    line-height: normal;
    background: var(--main-db-bg-color);
    border-radius: 1.5rem;
    box-shadow: 2px 2px 15px 10px rgb(0 0 0 / 40%);
    width: 40%;
    height: auto;
}

.swal2-title {
    font-size: 2.5rem;
    font-weight: 800;
    line-height: normal;
    color: var(--primary-color);
}

.swal2-confirm.confirm-button-class,
.swal2-cancel.cancel-button-class {
    color: var(--white);
    background-color: var(--primary-color);
    padding: 0.6em 2em;
    font-size: 1.5rem;
    font-weight: 800;
    border-radius: 10px;
}

.swal2-icon {
    border: none;
}

.custom-icon {
    aspect-ratio: 1/1;
    width: 1.5em;
    margin: 0;
    padding: 0;
}

.signup-button:not([disabled]):hover  {
    background-color: #0E2E5E !important;
}

/* signup button disabled state */
.signup-button[disabled] {
    background-color: #113a4abd;
    color: var(--text-white-dim);
    cursor: default;
}

/* forces html to be 100vh */
.htmlheight100vh{
    height: 100vh;
}


/* Sidebar active indicator */
.sidebar-buttons #add-admin-container::before {
    content: "";
    position: relative;
    left: 0;
    height: 25px;
    border-left: 7px solid var(--bg-orange);
    border-radius: 0 3px 3px 0;
    transform: translateX(-25px);
}

#add-admin-container img, #add-admin-container span {
    transform: translateX(-7px);
}