.right {
    display: flex;
    justify-content: center;
    width: calc(100% - 73px);
    height: 100vh;

    /* positions right div properly */
    margin-left: 73px;
    padding: 40px;
}


.main {
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border: 3px solid var(--bg-orange);
    padding: 1.5em;
    background-color: var(--white);
}


/* header */
.main-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: auto;
    color: var(--primary-color);
    margin-bottom: 1em;
    border-bottom: 2px solid var(--bg-orange);
    padding-bottom: 1em;
}

.main-header span {
    font-size: 2.2em;
    font-weight: bold;
}

.college, .name {
    font-size: 0.7rem;
    font-weight: 800;
    line-height: normal;
    padding: 0;
    margin: 0;
}

.name {
    text-transform: uppercase;
}

.id {
    font-size: 0.7rem;
    font-weight: 600;
    line-height: normal;
}

.title {
    font-size: 1.1rem;
    font-weight: 800;
    line-height: normal;
    padding: 0.5em;
}

.answer {
    font-size: 1.1rem;
    color: var(--bg-orange);
    text-transform: uppercase;
}

.student-id {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.back-button img {
    aspect-ratio: 1/1;
    width: 1.3em;
    cursor: pointer;
}

.vl {
    border-left: 2px solid var(--primary-color);
    height: 100%;
    margin: 0;
    padding: 0;
}

.rows {
    width: 100%;
    height: auto;
    margin-bottom: 1.5rem;
}

.row1, .row2, .row3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 0.6em;
    width: auto;
    margin: 0.5em 0;
}


.nature-content, .identity-content,
.campus-content, .age-content, .counselor {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: var(--primary-color);
    font-weight: bold;
    line-height: normal;
    border-radius: 2.5rem;
    border: 2px solid var(--primary-color);
    padding: 0 3.5em;
    width: 100%;
    height: 100%;
}


.full-records-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: var(--primary-color);
    margin-bottom: 0.5em;
    width: 100%;
}

.full-records-button img {
    aspect-ratio: 1/1;
    width: 1.3em;
    transition: var(--smooth-transition);
}

.edit-print-button {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    column-gap: 0.5em;
}

/* edit and print button images */
.edit-print-button div {
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
    width: 2.5em;
    background-color: var(--primary-color);
    padding: 5px;
    cursor: pointer;
    border-radius: 50%;
    overflow: hidden;
    transition: var(--smooth-transition);
}

.edit-print-button div:hover {
    transform: scale(1.1);
}

/* edit and print button images */
.edit-print-button img {
    aspect-ratio: 1/1;
    width: 20px;
}

a.view {
    background: none;
    text-decoration: none;
}

.view-records {
    background: none;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--primary-color);
    cursor: pointer;
}

.view-records:hover img {
    transform: translateX(5px) scale(1.1);
}


/* Sidebar active indicator */
.sidebar-buttons #students-container::before {
    content: "";
    position: relative;
    left: 0;
    height: 25px;
    border-left: 7px solid var(--bg-orange);
    border-radius: 0 3px 3px 0;
    transform: translateX(-25px);
}

#students-container img, #students-container span {
    transform: translateX(-7px);
}


.full-records {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--white);
    width: 100%;
    height: auto;
    border-radius: 0.8rem;
    color: var(--primary-color);
    padding: 0.5em 2.5em;
    border: 3px solid var(--primary-color);
    overflow: hidden;
}

/* keeps everything aligned */
.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.main-header-content {
    font-size: 1.5rem;
}

.full-records header {
    font-size: 1.3rem;
}


/* main styling layout per section */
.basic-information {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.column {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.double-column div{
    margin-bottom: 7px;
}

.double-column span {
    color: var(--bg-orange);
}

.left-align, 
.full-records label, 
.full-records header, 
.main-header-content  {
    font-weight: 700;
}

.left-align span {
    color: var(--primary-color);
}

hr {
    border: 1px solid var(--bg-orange);
    width: 100%;
}