:root {
    --primary-color: #095371;
    --text-white: #fff;
    --text-white-dim: #d9d9d9;
    --main-db-bg-color: #EAE7D6;
    --bg-orange: #DB9354;
    --border: #b1b1b1;
    --smooth-transition: cubic-bezier(0.18, 0.89, 0.47, 1) 0.2s;
}


* {
    box-sizing: border-box;
    font-family: Lexend;
}

body, html {
    margin: 0;
    padding: 0;

    /* overflow: hidden; */
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--main-db-bg-color);
}

/* section margins */
.overview {
    margin-top: 24px;
}

.account {
    margin-top: 24px;
}



/* font sizes */
.overview span, .account span {
    font-size: 20px;
}

.overview p, .account p {
    margin: 0 0 5px;
    font-size: 16px;
    padding-left: 24px;
    color: var(--text-white-dim);

}


/* user profile */
.profile {
    border-top: 1px solid #b1b1b1;
    display: flex;
    width: 100%;
    height: 65px;
    padding: 20px 24px;
}

.profile img {
    width: 25px;
    aspect-ratio: 1 / 1;
}

.profile span {
    color: var(--text-white);
    font-weight: bold;
}




.right {
    display: flex;
    justify-content: center;
    width: calc(100% - 73px);
    height: 100vh;

    /* positions right div properly */
    margin-left: 73px;

    /* background-color: var(--main-db-bg-color); */
    padding: 40px;
}



.main {
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border: 3px solid var(--bg-orange);
    padding: 20px;
}



/* header */
.main-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    color: var(--primary-color);
}

.main-header span {
    font-size: 2.2em;
    font-weight: bold;
    border-bottom: 2px solid var(--bg-orange);
    display: flex;
}



/* buttons */
.main-buttons {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    gap: 20px;
}

.main-buttons button {
    border-radius: 20px;
    color: white;
    font-size: 2em;
    background-color: var(--primary-color);
    border: none;
    font-weight: bold;
    transition: var(--smooth-transition);
    cursor: pointer;
}


.cea {
    width: 20%;
    height: 100%;
}

/* group of 4 buttons */
.buttons-group {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    height: 100%;
    gap: 20px;
}

.buttons-group button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-basis: calc(50% - 10px);
    padding: 10px;
}


/* hover states */
.main-buttons button:hover {
    color: black;
}

.cea:hover {
    background-color: #db9050;
}

.cbea:hover {
    background-color: #dbcd50;
}

.cas:hover {
    background-color: #429f39;
}

.ced:hover {
    background-color: #264f80;
}

.ihk:hover {
    background-color: #db508a;
}