.right {
    display: flex;
    justify-content: center;
    width: calc(100% - 73px);
    height: 100vh;

    /* positions right div properly */
    margin-left: 73px;
    padding: 40px;
}


.main {
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border: 3px solid var(--bg-orange);
    padding: 1.5em;
    background-color: var(--white);
}


/* header */
.main-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    color: var(--primary-color);
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--bg-orange);
    margin-bottom: 0.5em;
    padding: 0;
}

.college, .name {
    font-size: 0.7rem;
    font-weight: 800;
    line-height: normal;
    padding: 0;
    margin: 0;
}

.name {
    text-transform: uppercase;
}

.id {
    font-size: 0.7rem;
    font-weight: 600;
    line-height: normal;
}

.title {
    font-size: 1.1rem;
    font-weight: 800;
    line-height: normal;
    padding: 0.5em;
}

.answer {
    font-size: 1.1rem;
    color: var(--bg-orange);
    text-transform: uppercase;
}

.student-id {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.back-button img {
    aspect-ratio: 1/1;
    width: 1.3em;
    cursor: pointer;
}

.vl {
    border-left: 2px solid var(--primary-color);
    height: 100%;
    margin: 0;
    padding: 0;
}

.rows {
    width: 100%;
    height: auto;
    margin-bottom: 1.5rem;
}

.row1, .row2, .row3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 0.6em;
    width: auto;
    margin: 0.5em 0;
}


.nature-content, .identity-content,
.campus-content, .age-content, .counselor {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: var(--primary-color);
    font-weight: bold;
    line-height: normal;
    border-radius: 2.5rem;
    border: 2px solid var(--primary-color);
    padding: 0 3.5em;
    width: 100%;
    height: 100%;
}


.full-records-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: var(--primary-color);
    margin-bottom: 0.5em;
    width: 100%;
}

.full-records-button img {
    aspect-ratio: 1/1;
    width: 1.3em;
    transition: var(--smooth-transition);
}

.edit-print-button {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* edit and print button images */
.edit-print-button img {
    aspect-ratio: 1/1;
    width: 2.5em;
    background-color: var(--primary-color);
    padding: 5px;
    cursor: pointer;
    border-radius: 50%;
    overflow: hidden;
    transition: var(--smooth-transition);
}

.edit-print-button img:hover {
    background-color: #053446;
    transform: scale(1.1);
}

.edit, .print, .upload {
    margin: 0 0.5em;
}

.info {
    width: 100%;
    height: 100%;
    margin: 0;

    /* need to fix */
}

.basic-info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.full-records {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--white);
    width: 100%;
    height: auto;
    border-radius: 0.8rem;
    color: var(--primary-color);
    padding: 0.5em 2.5em;
    border: 3px solid var(--primary-color);
    overflow: hidden;
}


.full-records span {
    color: var(--bg-orange);
}

.view-records {
    background: none;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--primary-color);
    cursor: pointer;
}

.view-records:hover img  {
    transform: translateX(5px) scale(1.1);
}

.details {
    display: flex;
    flex-direction: row;
}

.data {
    color: var(--bg-orange);
    font-weight: normal;
}

.basic-info-column-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 0.4rem;
    line-height: normal;
    width: 100%;
    margin: 0;
    padding: 0;
}

.basic-info-column1, .basic-info-column2 {
    width: 100%;
    justify-content: stretch;
}

.info-answer {
    font-size: 1.1rem;
    color: var(--bg-orange);
    line-height: normal;
    font-weight: normal;
}


.guardian-info-column-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 0.4rem;
    line-height: normal;
    width: 100%;
    margin: 0;
    padding: 0;
}

.guardian-info-column1, .guardian-info-column2 {
    width: 100%;
}



.referral-title {
    font-size: 1.1rem;
    font-weight: 800;
    line-height: normal;
    justify-self: flex-start;
}

.emergency-info-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

.emergency-info-column-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
}


.emergency-info-column1, .emergency-info-column2 {
    width: 100%;
}


/* sweet alert/modal style */
.swal2-popup {
    width: 70%;
    height: 85%;
    border-radius: 1.5rem;
    box-shadow: 2px 2px 15px 10px rgb(0 0 0 / 40%);
    background-color: var(--white);
}

.title-modal {
    font-size: 1rem;
    font-weight: 800;
    line-height: normal;
}



.full-records-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    color: var(--primary-color);
    padding: 0 1em;
    overflow-y: scroll;
}

.full-records-modal span {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 800;
    line-height: normal;
    border-bottom: 2px solid var(--bg-orange);
    width: 100%;
    padding-bottom: 0.6em;
    margin: 0;
}

.full-records-modal .info {
    height: 100%;
    width: 100%;
}

.full-records-modal .details {
    display: flex;
    flex-direction: row;
    font-size: 0.5rem;
}

.full-records-modal .basic-info-column-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
    padding: 0;
}

.full-records-modal .column1, .full-records-modal .column2 {
    width: 100%;
}

/* Sidebar active indicator */
.sidebar-buttons #students-container::before {
    content: "";
    position: relative;
    left: 0;
    height: 25px;
    border-left: 7px solid var(--bg-orange);
    border-radius: 0 3px 3px 0;
    transform: translateX(-25px);
}

#students-container img, #students-container span {
    transform: translateX(-7px);
}


.history-info-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

.question {
    font-size: 1.1rem;
    font-weight: 800;
    line-height: normal;
}

.treatment-info-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

.medical-info-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

.family-info-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

table, th, td {
    border: 1px solid var(--primary-color);
  }

  /* header */
.main-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: auto;
    color: var(--primary-color);
    margin-bottom: 1em;
    border-bottom: 2px solid var(--bg-orange);
    padding-bottom: 1em;
}

p {
    color: var(--primary-color);
    font-size: 1.1rem;
    font-weight: bold;
}

.main-header span {
    font-size: 2.2em;
    font-weight: bold;
}

.main {
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border: 3px solid var(--bg-orange);
    padding: 20px;
    background-color: var(--white);
}

* {
    transition: var(--smooth-transition);
    box-sizing: border-box;
}





/* top header font size */
.main-header-content {
    font-size: 1.5rem !important;
}

/* style for all text headers */
header {
    text-align: center;
    font-family: Lexend-bold;
    font-size: 1.3rem;
    color: var(--primary-color);
    margin: 10px 0;
}

hr {
    border-top: 1px solid var(--bg-orange);
    width: 100%;
}

.main-content {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* keeps everything aligned */
.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* main styling layout per section */
.basic-information, .referral, .emergency, .historyinfo, .prevtreatment, .medhistory, .famhistory, .sochistory, .educhistory, .occuhistory, .subsabuse, .legalhistory, .additionalinfo, .personalagree, .refinfo, .confidential {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    justify-content: center;

    /* background-color: rgba(0, 0, 255, 0.249); */
}


/* double-column format */
.double-column {
    display: flex;
    width: 100%;
    padding: 0 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.double-column div {
    width: auto;
    display: flex;
    margin-bottom: 7px;
}

/* input style */
input, select {
    width: 200px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid var(--primary-color);
    color: var(--fade-text-blue);
}

/* input placeholder style */
input::placeholder {
    opacity: 0.5;
    color: var(--fade-text-blue);
}



.single-column {
    display: flex;
    width: 100%;
    padding: 0 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.single-column div {
    width: 400px;
    display: flex;
    margin-bottom: 7px;
}

.single-column div:last-child {
    margin-bottom: 0;
}

.form-width100 {
    display: flex;
    width: 100%;
}


label {
    width: 200px !important;
    color: var(--primary-color);
    font-family: Lexend-bold;
    display: flex;
    align-items: center;
}

.left-align {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
    padding: 0 20px;
    margin-bottom: 7px;
    color: var(--primary-color);
}






/* left-align referral label main style */
.referral label, .left-align label {
    width: 100% !important;
    margin-bottom: 7px;
}



/* radio container style */
.radio-inline-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;

}

.radio-inline-container div {
    display: flex;
    flex-direction: row;
    padding-right: 20px;
}

.radio-inline-container label {
    margin: 0 !important;
}

.radio-inline-container input:not([type=text]) {
    display: flex;
    width: 20px !important;
    aspect-ratio: 1/1;
}


/* left align style for the list of checkboxes */
.left-align-checkbox {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
    padding: 0 20px;
    margin-bottom: 7px;
    color: var(--primary-color);
    list-style: none;
    margin: 0;
}

.left-align-checkbox li {
    column-gap: 5px;
    margin-bottom: 7px;

}

.left-align-checkbox label {
    width: auto !important;
    font-family: Lexend-regular;
    display: inline-block;
}


/* roundes checkboxes but eliminates the checkmark */
.checkbox-round {
    width: auto;
    aspect-ratio: 1/1;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid var(--primary-color);
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.checkbox-round:checked {
    background-color: #0075ff;
}


/* style for spanning the label and input at the same line */
.single-column-span {
    flex-direction: row;
}

.single-column-span label {
    width: 200px !important;
}


/* for three column layouts */
.tri-column {
    display: flex;
}



/* table format */
table {
    border-collapse: collapse;
    width: calc(100% - 40px);
    padding: 0 7px;
    margin-bottom: 7px;
}

th, td {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    padding: 10px 15px;
    text-align: center;
}


/* personal agreements container style */
.personalagree .container, .refinfo .container, .confidential .container {
    width: calc(100% - 40px);
    height: auto;
    margin: 20px 0;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    padding: 10px 20px;
    color: var(--primary-color);
}


.tac {
    display: flex;
}

.tac label {
    width: auto !important;
}

.tac input {
    width: 20px;
    aspect-ratio: 1/1;
    margin-right: 10px;
}

.tacdatetime {
    margin-top: 10px;
    width: 342px;
}


.form-btn-container {
    display: flex;
    width: 100%;
    padding-top: 1em;
    column-gap: 20px;
    justify-content: center;
}


.update-btn {
    width: 200px;
    padding: 7px 62px;
    font-family: Lexend-regular;
    font-size: 1em;
    border-radius: 0.2em;
    cursor: pointer;
    background-color: var(--primary-color);
    color: white;
    border-radius: 20px;
    border: none;
}

.cancel-btn {
    width: 200px;
    padding: 7px 62px;
    font-family: Lexend-regular;
    font-size: 1em;
    border-radius: 0.2em;
    cursor: pointer;
    border-radius: 20px;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
}

.update-btn:hover {
    background-color: #084b65;
}

/* responsiveness*/
@media screen and (width <=1127px) {
    .double-column, .single-column, .left-align, .left-align-checkbox {
        justify-content: center;
    }

    .left-align, .left-align-checkbox {
        width: 400px !important;
        padding: 0;
    }

    .personalagree .container, .refinfo .container, .confidential .container {
        width: 400px !important;
    }



    .left-align-checkbox li {
        background-color: #f3ded0;
        border-radius: 5px;
    }

    .single-column-span, .resp, .tri-column, .raisedby, .relby {
        flex-direction: column;
    }


    .treatmenttype {
        display: flex;
        flex-direction: column;
    }

    .treatmenttype label {
        padding-right: 0;
    }

    .referral {
        width: 358px !important;
    }



}