.right {
    display: flex;
    justify-content: center;
    width: calc(100% - 73px);
    height: 100vh;

    /* positions right div properly */
    margin-left: 73px;

    /* background-color: var(--main-db-bg-color); */
    padding: 40px;
}



.main {
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border: 3px solid var(--bg-orange);
    padding: 20px;
}



/* header */
.main-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    color: var(--primary-color);
}

.main-header span {
    font-size: 2.2em;
    font-weight: bold;
    border-bottom: 2px solid var(--bg-orange);
    display: flex;
    padding-bottom: 10px;
}



/* buttons */
.main-buttons {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    gap: 20px;
}

.main-buttons button, .main-buttons a {
    border-radius: 20px;
    color: white;
    font-size: 1.2em;
    background-color: var(--primary-color);
    border: none;
    font-weight: bold;
    transition: var(--smooth-transition);
    cursor: pointer;
}

.main-buttons button {
    height: 100% !important;
    width: 100% !important;
}


/* cea button */
.cea, #cea {
    width: 20%;
    height: 100%;
}


/* group of 4 buttons */
.buttons-group {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    height: 100%;
    gap: 20px;
}

.buttons-group a, .buttons-group button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-basis: calc(50% - 10px);
    text-decoration: none;
}

/* expand button to entire <a> container */
.buttons-group button {
    height: 100% !important;
    width: 100% !important;
}


/* hover states */
.cea:hover {
    background-color: #db9050;
}

.cbea:hover {
    background-color: #dbcd50;
}

.cas:hover {
    background-color: #429f39;
}

.ced:hover {
    background-color: #264f80;
}

.ihk:hover {
    background-color: #db508a;
}