.right {
    display: flex;
    justify-content: center;
    width: calc(100% - 73px);
    height: 100vh;
    margin-left: 73px;

    /* background-color: var(--main-db-bg-color); */
    padding: 40px;
    background-color: var(--main-db-bg-color);
    overflow-x: hidden;
    flex-direction: column;
}


p {
    color: var(--primary-color);
    font-size: 1.1rem;
    font-weight: bold;
}

.main-header span {
    font-size: 2.2em;
    font-weight: bold;
}

.main {
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border: 3px solid var(--bg-orange);
    padding: 20px;
    background-color: var(--white);
}

* {
    transition: var(--smooth-transition);
    box-sizing: border-box;
}

.title-back {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 2px solid var(--bg-orange);
    padding: 0 0 0.5em;
}

/* header */
.main-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    color: var(--primary-color);
    justify-content: space-between;
    margin-bottom: 1em;
}


.back-button button {
    cursor: pointer;
}

.back-button img {
    aspect-ratio: 1/1;
    width: 1.4em;
    position: relative;
}

.back-button:hover img {
    transform: translateX(-5px) scale(1.1);
}

.main-content a {
    background-color: transparent;
    text-decoration: none;
}

.upload {
    border-radius: 2em;
    border: none;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--white);
    padding: 0.5em 1em;
    width: auto;
    font-size: 1rem;
    margin-bottom: 2.5em;
}

.upload img {
    aspect-ratio: 1/1;
    width: 1.2em;
    margin-right: 0.6em;
}

.upload:hover {
    background-color: var(--bg-orange);
}

.file-delete {
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.6em;
}

.file-container {
    border: 2px solid var(--primary-color);
    padding: 1em 1.5em;
    color: var(--primary-color);
    width: 95%;
    border-radius: 1em;
}

.delete img {
    aspect-ratio: 1/1;
    width: 1.5em;
}

.delete {
    border-radius: 50%;
    background-color: var(--primary-color);
    padding: 0.7em;
    border: none;
}

.delete:hover {
    background-color: red;
    transform: scale(1.1);
}

.all-files {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.file-container a {
    text-decoration: underline;
    color: var(--primary-color);
}

.imageURl {
    width: auto;
    height: auto;
}

/* sweet alert/modal style */
.swal2-popup {
    color: var(--bg-orange);
    font-size: 1.7rem;
    background: var(--main-db-bg-color);
    border-radius: 1.5rem;
    box-shadow: 2px 2px 15px 10px rgb(0 0 0 / 40%);
    padding-bottom: 2em;
    width: auto;
    height: auto;
}

.swal2-title {
    font-size: 2.5rem;
    font-weight: 800;
    line-height: normal;
    color: var(--primary-color);
}