{% extends "components/base.html" %} {% block title %} Mindsight - History
{%endblock %} {% block styles %}
<link rel="stylesheet" href="/static/css/counseling-history.css" />
{% endblock %} {% block content %}

<div class="right">
  <div class="main">
    <div class="main-header">
      <!-- TODO: counselor name -->
      <span>{{ admin_name }}</span>
      <div class="back-button">
        <a href="{{ url_for ('admin') }}">
          <img src="/static/SVG/back_button.svg" />
        </a>
      </div>
    </div>
    

    <div class="bottom-header">
      <div class="text"><span>Your counseling history..</span></div>

      <div class="search-container">
        <form method="GET" action="{{ url_for('search', query=query) }}">
          <div class="search-bar">
            <input
            type="text"
            placeholder="Search"
            name="query"
            value="{{query}}"
            />
            <button type="submit">
              <img src="/static/students/search.png" alt="search" />
            </button>
          </div>
        </form>
      </div>
    </div>
    

    <!-- flex grid -->
    <div class="grid-header">
      <div class="grid-date">Date</div>
      <div class="grid-section">Student ID</div>
      <div class="grid-college">College</div>
      <div class="grid-name">Name</div>
      <div class="grid-gender">Gender</div>
      <div class="grid-counselor">Counselor</div>
    </div>
    <div class="grid-container">
      <!-- sample data rows -->
      <div class="row-container">
        {% for student in data %} {% if student.college == college%}
        <a
          href="{{ url_for('student_record', student_id=student.student_id) }}"
          class="grid-row"
        >
          <div class="grid-date"></div>
          <div class="grid-section">{{ student.student_id }}</div>
          <div class="grid-college">{{ student.college }}</div>
          <div class="grid-name">{{ student.last_name }}, {{ student.first_name }} </div>
          <div class="grid-gender"> {{ student.gender }}</div>
          <div class="grid-counselor"> {{ student.gender }}</div>
        </a>
        {% endif %} {% endfor %}
        <!-- Add more rows as needed -->
      </div>
    </div>
  </div>

  <script src="{{url_for('static', filename='javascript/cdn/sweetalert2.all.min.js')}}"></script>
  <script src="{{url_for('static', filename='javascript/logout_confirmation.js')}}"></script>
  {% endblock %}
</div>
