{% extends "components/base.html" %} {% block title %} Mindsight - {{ student_data[0]['student_id'] }}{%endblock %} {% block styles %}
<link rel="stylesheet" href="/static/css/guidance-viewing.css" />
{% endblock %} {% block content %}

<div class="right">
    <div class="main">
        <!-- Header -->
        <div class="main-header">
            <h1 class="college"> {{student_data[0]['college']}} </h1>
            <h1 class="name"> {{student_data[0]['first_name']}} {{student_data[0]['last_name']}} </h1>
            <div class="vl"></div>
            <div class="student-id">
                <h1 class="id">Student ID: &nbsp;</h1>
                <h1 class="id">{{student_data[0]['student_id']}}</h1>
            </div>
            <div class="back-button">
                <a href="{{ url_for ('college_records', college=student_data[0]['college'])}}">
                    <img src="/static/SVG/back_button.svg"/>
                </a>
            </div>
        </div>

        <!-- Nature, Identity, Campus, and Age -->
        <div class="rows">
            <div class="row1">
                <div class="nature-content">
                    <h1 class="title">Status: &nbsp;</h1>
                    <h1 class="answer">Enrolled</h1>
                </div>
                <div class="identity-content">
                    <h1 class="title">Identity: &nbsp;</h1>
                    <h1 class="answer">{{student_data[0]['gender']}}</h1>
                </div>
            </div>
            <div class="row2">
                <div class="campus-content">
                    <h1 class="title">Campus: &nbsp;</h1>
                    <h1 class="answer">{{student_data[0]['campus']}}</h1>
                </div>
                <div class="age-content">
                    <h1 class="title">Age: &nbsp;</h1>
                    <h1 class="answer">{{student_data[0]['age']}}</h1>
                </div>
            </div>
            <div class="row3">
                <div class="counselor">
                    <h1 class="title">Counselor: &nbsp;</h1>
                    <h1 class="answer">Emmanuelle A. Santiago</h1>
                </div>
            </div>
        </div> 

        <!-- Full records -->
        <div class="full-records-button">
            <button class="view-records" id="view">
                <h1 class="title">View full records &nbsp;</h1>
                <img src="/static/SVG/view_button.svg"/>    
            </button>
            <div class="edit-print-button">
                <div class="edit">
                    <a href={{ url_for('edit_record', student_id=student_data[0]['student_id']) }}>
                        <img src="{{url_for('static', filename='edit-button.png')}}"/>
                    </a>
                </div>
                <div class="print">
                    <a href={{ url_for('print_record', student_id=student_data[0]['student_id']) }}>
                        <img src="{{url_for('static', filename='print-button.png')}}"/>
                    </a>
                </div>
            </div>
        </div>
        
        <div id="studentDetails" class="full-records">
            <span>Client History and Information</span>
            <div class="info">
                <!-- Basic Information -->
                <div class="basic-info">
                    <h1 class="title">Basic Information</h1>
                    <div class="basic-info-column-content">
                        <div class="basic-info-column1">
                            <div class="details">
                                <h1>Client's Name: &nbsp;</h1>
                                <h1 class="data">{{student_data[0]['first_name']}} {{student_data[0]['last_name']}}</h1>
                            </div>
                            <div class="details">
                                <h1>Course/Department: &nbsp;</h1>
                                <h1 class="data">{{student_data[0]['college']}}</h1>
                            </div>
                            <div class="details">
                                <h1>Date of Birth: &nbsp;</h1>
                                <h1 class="data">{{student_data[0]['date_of_birth']}}</h1>
                            </div>
                            <div class="details">
                                <h1>Gender: &nbsp;</h1>
                                <h1 class="data">{{student_data[0]['gender']}}</h1>
                            </div>
                            <div class="details">
                                <h1>Nationality: &nbsp;</h1>
                                <h1 class="data">{{student_data[0]['nationality']}}</h1>
                            </div>
                            <div class="details">
                                <h1>Home Address: &nbsp;</h1>
                                <h1 class="data">{{student_data[0]['residence']}}</h1>
                            </div>
                            <div class="details">
                                <h1>Email Address: &nbsp;</h1>
                                <h1 class="data">{{student_data[0]['contact_number']}}</h1>
                            </div>
                        </div>
                        <div class="basic-info-column2">
                            <div class="details">
                                <h1>Student's Number: &nbsp;</h1>
                                <h1 class="data">{{student_data[0]['student_id']}}</h1>
                            </div>
                            <div class="details">
                                <h1>Grade/Yr. Level: &nbsp;</h1>
                                <h1 class="data">{{student_data[0]['year_level']}}</h1>
                            </div>
                            <div class="details">
                                <h1>Age: &nbsp;</h1>
                                <h1 class="data">{{student_data[0]['age']}}</h1>
                            </div>
                            <div class="details">
                                <h1>Civil Status: &nbsp;</h1>
                                <h1 class="data">{{student_data[0]['']}}</h1>
                            </div>
                            <div class="details">
                                <h1>Religion: &nbsp;</h1>
                                <h1 class="data">{{student_data[0]['religion']}}</h1>
                            </div>
                            <div class="details">
                                <h1>Phone No.: &nbsp;</h1>
                                <h1 class="data">{{student_data[0]['contact_number']}}</h1>
                            </div>
                            <div class="details">
                                <h1>Cellphone No.: &nbsp;</h1>
                                <h1 class="data">{{student_data[0]['contact_number']}}</h1>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Guardian Information -->
                <div class="guardian-info">
                    <div class="guardian-info-column-content">
                        <div class="guardian-info-column1">
                            <div class="details">
                                <h1>Name of Guardian: &nbsp;</h1>
                                <h1 class="data">{{student_data[0]['mother_first_name']}} {{student_data[0]['mother_last_name']}}</h1>
                            </div>
                            <div class="details">
                                <h1>Address of Guardian: &nbsp;</h1>
                                <h1 class="data">{{student_data[0]['residence']}}</h1>
                            </div>
                        </div>
                        <div class="guardian-info-column2">
                            <div class="details">
                                <h1>Guardian's Contact No.: &nbsp;</h1>
                                <h1 class="data">{{student_data[0]['contact_number']}}</h1>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Referral Source -->
                <div class="referral-content">
                    <h1 class="title">Referral Source</h1>
                    <h1 class="referral-title">Who referred you to our office, or how did you learn about our service?</h1>
                    <h1 class="info-answer"> Lorem ipsum dolor sit amet consectetur. Arcu eget adipiscing mattis pharetra tellus tempus ipsum fermentum.</h1>
                </div>

                <!-- Emergency Contact Information -->
                <div class="emergency-info-content">
                    <h1 class="title">Emergency Contact Information</h1>
                    <div class="emergency-info-column-content">
                        <div class="emergency-info-column1">
                            <div class="details">
                                <h1>Name: &nbsp;</h1>
                                <h1 class="data">{{student_data[0]['mother_first_name']}} {{student_data[0]['mother_last_name']}}</h1>
                            </div>
                            <div class="details">
                                <h1>Address: &nbsp;</h1>
                                <h1 class="data">{{student_data[0]['residence']}}</h1>
                            </div>
                        </div>
                        <div class="emergency-info-column2">
                            <div class="details">
                                <h1>Relationship: &nbsp;</h1>
                                <h1 class="data">Mother</h1>
                            </div>
                            <div class="details">
                                <h1>Cellphone No.: &nbsp;</h1>
                                <h1 class="data">{{student_data[0]['contact_number']}}</h1>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- History Information -->
                <div class="history-info-content">
                    <h1 class="title">History Information</h1>
                    <h1 class="question">Who is providing the history information?</h1>
                    <h1 class="info-answer">Lorem ipsum</h1>

                    <h1 class="question">Please describe the current complaint or problem as specifically as you can, in your own words.</h1>
                    <h1 class="info-answer">Lorem ipsum dolor sit amet consectetur. Arcu eget adipiscing mattis pharetra tellus tempus ipsum fermentum.</h1>

                    <h1 class="question">How long have you experienced this problem, or when did you first notice it?</h1>
                    <h1 class="info-answer">Lorem ipsum dolor sit amet consectetur. Arcu eget adipiscing mattis pharetra tellus tempus ipsum fermentum.</h1>

                    <h1 class="question">What stressors may have contributed to the current complaint or problem?</h1>
                    <h1 class="info-answer">Lorem ipsum dolor sit amet consectetur. Arcu eget adipiscing mattis pharetra tellus tempus ipsum fermentum.</h1>

                    <h1 class="question">Check all the words/phrases that describe what you are experiencing and explain if possible.</h1>
                    <h1 class="info-answer">Lorem ipsum dolor sit amet consectetur. Arcu eget adipiscing mattis pharetra tellus tempus ipsum fermentum.</h1>
                </div>
            

                <!-- Previous Treatment -->
                <div class="treatment-info-content">
                    <h1 class="title">Previous Treatment</h1>
                    <h1 class="question">Have you received or participated in previous counseling and/or therapy?</h1>
                    <h1 class="info-answer">Yes</h1>

                    <h1 class="question">What did you like/dislike about previous treatment?</h1>
                    <h1 class="info-answer">Lorem ipsum dolor sit amet consectetur. Arcu eget adipiscing mattis pharetra tellus tempus ipsum fermentum.</h1>

                    <h1 class="question">What did you learn about yourself through previous counseling/treatment that may help you?</h1>
                    <h1 class="info-answer">Lorem ipsum dolor sit amet consectetur. Arcu eget adipiscing mattis pharetra tellus tempus ipsum fermentum.</h1>

                    <h1 class="question">Is there any type of treatment you would like to continue?</h1>
                    <h1 class="info-answer">Lorem ipsum dolor sit amet consectetur. Arcu eget adipiscing mattis pharetra tellus tempus ipsum fermentum.</h1>

                    <h1 class="question">Have you had hospital stays for psychological concerns?</h1>
                    <h1 class="info-answer">Yes</h1>

                    <h1 class="question">Are you currently experiencing thoughts of harming either yourself or someone else?</h1>
                    <h1 class="info-answer">Yes</h1>

                    <h1 class="question">Have you in the past experienced thoughts of harming either yourself or someone else?</h1>
                    <h1 class="info-answer">Yes</h1>
                </div>


                <!-- Medical History -->
                <div class="medical-info-content">
                    <h1 class="title">Medical History</h1>
                    <h1 class="question">List any current or important past medications.</h1>
                    <div class="details">
                        <h1 class="question">Medication & Dose: &nbsp;</h1>
                        <h1 class="info-answer">Lorem ipsum dolor sit amet consectetur.</h1>
                    </div>
                    <div class="details">
                        <h1 class="question">History of serious childhood illness: &nbsp;</h1>
                        <h1 class="info-answer">Lorem ipsum dolor sit amet consectetur.</h1>
                    </div>
                    <h1 class="question">Other health concerns, serous illness, conditions, or major operations requiring hospitalization during your life time: &nbsp;</h1>
                    <div class="details">
                        <h1 class="question">Have you experienced any head injuries? &nbsp;</h1>
                        <h1 class="info-answer">Yes</h1>
                    </div>
                    <h1 class="question">Important Details: &nbsp;</h1>
                    <div class="details">
                        <h1 class="question">If yes, did you lose consciousness? &nbsp;</h1>
                        <h1 class="info-answer">Yes</h1>
                    </div>
                    <div class="details">
                        <h1 class="question">Have you experienced convulsions or seizures? &nbsp;</h1>
                        <h1 class="info-answer">Yes</h1>
                    </div>
                    <div class="details">
                        <h1 class="question">If yes, did you also have fever? &nbsp;</h1>
                        <h1 class="info-answer">Yes</h1>
                    </div>
                    <div class="details">
                        <h1 class="question">List any allergies you have: &nbsp;</h1>
                        <h1 class="info-answer">Yes</h1>
                    </div>
                    <h1 class="question">How would you rate your current physical health? &nbsp;</h1>
                    <h1 class="info-answer">Good</h1>
                    <div class="details">
                        <h1 class="question">What was the date of your last physical or routine health “check up”? &nbsp;</h1>
                        <h1 class="info-answer">Lorem ipsum dolor sit amet consectetur.</h1>
                    </div>
                    <div class="details">
                        <h1 class="question">Do you have a primary care physician? &nbsp;</h1>
                        <h1 class="info-answer">Yes</h1>
                    </div>
                    <h1 class="question">If yes, complete the following: &nbsp;</h1>
                    <div class="details">
                        <div class="details">
                            <h1 class="question">Name: &nbsp;</h1>
                            <h1 class="info-answer">Lorem</h1>
                        </div>
                        <div class="details">
                            <h1 class="question">Email: &nbsp;</h1>
                            <h1 class="info-answer">Lorem</h1>
                        </div>
                        <div class="details">
                            <h1 class="question">Contact Number: &nbsp;</h1>
                            <h1 class="info-answer">Yes</h1>
                        </div>
                    </div>
                </div>

                
                <!-- Family History -->
                <div class="family-info-content">
                    <h1 class="title">Family History</h1>
                    <div class="row">
                        <h1 class="question">Birth Location: &nbsp;</h1>
                        <h1 class="info-answer">Lorem ipsum dolor sit amet consectetur.</h1>
                    </div>
                    <div class="row">
                        <h1 class="question">Raised by: &nbsp;</h1>
                        <h1 class="info-answer">Father</h1>
                    </div>
                    <h1 class="question">Relationship with parent figures: (INDICATE if good, fair, poor, close, distant, etc.) &nbsp;</h1>
                    <div class="row">
                        <h1 class="question">Mother: &nbsp;</h1>
                        <h1 class="info-answer">Good</h1>
                    </div>
                    <div class="row">
                        <h1 class="question">Father: &nbsp;</h1>
                        <h1 class="info-answer">Good</h1>
                    </div>
                    <div class="row">
                        <h1 class="question">Step-Parent: &nbsp;</h1>
                        <h1 class="info-answer">Other</h1>
                    </div>
                    <div class="row">
                        <h1 class="question">Other: &nbsp;</h1>
                        <h1 class="info-answer">Other</h1>
                    </div>

                    <table>
                        <tr class="question">
                          <th></th>
                          <th>Sibling 1</th>
                          <th>Sibling 2</th>
                          <th>Sibling 3</th>
                          <th>Sibling 4</th>
                        </tr>
                        <tr>
                          <td>Name of Sibling</td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td>Age</td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                            <td>Gender</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>Nature of Relationship</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                    </table>
                </div>



            </div>
        </div>
    </div>
</div>
</body>

<script src={{ url_for('static', filename='javascript/cdn/sweetalert2.all.min.js') }}></script>
<script src={{ url_for('static', filename='javascript/student_record.js') }}></script>
{% endblock %}
