<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Lexend"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="/static/SVG/EYE LOGO.svg"
    />
    <link rel="stylesheet" href="/static/css/dashboard.css" />
    <title>MindSight: Dashboard</title>
  </head>
  <body>
    <nav class="sidebar">
      <div class="logo">
        <img
          id="logo"
          src="/static/MINDSIGHT LOGO (WHITE).png"
          alt="MindSight logo"
        />&nbsp;<img
          id="logo-initial"
          src="/static/SVG/EYE LOGO.svg"
          alt="MindSight logo-eye"
        />
      </div>

      <div class="overview">
        <p>Overview</p>
        <ul>
          <li>
            <a href="#"
              ><img src="/static/SVG/dashboard.svg" /><span
                >Dashboard</span
              ></a
            >
          </li>
          <li>
            <a href="#"
              ><img src="/static/SVG/admin.svg" /><span>Admin</span></a
            >
          </li>
          <li>
            <a href="#"
              ><img src="/static/SVG/analytics.svg" /><span
                >Analytics</span
              ></a
            >
          </li>
          <li>
            <a href="#"
              ><img src="/static/SVG/students.svg" /><span
                >Students</span
              ></a
            >
          </li>
        </ul>
      </div>

      <div class="account">
        <p>Account</p>
        <ul>
          <li>
            <a href="#"
              ><img src="/static/SVG/settings.svg" /><span
                >Settings</span
              ></a
            >
          </li>

          <li>
            <a href="#"
              ><img src="/static/SVG/log-out.svg" /><span
                >Log&nbsp;out</span
              ></a
            >
          </li>
        </ul>
      </div>

      <div class="profile">
        <img class="profile-image" src="/static/profile.png" /><span
          >William&nbsp;Smith</span
        >
      </div>
    </nav>
  </body>
</html>
