<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Lexend"
    />
    <link rel="stylesheet" href="../static/css/loginv2.css" />
    <title>Document</title>
  </head>
  <body>
    <section class="left-main">
      <img class="svg-top" src="../static/SVG/svg-login-top.svg" />
      <div class="lsub-container">
        <div class="lsub-top">
          <div class="welcome-msg">Welcome to</div>
          <img
            src="../static/MINDSIGHT LOGO (WHITE).png"
            class="logo-img"
            alt="Mindsight logo"
          />
        </div>
        <div>
          <div class="btn-header">
            <span>New Here?</span>Have an account with us!
          </div>
          <button class="btn-signup">SIGN UP</button>
        </div>
      </div>
      <img class="svg-bottom" src="../static/SVG/svg-login-bottom.svg" />
    </section>

    <section class="right-main"></section>
  </body>
</html>
