<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/login.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/media/images/SVG/EYE LOGO.svg">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lexend">
    <title>Mind Sight: Log in</title>
</head>
<body>
    <div class="container">
        <img class="full_logo" src="/static/SVG/MINDSIGHT LOGO.svg">
        <h1>Log in</h1>
        <form action="login-form" method="POST">
            <div class="inputs">
                <input class="username" type="text" name="username" placeholder="Username" required>
                <input class="password" type="password" name="password" placeholder="Password" required>
                <input class="forgot" type="button" value="Forgot Password?">
                <div class="prmpt">{{ prmpt }}</div>
                <button class="login" type="submit">LOG IN</button>
            </div>
            <div class="account">
                <p>Don't have an account?</p>
               <a href="{{ url_for('signup') }}">
                <input class="signup" type="button" value="Sign up!">
               </a>
            </div>
        </form>
    </div>
</body>
</html>
