<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Lexend"
    />
    <link rel="stylesheet" href="../static/css/signup.css" />
    <link rel="icon" type="image/x-icon" href="/static/SVG/EYE LOGO.svg" />
    <title>Mindsight | Signup</title>
  </head>
  <body>
    <!-- left -->
    <section class="left-main">
      <img class="svg-top" src="../static/SVG/svg-login-top.svg" />
      <div class="lsub-container">
        <div class="lsub-top">
          <div class="welcome-msg">Welcome to</div>
          <img
            src="../static/MINDSIGHT LOGO (WHITE).png"
            class="logo-img"
            alt="Mindsight logo"
          />
        </div>
        <div>
          <div class="btn-header">
            <span>Already a member?</span>Welcome back!
          </div>
          <a href="{{ url_for('signup') }}">
            <button class="btn-login">LOG IN</button>
          </a>
        </div>
      </div>
      <img class="svg-bottom" src="../static/SVG/svg-login-bottom.svg" />
    </section>

    <!-- right -->
    <section class="right-main">
      <div class="rsub-container">
        <form action="login-form" method="POST">
          <p>Sign up</p>
          <!-- firstname -->
          <input
            type="text"
            placeholder="firstname"
            name="firstname"
            id="input"
            required
          />

          <!-- lastname -->
          <input
            type="text"
            placeholder="lastname"
            name="lastname"
            id="input"
            required
          />

          <!-- username -->
          <input
            type="text"
            placeholder="username"
            name="username"
            id="input"
            required
          />

          <!-- email -->
          <input
            type="text"
            placeholder="email"
            name="email"
            id="input"
            required
          />

          <!-- password -->
          <div class="password-div">
            <div class="password-input-container">
              <input
                type="password"
                placeholder="password"
                name="password"
                id="password"
                required
              />
              <i class="togglepass" id="togglePassword"
                ><img
                  id="eye-image"
                  src="../static/SVG/eyehidden.svg"
                  alt="show/hide"
                  onclick="toggleImage()"
              /></i>
            </div>
          </div>
          <!-- confirm -->
          <div class="password-div">
            <div class="password-input-container">
              <input
                type="password"
                placeholder="confirm password"
                name="password-confirm"
                id="password-confirm"
                required
              />
              <i class="togglepass" id="togglePassword-confirm"
                ><img
                  id="eye-image-confirm"
                  src="../static/SVG/eyehidden.svg"
                  alt="show/hide"
                  onclick="toggleImageConfirm()"
              /></i>
            </div>
          </div>

          <div class="login-btn-container">
            <div class="prmpt">{{ prmpt }}</div>
            <button type="submit" class="signup-button">SIGN UP</button>
          </div>
        </form>
      </div>
    </section>

    <script src="../static/javascript/signup.js"></script>
  </body>
</html>
