<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/signup.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/media/images//SVG/EYE LOGO.svg">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lexend">
    <title>Mind Sight: Sign up</title>
</head>
<body>
    <div class="container">
        <img class="full_logo" src="/media/images/SVG/MINDSIGHT LOGO.svg">
        <h1>Sign up</h1>
        <form>
            <div class="inputs">
                <input class="username" id="username" type="text" placeholder="Username">
                <input class="password" id="password" type="password" placeholder="Password">
                <input class="confirm" id="confirm" type="password" placeholder="Confirm Password">
                <button class="signup" id="btn-popup" type="submit">SIGN UP</button>
            </div>
            <div class="account">
                <p>Already have an account?</p>
                <a href="/templates/login.html">
                <input class="login" type="button" value="Log in now!">
                </a>
            </div>
        </form>
    </div>
    <div class="modal-container" id="popup">
        <div class="modal-content">
            <img class="popup-logo" src="/media/images/popup.png">
            <div class="popup-message">
                <p class="awesome">Awesome!</p>
                <p class="acc-created">Account created <br> Successfully</p>
            </div>
            <a href="/templates/login.html">
                <input class="go-to-login" type="button" value="LOG IN">
            </a>
        </div>
    </div>
</body>
<script>
    //Modal
    var modal = document.getElementById("popup");

    //Opens modal
    var btn = document.getElementById("btn-popup");

    var username = document.getElementById("username").value;
    var password = document.getElementById("password").value;
    var confirmPass = document.getElementById("confirm").value;

    // if (username !== "" || password !== "" || confirmPass !== "") {
    //     if (password == confirmPass) {
            //When click sign up, modal opens
            btn.onclick = function check() {
                modal.style.display = "block";
            }
    //     }

    //     else {
    //         alert("Your password are not same");
    //     }
    // }
</script>
</html>
