<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/welcome.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="sidelogo.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lexend">
    <title>Mind Sight: Welcome Page</title>
</head>
<body>
    <nav class="sidebar">
        <div class="logo">
          <img
            id="logo"
            src="/media/images/MINDSIGHT LOGO (WHITE).png"
            alt="MindSight logo"
          />
        </div>
  
        <div class="overview">
          <p>Overview</p>
          <ul> 
            <li>
              <a href="/frontend/html/dashboard.html"
                ><img src="/media/images/SVG/dashboard.svg" /><span
                  >Dashboard</span
                ></a
              >
            </li>
            <li>
              <a href="#"
                ><img src="/media/images/SVG/admin.svg" /><span>Admin</span></a
              >
            </li>
            <li>
              <a href="#"
                ><img src="/media/images/SVG/analytics.svg" /><span
                  >Analytics</span
                ></a
              >
            </li>
            <li>
              <a href="#"
                ><img src="/media/images/SVG/students.svg" /><span
                  >Students</span
                ></a
              >
            </li>
          </ul>
        </div>
  
        <div class="account">
          <p>Account</p>
          <ul>
            <li>
              <a href="#"
                ><img src="/media/images/SVG/settings.svg" /><span
                  >Settings</span
                ></a
              >
            </li>
  
            <li>
              <a href="#"
                ><img src="/media/images/SVG/log-out.svg" /><span
                  >Log out</span
                ></a
              >
            </li>
          </ul>
        </div>
  
        <div class="profile">
          <img class="profile-image" src="/media/images/profile.png" /><span
            >William Smith</span
          >
        </div>
      </nav>
      <div class="content">
          <p class="welcome">Welcome to</p>
          <img class="logo" src="/media/images/SVG/MINDSIGHT LOGO.svg">
          <p class="tag-line">Gaining Clarity and Compassion in Mental Health <br>
          Through Data-Driven Insights</p>
      </div>
</body>
</html>
