<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="/static/css/main.css" />
  <link rel="stylesheet" href="/static/css/add-new-test.css" />
  <link rel="stylesheet" href="..//static/fonts/custom-fonts.css" />
  <link
    rel="stylesheet"
    type="text/css"
    href="/static/fonts/custom-fonts.css"
  />
  <link rel="icon" type="image/x-icon" href="/static/SVG/EYE LOGO.svg" />
  <title>Mindsight - Add Record</title>
  <body>
    <main>
      <header class="main-header">Client History and Information</header>
      <hr />

      <!-- start: BASIC INFORMATION -->
      <header>Basic Information</header>

      <div class="center">
        <section class="basic-information">
          <div class="double-column">
            <div>
              <label for="fname">First name:</label>
              <input
                type="text"
                id="fname"
                name="fname"
                placeholder="First Name"
              />
            </div>
            <div>
              <label for="studNumber">Student's Number:</label>
              <input
                type="text"
                id="studNumber"
                name="studNumber"
                placeholder="XXXX-XXXXXX"
                maxlength="11"
              />
            </div>
          </div>

          <div class="single-column">
            <div>
              <label for="course">Last Name:</label>
              <input
                type="text"
                id="course"
                name="course"
                placeholder="Course/Department"
              />
            </div>
            <div></div>
          </div>
          <div class="double-column">
            <div>
              <label for="course">Course/Department:</label>
              <input
                type="text"
                id="course"
                name="course"
                placeholder="Course/Department"
              />
            </div>
            <div>
              <label for="yearlevel">Grade/Yr Level:</label>
              <input
                type="text"
                id="yearlevel"
                name="yearlevel"
                placeholder="Grade/Yr Level"
              />
            </div>
          </div>
          <div class="double-column">
            <div>
              <label for="dob">Date of Birth:</label>
              <input
                type="text"
                id="dob"
                name="dob"
                placeholder="Date of Birth"
              />
            </div>
            <div>
              <label for="age">Age:</label>
              <input type="text" id="age" name="age" placeholder="Age" />
            </div>
          </div>
          <div class="double-column">
            <div>
              <label for="gender">Gender:</label>
              <input
                type="text"
                id="gender"
                name="gender"
                placeholder="Gender"
              />
            </div>
            <div>
              <label for="civil">Civil Status:</label>
              <select name="civil" id="civil">
                <option value="">-Select Marital Status-</option>
                <option value="Single">Single</option>
                <option value="Married">Married</option>
                <option value="Widowed">Widowed</option>
                <option value="Separated">Separated</option>
                <option value="Divorced">Divorced</option>
              </select>
            </div>
          </div>
          <div class="double-column">
            <div>
              <label for="nationality">Nationality:</label>
              <input
                type="text"
                id="nationality"
                name="nationality"
                placeholder="Nationality"
              />
            </div>
            <div>
              <label for="religion">Religion:</label>
              <input
                type="text"
                id="religion"
                name="religion"
                placeholder="Religion"
              />
            </div>
          </div>
          <div class="double-column">
            <div>
              <label for="address">Home Address:</label>
              <input
                type="text"
                id="address"
                name="address"
                placeholder="Home Address"
              />
            </div>
            <div>
              <label for="pnumber">Phone Number:</label>
              <input
                type="number"
                id="pnumber"
                name="pnumber"
                placeholder="02-12345"
              />
            </div>
          </div>
          <div class="double-column">
            <div>
              <label for="email">Email Address:</label>
              <input
                type="email"
                id="email"
                name="email"
                placeholder="Email Address"
              />
            </div>
            <div>
              <label for="cnumber">Cellphone Number:</label>
              <input
                type="text"
                id="cnumber"
                name="cnumber"
                placeholder="09123456789"
              />
            </div>
          </div>

          <div class="left-align">
            If the above client is a minor complete the following:
          </div>
          <div class="double-column">
            <div>
              <label for="guardian">Name of Guardian:</label>
              <input
                type="text"
                id="guardian"
                name="guardian"
                placeholder="Name of Guardian"
              />
            </div>
            <div>
              <label for="gcnumber">Guardian's Contact No.:</label>
              <input
                type="text"
                id="cnumber"
                name="cnumber"
                placeholder="09123456789"
              />
            </div>
          </div>
          <div class="single-column">
            <div>
              <label for="guardianadd">Address of Guardian:</label>
              <input
                type="text"
                id="guardianadd"
                name="guardianadd"
                placeholder="Address of Guardian:"
              />
            </div>
            <div></div>
          </div>
        </section>

        <!-- end: BASIC INFORMATION -->

        <!-- start: REFERAL SOURCE -->
        <header>Referral Source</header>
        <div class="referral">
          <div class="left-align">
            <label for="referrer"
              >Who referred you to our office, or how did you learn about our
              service?
              <div class="tooltip">
                <img src="/static/tooltip.png" />
                <span class="tooltiptext"
                  >Share with us how you found out about our counseling
                  services. Was it through a referral or another source?</span
                >
              </div></label
            >
            <input
              type="text"
              class="form-width100"
              id="referrer"
              name="referrer"
              placeholder=""
            />
          </div>
        </div>

        <!-- end: REFERAL SOURCE -->

        <!-- start: Emergency Contact Information -->
        <header>Emergency Contact Information</header>
        <div class="emergency">
          <div class="left-align">
            <label for="#"
              >In case of an emergency, who should we contact?
              <div class="tooltip">
                <img src="/static/tooltip.png" />
                <span class="tooltiptext"
                  >In case of an emergency, please provide the name and contact
                  information of the person we should reach out to on your
                  behalf.</span
                >
              </div></label
            >
          </div>

          <div class="double-column">
            <div>
              <label for="emername">Name:</label>
              <input
                type="text"
                id="emername"
                name="emername"
                placeholder="Name"
              />
            </div>
            <div>
              <label for="emerrel">Relationship:</label>
              <input
                type="text"
                id="emerrel"
                name="emerrel"
                placeholder="Relationship"
              />
            </div>
          </div>
          <div class="double-column">
            <div>
              <label for="dob">Address:</label>
              <input
                type="text"
                id="address"
                name="address"
                placeholder="Address"
              />
            </div>
            <div>
              <label for="emercell">Cellphone No.:</label>
              <input
                type="number"
                id="emercell"
                name="emercell"
                placeholder="Cellphone No."
              />
            </div>
          </div>
        </div>

        <!-- end: Emergency Contact Information -->
      </div>
    </main>
  </body>
</html>
