{% extends "components/base.html" %} {% block title %} Mindsight - Admin{%
endblock %} {% block styles %}
<link rel="stylesheet" href="/static/css/admin.css" />
{% endblock %} {% block content %}
<div class="right">
  <div class="main">
    <div class="main-header">
      <span>GUIDANCE COUNSELORS</span>
    </div>

    <nav class="counselors">

      {% for counselor, title in user_counselor_data %}
      <a href="{{ url_for('counseling_history', counselor_name=counselor) }}">
        <button class="btn">
          <span class="name">{{ counselor }}</span> <br>
          <span class="title">{{ title }}</span>
        </button>
      </a>
      {% endfor %}

    </nav>

    <div class="recent-records">
      <span>Recent counselors who counseled..</span>

      <div class="scrollable">
        <table>
          <tr>
            <th>Date</th>
            <th>Student ID</th>
            <th>College/Strand/Grade Level</th>
            <th>Gender</th>
            <th>Name</th>
            <th>Counselor</th>
          </tr>
          <tr>
            <!-- NOTE: when applying backend, delete necessary tr duplicates. they are only for testing -->
            <td>1/30/24</td>
            <td>2020-100619</td>
            <td>CEA</td>
            <td>Male</td>
            <td>Paul Santos</td>
            <td>Emmanuelle A. Santiago</td>
          </tr>
          <tr>
            <td>1/30/24</td>
            <td>2020-100619</td>
            <td>CEA</td>
            <td>Male</td>
            <td>Paul Santos</td>
            <td>Emmanuelle A. Santiago</td>
          </tr>
          <tr>
            <td>1/30/24</td>
            <td>2020-100619</td>
            <td>CEA</td>
            <td>Male</td>
            <td>Paul Santos</td>
            <td>Emmanuelle A. Santiago</td>
          </tr>
          <tr>
            <td>1/30/24</td>
            <td>2020-100619</td>
            <td>CEA</td>
            <td>Male</td>
            <td>Paul Santos</td>
            <td>Emmanuelle A. Santiago</td>
          </tr>
          <tr>
            <td>1/30/24</td>
            <td>2020-100619</td>
            <td>CEA</td>
            <td>Male</td>
            <td>Paul Santos</td>
            <td>Emmanuelle A. Santiago</td>
          </tr>
          <tr>
            <td>1/30/24</td>
            <td>2020-100619</td>
            <td>CEA</td>
            <td>Male</td>
            <td>Paul Santos</td>
            <td>Emmanuelle A. Santiago</td>
          </tr>
          <tr>
            <td>1/30/24</td>
            <td>2020-100619</td>
            <td>CEA</td>
            <td>Male</td>
            <td>Paul Santos</td>
            <td>Emmanuelle A. Santiago</td>
          </tr>
          <tr>
            <td>1/30/24</td>
            <td>2020-100619</td>
            <td>CEA</td>
            <td>Male</td>
            <td>Paul Santos</td>
            <td>Emmanuelle A. Santiago</td>
          </tr>
          <tr>
            <td>1/30/24</td>
            <td>2020-100619</td>
            <td>CEA</td>
            <td>Male</td>
            <td>Paul Santos</td>
            <td>Emmanuelle A. Santiago</td>
          </tr>
          <tr>
            <td>1/30/24</td>
            <td>2020-100619</td>
            <td>CEA</td>
            <td>Male</td>
            <td>Paul Santos</td>
            <td>Emmanuelle A. Santiago</td>
          </tr>
          <tr>
            <td>1/30/24</td>
            <td>2020-100619</td>
            <td>CEA</td>
            <td>Male</td>
            <td>Paul Santos</td>
            <td>Emmanuelle A. Santiago</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
