{% extends "components/base.html" %} {% block title %} Mindsight - Admin{%
endblock %} {% block styles %}
<link rel="stylesheet" href="/static/css/admin.css" />
{% endblock %} {% block content %}
<div class="right">
  <div class="main">
    <div class="main-header">
      <span>GUIDANCE COUNSELORS</span>
    </div>

    <nav class="counselors">

      {% for user in admin %}
      <a href="{{ url_for('counseling_history', full_name=user.full_name) }}">
        <button class="btn">
          <span class="name">{{ user.full_name }}</span> <br>
          <span class="title">{{ user.role }}</span>
          <hr>
          <span class="active">Active Cases:&nbsp;</span>
          {% if active_students.get(user.full_name) %}
            <span class="indicator">{{ active_students.get(user.full_name) }}</span>
          {% else %}
            <span class="indicator">0</span>
          {% endif %}
        </button>
      </a>
      {% endfor %}
    </nav>

    <div class="recent-records">
      <div class="recent-status">
          <span>Recent counselors who counseled..</span>
        <div class="legend">
          <div class="green">
            <div></div>
            <span>Active</span>
          </div>
          <div class="orange">
            <div></div>
            <span>Inactive</span>
          </div>
          <div class="red">
            <div></div>
            <span>Terminated</span>
          </div>
        </div>
      </div>
        <!-- flex grid -->
        <div class="grid-header">
          <div class="grid-date">Date</div>
          <div class="grid-section">Student ID</div>
          <div class="grid-name">Name</div>
          <div class="grid-college">Level</div>
          <div class="grid-gender">Gender</div>
          <div class="grid-counselor">Counselor</div>
          <div class="grid-status">Status</div>
          <div class="grid-remark">Remarks</div>
        </div>
        <div class="grid-container">
          <!-- sample data rows -->
          <div class="row-container">
            {% for student, basic_info, add_info in students %}
              <a href="
                {{ url_for('student_record', student_id=basic_info.student_id) }}" 
                class="grid-row"
              >
                  <div class="grid-date">{{ student.interview_date }}</div>
                  <div class="grid-section">{{ student.student_id }}</div>
                  <div class="grid-name">{{ basic_info.last_name }}, {{ basic_info.first_name }}</div>
                  <div class="grid-college">{{ basic_info.college }}</div>
                  <div class="grid-gender">{{ basic_info.gender }}</div>
                  <div class="grid-counselor">{{ add_info.counselor }}</div>
                  <div class="grid-status {{ add_info.status | lower }}">{{ add_info.status }}</div>
                  <div class="grid-remark">{{ add_info.remarks }}</div>
              </a>
            {% endfor %}

            <!-- Add more rows as needed -->
          </div>
        </div>  
    </div>
  </div>
</div>
{% endblock %}
