{% extends "components/base.html" %}
{% block title %} Mindsight - Analytics{% endblock %}


{% block styles %}     
<link rel="stylesheet" href="/static/css/analytics.css"/> 
{% endblock %}

{% block content %}
<div class="experience-container">
  <h1>Compare Trends</h1>
</div>


<select id="firstMetricDropdown">
  <option value="course">Course</option>
  <option value="religion">Religion</option>
  <option value="gpa">GPA</option>
  <option value="college">College</option>
</select>
<select id="secondMetricDropdown">
  <option value="gpa">GPA</option>
  <option value="religion">Religion</option>
  <option value="age">Age</option>
  <option value="college">College</option>
  <option value="course">Course</option>

</select>

<div class="canvas-content">
    <canvas id="myChart1" height='800' width='2000'></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="../static/javascript/analytics.js"> </script>
{% endblock %}
