{% extends "components/base.html" %}
{% block title %} Mindsight - Analytics{% endblock %}


{% block styles %}     
<link rel="stylesheet" href="/static/css/analytics.css"/> 
{% endblock %}

{% block content %}
<div class="experience-container">
  <h1>Experiences</h1>
  <hr id="experience-hr">
</div>

<div class="upload-form">
  <form method = "POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    {{ form.file() }}
    {{ form.submit() }}
  </form>
</div>

<select id="firstMetricDropdown">
  <option value="Mental Health Score">Mental Health Score</option>
  <option value="GPA">GPA</option>
  <option value="Religion">Religion</option>
  <option value="Ethnicity">Ethnicity</option>
  <option value="Socioeconomic Status">Socioeconomic Status</option>
  <option value="College">College</option>
  <option value="Course">Course</option>
  <option value="History of Past Mental Health Cases">History of Past Mental Health Cases</option>
  <option value="Type of Past Interventions">Type of Past Interventions</option>
  <option value="Outcome of Past">Outcome of Past</option>
</select>
<select id="secondMetricDropdown">
  <option value="GPA">GPA</option>
  <option value="Mental Health Score">Mental Health Score</option>
  <option value="Course Failure Rate">Course Failure Rate</option>
  <option value="Attendance Rate">Attendance Rate</option>
  <option value="Age">Age</option>

</select>
<canvas id="myChart" width="800" height="400"></canvas>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
<script src="/static/javascript/analytics.js"> </script>
{% endblock %}
