{% extends "components/base.html" %}
{% block title %} MindSight: Analytics{% endblock %}

{% block styles %}     
<link rel="stylesheet" href="/static/css/analytics.css"/> 
{% endblock %}

{% block content %}
<div class="experience-container">
  <h1>Experiences</h1>
  <hr id="experience-hr">
</div>
<div class="college-summary">
  {{ result_college_summary | safe }}
</div>
<div class="identity">
  {{ pie_graph | safe }}
</div>

<div class="upload-form">
  <form method = "POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    {{ form.file() }}
    {{ form.submit() }}
  </form>
</div>
{% endblock %}
