{% extends "components/base.html" %} {% block title %} Mindsight - Cases {%
endblock %} {% block styles %}
<link rel="stylesheet" href="/static/css/experiences.css" />

{% endblock %} {% block content %}

<div class="right">
  <div class="main">
    <div class="main-header">
      <span>
        {{ year }} Cases: {{ overall_total.yearly }}
        <a href="{{ url_for ('print_report')}}" class="print-report-container">
          <button>
            <img src="/static/print-button.png" />
            <p>Print Report</p>
          </button>
        </a>
        <div class="back-button">
          <a href="{{ url_for ('dashboard')}}">
            <img src="/static/SVG/back_button.svg" />
          </a>
        </div>
      </span>
    </div>
    <div class="content">
      <div class="box">
        <span>Junior High</span>
        <div id="jhs_container"></div>
      </div>
      <div class="box">
        <span>Senior High</span>
        <div id="shs_container"></div>
      </div>
      <div class="box">
        <span>College</span>
        <div id="college_container"></div>
      </div>
      <div class="box">
        <span>Graduate</span>
        <div id="grad_container"></div>
      </div>
      <div class="box">
        <span>Lifelong Learners</span>
        <div id="lll_container"></div>
      </div>
    </div>
  </div>
</div>

<script src="{{ url_for('static', filename='javascript/cdn/chartjs.js') }}"></script>
<script src="{{ url_for('static', filename='javascript/dashboard.js') }}"></script>

<script>
    const cases_data = {{ college_totals | tojson | safe }};

    // Array of month names
    const monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];

    function renderChart(data, container) {
        const chartContainer = document.getElementById(container);
        chartContainer.innerHTML = '';

        const monthlyData = data.monthly;

      Object.entries(monthlyData).forEach(([month, count]) => {
        // Convert month index to month name
        const monthName = monthNames[parseInt(month) - 1];
        const progressBar = createProgressBar(monthName, count);
        chartContainer.appendChild(progressBar);
      });
  }

    function createProgressBar(label, count) {
        const container = document.createElement('div');
        container.classList.add('progress-bar-container');

        const labelElement = document.createElement('div');
        labelElement.classList.add('progress-bar-label');
        labelElement.textContent = label;
        container.appendChild(labelElement);

        const progressFlexContainer = document.createElement('div');
        progressFlexContainer.classList.add('progress-flex-container');

        const countElement = document.createElement('div');
        countElement.classList.add('progress-bar-count');
        countElement.textContent = count;
        progressFlexContainer.appendChild(countElement);

        const barFlex = document.createElement('div');
        barFlex.classList.add('bar-flex');
        const maxProgressBarWidth = 100;

        const progressBarWidth = Math.min(count * 1, maxProgressBarWidth);
        const progressBar = document.createElement('div');
        progressBar.classList.add('progress-bar');
        if (count == 0) {
        progressBar.style.visibility = 'hidden';
        } else {
        progressBar.style.width = `${progressBarWidth}%`;
        }
        barFlex.appendChild(progressBar);

        const progressBarUnderlay = document.createElement('div');
        progressBarUnderlay.classList.add('progress-bar-underlay');
        barFlex.appendChild(progressBarUnderlay);

        progressFlexContainer.appendChild(barFlex);

        container.appendChild(progressFlexContainer);

        return container;
    }

        renderChart(cases_data.JHS, 'jhs_container');
        renderChart(cases_data.SHS, 'shs_container');
        renderChart(cases_data.College, 'college_container');
        renderChart(cases_data.GRAD, 'grad_container');
        renderChart(cases_data.LLL, 'lll_container');
</script>

{% endblock %}
