{% extends "components/base.html" %} {% block title %} Mindsight - Students{%
endblock %} {% block styles %}
<link rel="stylesheet" href="/static/css/students.css" />
{% endblock %} {% block content %}

<div class="right">
  <div class="main">
    <div class="main-header">
      <span>STUDENT RECORDS - COLLEGE</span>
      <p>
        Please click on the following <b>COLLEGES</b> to view the corresponding
        records:
      </p>
     
      <div class="search-upload-container">
         <!-- search -->
        <div class="search-container">
          <form method="GET" action="{{ url_for('search', query=query) }}">
            <div class="search-bar">
              <input type="text" placeholder="Search" name="query" value="{{query}}"/>
              <button type="submit">
                <img src="/static/students/search.png" alt="search" />
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- directory buttons -->
    <div class="main-buttons">
      <a href="{{ url_for ('college_records', college='CEA')}}" id="cea">
        <button class="cea">
          <img src="/static/students/cea.png" />
          <span>College of Engineering and Architecture </span> <span>CEA </span>
        </button></a
      >
      <div class="buttons-group">
        <a href="{{ url_for ('college_records', college='CBEA')}}">
          <button class="cbea">
            <img src="/static/students/cbea.png" />
            <span
              >College of Business Entrepreneurship and Accountancy </span>
              <span>CBEA</span
            >
          </button></a
        >
        <a href="{{ url_for ('college_records', college='CAS')}}">
          <button class="cas">
            <img src="/static/students/cas.png" />
            <span
              >College of Arts and Sciences </span>
              <span>CAS</span
            >
          </button></a
        >
        <a href="{{ url_for ('college_records', college='CED')}}">
          <button class="ced">
            <img src="/static/students/ced.png" />
            <span
              >College of Education </span>
              <span>CED</span
            >
          </button></a
        >
        <a href="{{ url_for ('college_records', college='IHK')}}">
          <button class="ihk">
            <img src="/static/students/ihk.png" />
            <span
              >Institute of Human Kinetics </span>
              <span>IHK</span
            >
          </button></a
        >
      </div>
    </div>
  </div>
</div>


<script src={{ url_for('static', filename='javascript/cdn/sweetalert2.all.min.js') }}></script>

{% endblock %}
