{% extends "components/base.html" %}
{% block title %} Mindsight - Dashboard{% endblock %}

{% block styles %}     
<link rel="stylesheet" href="/static/css/dashboard.css"/>
{% endblock %}

{% block content %}
<div class="content">
  <div class="nature-college-frame">
    <span class="title">Case Overview</span>
    <div class="nature-college-container">
      <div class="nature-content">
        <h1>Nature of Concerns</h1>
        <canvas id="myChart2"></canvas>
      </div>
      <div class="nature-college-vl"></div>
      <div class="college-content">
        <h1>College Summaries</h1>
        <canvas id="myChart1"></canvas>
      </div>
    </div>
  </div>
  <div class="campus-clinic-container">
    <div class="campus-title">
      <span class="title">Campus</span>
      <div class="campus-counselor">
        <div class="campus-content">
          <canvas id="myChart3"></canvas>
        </div>
        <div class="campus-counselor-vl"></div>
        <div class="counselor-content">
          <h1>Counselors</h1>
          <div class="counselor1">
            <p>Counselor 1</p>
          </div>
          <div class="counselor2">
            <p>Counselor 2</p>
          </div>
          <div class="counselor3">
            <p>Counselor 3</p>
          </div>
          <div class="counselor4">
            <p>Counselor 4</p>
          </div>
        </div>
      </div>
    </div>
    <div class="clinic-title">
      <span class="title">Clinic's Activities</span>
      <div class="clinic-container">
        <div class="seminar">
          <p>Seminar: Mental Health</p>
        </div>
        <div class="community">
          <p>Community Service</p>
        </div>
        <div class="consultation">
          <p>Consultation</p>
        </div>
      </div>
    </div>  
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="../static/javascript/dashboard.js"> </script>
{% endblock %}
