{% extends "components/base.html" %} {% block title %} Mindsight - Dashboard{%
endblock %} {% block styles %}
<link rel="stylesheet" href="/static/css/dashboard.css" />
{% endblock %} {% block content %}

<div class="right">
  <div class="column1">
    <div class="experience-container">
      <span class="title" id="experience">Experiences</span>
      <!-- <canvas id="myChart1"></canvas> -->
    </div>
  </div>
  <div class="column2">
    <div class="college-container">
      <span class="title" id="college">College Summaries</span>
      <canvas id="myChart2"></canvas>
    </div>
    <div class="row">
      <div class="campus-container">
        <span class="title" id="campus">Campus</span>
        <canvas id="myChart3"></canvas>
      </div>
      <div class="religion-container">
        <span class="title" id="religion">Religion</span>
        <canvas id="myChart4"></canvas>
      </div>
    </div>
  </div>
  <div class="column3">
    <div class="nature-container">
      <span class="title" id="nature">Nature of Concerns</span>
      <canvas id="myChart5"></canvas>
    </div>
    <div class="identity-container">
      <span class="title" id="identity">Identity</span>
      <canvas id="myChart6"></canvas>
    </div>
  </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.umd.min.js"></script>
<script src="../static/javascript/dashboard.js"></script>
{% endblock %}
