{% extends "components/base.html" %}
{% block title %} MindSight: Developers{% endblock %}

{% block styles %}     
<link rel="stylesheet" href="/static/css/developers.css"/> 
{% endblock %}

{% block content %}
  <main>
    <div class="frame">
        <h1>Developers</h1>
        <hr>
          <div class="content">
            <div class="box">
                <img class="pic" src="/static/Devs/jorgie.png">
                <p class="name">JORGE ROBERT <br> VELARDE</p>
                <p class="title">Back-end Developer</p>
                <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in nisl urna. Suspendisse vel nibh id ligula semper gravida. Donec euismod, tortor at bibendum laoreet, sem ante vehicula tortor, quis placerat est ex vel lacus. Donec eu convallis dui. Nulla id vehicula risus, at congue massa. Cras in neque orci. Mauris vitae venenatis arcu, in dictum arcu. </p>
                <div class="socmed">
                    <img id="fb" src="/static/Devs/fb.svg">
                    <img id="ig" src="/static/Devs/insta.svg">&nbsp;
                    <!-- <img id="fb-hover" src="/static/Devs/fb-hover.png">
                    <img id="ig-hover" src="/static/Devs/insta-hover.png"> -->
                </div>
            </div>
            <div class="box">
                <img class="pic" src="/static/Devs/joker.png">
                <p class="name">JOSEPH ANGELO <br> ENCISO</p>
                <p class="title">Back-end Developer</p>
                <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in nisl urna. Suspendisse vel nibh id ligula semper gravida. Donec euismod, tortor at bibendum laoreet, sem ante vehicula tortor, quis placerat est ex vel lacus. Donec eu convallis dui. Nulla id vehicula risus, at congue massa. Cras in neque orci. Mauris vitae venenatis arcu, in dictum arcu. </p>
                <div class="socmed">
                  <img id="fb" src="/static/Devs/fb.svg">
                  <img id="ig" src="/static/Devs/insta.svg">
                </div>
            </div>
            <div class="box">
                <img class="pic" src="/static/Devs/tet.png">
                <p class="name">MARITHE <br> DELA CRUZ</p>
                <p class="title">Lead UX/UI Designer</p>
                <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in nisl urna. Suspendisse vel nibh id ligula semper gravida. Donec euismod, tortor at bibendum laoreet, sem ante vehicula tortor, quis placerat est ex vel lacus. Donec eu convallis dui. Nulla id vehicula risus, at congue massa. Cras in neque orci. Mauris vitae venenatis arcu, in dictum arcu. </p>
                <div class="socmed">
                  <img id="fb" src="/static/Devs/fb.svg">
                  <img id="ig" src="/static/Devs/insta.svg">
                </div>
            </div>
            <div class="box">
                <img class="pic" src="/static/Devs/tin.png">
                <p class="name">JUSTIN MARLEY <br> FONTANILLA</p>
                <p class="title">Front-end Developer</p>
                <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in nisl urna. Suspendisse vel nibh id ligula semper gravida. Donec euismod, tortor at bibendum laoreet, sem ante vehicula tortor, quis placerat est ex vel lacus. Donec eu convallis dui. Nulla id vehicula risus, at congue massa. Cras in neque orci. Mauris vitae venenatis arcu, in dictum arcu. </p>
                <div class="socmed">
                  <img id="fb" src="/static/Devs/fb.svg">
                  <img id="ig" src="/static/Devs/insta.svg">
                </div>
            </div>
            <div class="box">
                <img class="pic" src="/static/Devs/matt.png">
                <p class="name">MATTHEW <br> BAUTISTA</p>
                <p class="title">UI/Graphic Designer</p>
                <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in nisl urna. Suspendisse vel nibh id ligula semper gravida. Donec euismod, tortor at bibendum laoreet, sem ante vehicula tortor, quis placerat est ex vel lacus. Donec eu convallis dui. Nulla id vehicula risus, at congue massa. Cras in neque orci. Mauris vitae venenatis arcu, in dictum arcu. </p>
                <div class="socmed">
                  <img id="fb" src="/static/Devs/fb.svg">
                  <img id="ig" src="/static/Devs/insta.svg">
                </div>
            </div>
          </div>
    </div>
{% endblock %}