{% extends "components/base.html" %}
{% block title %} Mindsight - Total Cases{% endblock %}

{% block styles %}     
<link rel="stylesheet" href="/static/css/experiences.css"/> 
{% endblock %}


{% block content %}

<div class="right">
    <div class="main">
        <div class="main-header">
            <span>
            TOTAL CASES: {{ overall_total.yearly }}
            <div class="back-button">
                <a href="{{ url_for ('dashboard')}}">
                    <img src="/static/SVG/back_button.svg"/>
                </a>
            </div>
            </span>
        </div>
        <div class="content">
            <div class="box">
                <span>Junior High</span>
                <div id="jhs_container"></div>
            </div>
            <div class="box">
                <span>Senior High</span>
                <div id="shs_container"></div>
            </div>
            <div class="box">
                <span>College</span> 
                <div id="college_container"></div> 
            </div>
            <div class="box">
                <span>Graduate</span> 
                <div id="grad_container"></div>
            </div>
            <div class="box">
                <span>Lifelong Learners</span>
                <div id="lll_container"></div>
            </div>
        </div> 
    </div>
</div>

<script src="{{ url_for('static', filename='javascript/cdn/chartjs.js') }}"></script>
<script src="{{ url_for('static', filename='javascript/dashboard.js') }}"></script>

<script>

    const college_totals = {{ college_totals | tojson | safe }};
  
    function renderChart(data, container) {
      const chartContainer = document.getElementById(container);
      chartContainer.innerHTML = '';
  
      let sortedData;
      if (data === overall_monthly_total) {
          // Convert month names to numerical representation for sorting
          const monthNames = {
              January: 1,
              February: 2,
              March: 3,
              April: 4,
              May: 5,
              June: 6,
              July: 7,
              August: 8,
              September: 9,
              October: 10,
              November: 11,
              December: 12
          };
  
          sortedData = Object.entries(data).sort((a, b) => {
              return monthNames[a[0]] - monthNames[b[0]];
          });
      } else {
          sortedData = Object.entries(data).sort((a, b) => b[1] - a[1]);
      }
  
      sortedData.forEach(([label, count]) => {
          const progressBar = createProgressBar(label, count);
          chartContainer.appendChild(progressBar);
      });
  }
    
  function createProgressBar(label, count) {
    const container = document.createElement('div');
    container.classList.add('progress-bar-container');
  
    const labelElement = document.createElement('div');
    labelElement.classList.add('progress-bar-label');
    labelElement.textContent = label;
    container.appendChild(labelElement);
  
    const progressFlexContainer = document.createElement('div');
    progressFlexContainer.classList.add('progress-flex-container');
  
    const countElement = document.createElement('div');
    countElement.classList.add('progress-bar-count');
    countElement.textContent = count;
    progressFlexContainer.appendChild(countElement);
  
    const barFlex = document.createElement('div');
    barFlex.classList.add('bar-flex');
    const maxProgressBarWidth = 100;
  
    const progressBarWidth = Math.min(count * 1, maxProgressBarWidth);
    const progressBar = document.createElement('div');
    progressBar.classList.add('progress-bar');
    if (count == 0) {
      progressBar.style.visibility = 'hidden';
    } else {
      progressBar.style.width = `${progressBarWidth}%`;
    }
    barFlex.appendChild(progressBar);
  
    const progressBarUnderlay = document.createElement('div');
    progressBarUnderlay.classList.add('progress-bar-underlay');
    barFlex.appendChild(progressBarUnderlay);
  
    progressFlexContainer.appendChild(barFlex);
  
    container.appendChild(progressFlexContainer);
    
    return container;
  }
  
    renderChart(college_totals, 'jhs_container');
  </script>
  
{% endblock %}