{% extends "components/base.html" %} {% block title %} Mindsight - Students{%
    endblock %} {% block styles %}
    <link rel="stylesheet" href="/static/css/level.css" />
    {% endblock %} {% block content %}
    
    <div class="right">
      <div class="main">
        <div class="main-header">
          <span>EDUCATION LEVEL</span>
          <p>
            Please click on the following <b>LEVEL</b> to view the corresponding
            records:
          </p>
          
            <div class="search-archive-container">
              <!-- search -->
              <div class="search-container">
                <form method="GET" action="{{ url_for('search', query=query) }}">
                  <div class="search-bar">
                    <input type="text" placeholder="Search" name="query" value="{{query}}"/>
                    <button type="submit">
                      <img src="/static/students/search.png" alt="search" />
                    </button>
                  </div>
                </form>
              </div>
              <!-- change this to an icon or whatever -->
              <a href="{{ url_for('view_archived') }}" class="retrieve-button">
                <div class="archive"><img  src="../static/archive-button.png" alt=""><span>View Archived Records</span></div>
              </a>
            </div>
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            
        </div>
    
        <!-- directory buttons -->
        <div class="main-buttons">
          <div class="dropdown-button">
            <button onclick="toggleDropdown('jhsDropdown')">Junior High</button>
            <div id="jhsDropdown" class="dropdown-content">
              <a href="{{ url_for ('jhs_records', year_level=7) }}">
                <button>
                  <span>GRADE 7</span>
                </button></a
              >
              <a href="{{ url_for ('jhs_records', year_level=8) }}">
                <button>
                    <span>GRADE 8</span>
                </button></a
              >
              <a href="{{ url_for ('jhs_records', year_level=9) }}">
                <button>
                  <span>GRADE 9</span>
                </button></a
              >
              <a href="{{ url_for ('jhs_records', year_level=10) }}">
                <button>
                    <span>GRADE 10</span>
                </button></a
              >
            </div>
          </div>

          <div class="dropdown-button">
            <button onclick="toggleDropdown('shsDropdown')">Senior High</button>
            <div id="shsDropdown" class="dropdown-content">
              <a href="{{ url_for ('shs_records', course='STEM') }}">
                <button>
                  <span>Science, Technology, Engineering and Mathematics (STEM)</span>
                </button></a
              >
              <a href="{{ url_for ('shs_records', course='ABM') }}">
                <button>
                    <span>Accountancy, Business and Management (ABM)</span>
                </button></a
              >
              <a href="{{ url_for ('shs_records', course='HUMSS') }}">
                <button>
                  <span>Humanities and Social Sciences (HUMSS)</span>
                </button></a
              >
              <a href="{{ url_for ('shs_records', course='ICT') }}">
                <button>
                    <span>Information Communication and Technology (ICT)</span>
                </button></a
              >
            </div>
          </div>

          <div class="dropdown-button">
            <button onclick="toggleDropdown('collegeDropdown')">College</button>
            <div id="collegeDropdown" class="dropdown-content">
              <a href="{{ url_for ('college_records', college='CEA')}}">
                <button>
                  <span>College of Engineering and Architecture (CEA)</span>
                </button></a
              >
              <a href="{{ url_for ('college_records', college='CBEA')}}">
                <button>
                    <span>College of Business Entrepreneurship and Accountancy (CBEA)</span>
                </button></a
              >
              <a href="{{ url_for ('college_records', college='CAS')}}">
                <button>
                  <span>College of Arts and Sciences (CAS)</span>
                </button></a
              >
              <a href="{{ url_for ('college_records', college='CED')}}">
                <button>
                    <span>College of Education (CAS)</span>
                </button></a
              >
              <a href="{{ url_for ('college_records', college='IHK')}}">
                <button>
                    <span>Institute of Human Kinetics (IHK)</span>
                </button></a
              >
            </div>
          </div>

          <a href="{{ url_for ('graduate_records', college='GRAD')}}">
            <button>
              <span>Graduate</span>
            </button></a
          >

          <a href="{{ url_for ('lll_records', college='LLL')}}">
            <button>
              <span>Lifelong Learners</span>
            </button></a
          >

        </div>
      </div>
    </div>

    <script>
      function toggleDropdown(dropdownId) {
        var dropdownContent = document.getElementById(dropdownId);
        if (dropdownContent.style.display === "flex") {
          dropdownContent.style.display = "none";
        } else {
          dropdownContent.style.display = "flex";
        }
      }
    </script>
    {% endblock %}