{% extends "components/base.html" %} {% block title %} Mindsight - Students{%
endblock %} {% block styles %}
<link rel="stylesheet" href="/static/css/level.css" />
{% endblock %} {% block content %}

<div class="right">
  <div class="main">
    <div class="main-header">
      <span>EDUCATION LEVEL</span>
      <p>
        Please click on the following <b>LEVEL</b> to view the corresponding
        records:
      </p>

      <div class="search-archive-container">
        <!-- search -->
        <div class="search-container">
          <form method="GET" action="{{ url_for('search', query=query) }}">
            <div class="search-bar">
              <input
                type="text"
                placeholder="Search"
                name="query"
                value="{{query}}"
              />
              <button type="submit">
                <img src="/static/students/search.png" alt="search" />
              </button>
            </div>
          </form>
        </div>
        <!-- change this to an icon or whatever -->
        <a href="{{ url_for('view_archived') }}" class="retrieve-button">
          <div class="archive">
            <img src="../static/archive-button.png" alt="" /><span
              >View Archived Records</span
            >
          </div>
        </a>
      </div>
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    </div>

    <!-- directory buttons -->
    <div class="directory-container">
      <section class="dir-left">
        <ul class="list-container">
          <li class="list-container-header">School Level</li>
          <ul class="list-level">
            <li>Junior High <img src="/static/right-arrow.png" /></li>
            <li>Senior High <img src="/static/right-arrow.png" /></li>
            <li>College <img src="/static/right-arrow.png" /></li>
            <li class="grad-school-li"><a class="grad-school-link" href="{{ url_for ('graduate_records', college='GRAD')}}">
              Graduate School</a
            ></li>
            <li class="lll-school-li"><a class="lll-school-link" href="{{ url_for ('lll_records', college='LLL')}}">
              Lifelong Learners</a
            ></li>
          </ul>
        </ul>
      </section>

      <section class="dir-right">
        <ul class="jhs-list-hover">
          <a href="{{ url_for ('jhs_records', year_level=7) }}"
            ><li>Grade 7</li></a
          >
          <a href="{{ url_for ('jhs_records', year_level=8) }}"
            ><li>Grade 8</li></a
          >
          <a href="{{ url_for ('jhs_records', year_level=9) }}"
            ><li>Grade 9</li></a
          >
          <a href="{{ url_for ('jhs_records', year_level=10) }}"
            ><li>Grade 10</li></a
          >
        </ul>
        <ul class="shs-list-hover">
          <a href="{{ url_for ('shs_records', course='STEM') }}"
            ><li>Science, Technology, Engineering and Mathematics (STEM)</li></a
          >
          <a href="{{ url_for ('shs_records', course='ABM') }}"
            ><li>Accountancy, Business and Management (ABM)</li></a
          >
          <a href="{{ url_for ('shs_records', course='HUMSS') }}">
            <li>Humanities and Social Sciences (HUMSS)</li></a
          >
          <a href="{{ url_for ('shs_records', course='ICT') }}">
            <li>Information Communication and Technology (ICT)</li></a
          >
        </ul>
        <ul class="college-list-hover">
          <a href="{{ url_for ('college_records', college='CEA')}}">
            <li>College of Engineering and Architecture (CEA)</li></a
          >
          <a href="{{ url_for ('college_records', college='CBEA')}}">
            <li>
              College of Business Entrepreneurship and Accountancy (CBEA)
            </li></a
          >
          <a href="{{ url_for ('college_records', college='CAS')}}">
            <li>College of Arts and Sciences (CAS)</li></a
          >
          <a href="{{ url_for ('college_records', college='CED')}}">
            <li>College of Education (CED)</li></a
          >
          <a href="{{ url_for ('college_records', college='IHK')}}">
            <li>Institute of Human Kinetics (IHK)</li></a
          >
        </ul>
      </section>
    </div>
  </div>
</div>

<script>
  function toggleDropdown(dropdownId) {
    var dropdownContent = document.getElementById(dropdownId);
    if (dropdownContent.style.display === "flex") {
      dropdownContent.style.display = "none";
    } else {
      dropdownContent.style.display = "flex";
    }
  }

  // shows content sub dir content upon hover
  document.addEventListener("DOMContentLoaded", function () {
    const listItems = document.querySelectorAll(".list-level li");

    listItems.forEach(function (item) {
      item.addEventListener("mouseenter", function () {
        const index = Array.prototype.indexOf.call(
          item.parentNode.children,
          item
        );
        const rightLists = document.querySelectorAll(".dir-right ul");

        rightLists.forEach(function (list, i) {
          if (i === index) {
            list.classList.add("active");
          } else {
            list.classList.remove("active");
          }
        });
      });
    });
  });
</script>
{% endblock %}
