{% extends "components/base.html" %} {% block title %} Mindsight - Students{%
    endblock %} {% block styles %}
    <link rel="stylesheet" href="/static/css/graduate.css" />
    {% endblock %} {% block content %}
    
    <div class="right">
      <div class="main">
        <div class="main-header">
          <div class="title-back">
            <span>STUDENT RECORDS - LIFELONG LEARNERS</span>
          <div class="back-button">
            <a href="{{ url_for('level') }}">
                <img src="/static/SVG/back_button.svg" />
            </a>
          </div>
          </div>
          <div>
          <p>
            Please click on the following <b>LIFELONG LEARNERS</b> to view the corresponding
            records:
          </p>
         
          <div class="search-upload-container">
             <!-- search -->
            <div class="search-container">
              <form method="GET" action="{{ url_for('search', query=query) }}">
                <div class="search-bar">
                  <input type="text" placeholder="Search" name="query" value="{{query}}"/>
                  <button type="submit">
                    <img src="/static/students/search.png" alt="search" />
                  </button>
                </div>
              </form>
            </div>
          </div>
          </div>
        </div>
    
        <!-- directory buttons -->
        <div class="main-buttons">
          <a href="{{ url_for ('lll_records', college='LLL') }}">
              <button>
                <img src="/static/students/ced.png" />
                <span
                  >Lifelong Learners</span>
              </button></a
            >
        </div>
      </div>
    </div>
    {% endblock %}