<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/css/main.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/static/fonts/custom-fonts.css"
    />
    <link rel="icon" type="image/x-icon" href="/static/SVG/EYE LOGO.svg" />
    <link rel="stylesheet" href="../static/css/login.css" />
    <title>Mindsight - Sign In</title>
  </head>
  <body>
    <!-- left -->
    <section class="left-main">
      <img class="svg-top" src="../static/SVG/svg-login-top.svg" />
      <div class="lsub-container">
        <div class="lsub-top">
          <div class="welcome-msg">Welcome to</div>
          <img
            src="../static/MINDSIGHT LOGO (WHITE).png"
            class="logo-img"
            alt="Mindsight logo"
          />
        </div>

        
        <div class="student-container ">
          <div class="student-header">
            <span>For Students: </span
            ><i
              >Help us understand your needs and connect you with the right
              support.</i
            >
          </div>

          <!-- Redirect to the Form page -->
          <a>
            <button class="btn-student" id="toggleConfirmation">
              <div>
                <span>Share your details with us</span>
                <span>We're here for you</span>
              </div>
            </button>
          </a>

          <!-- Redirect to the Sign up page -->
          <div class="signup-container">
            To register a new administrator, please click
            <a href="{{ url_for('signup') }}"> here. </a>
          </div>
       
      </div>
      <img class="svg-bottom" src="../static/SVG/svg-login-bottom.svg" />
    </section>

    <!-- right -->
    <section class="right-main">
      <div class="rsub-container">
        <form action="{{ url_for('login') }}" method="POST">
          {{ form.hidden_tag() }}
          <div>
            <p>Log in</p>
            {{ form.username(placeholder="username", id="username",
            required=true) }}
          </div>
          <div class="password-div">
            <div class="password-input-container">
              {{ form.password(placeholder="password", id="password",
              required=true) }}
              <i class="togglepass" id="togglePassword"
                ><img
                  id="eye-image"
                  src="../static/SVG/eyehidden.svg"
                  alt="show/hide"
                  onclick="toggleImage()"
              /></i>
            </div>
            <div class="forgot-pw-container">
              <a href="{{ url_for('forgot_password') }}" id="forgotPassword">Forgot Password?</a>
            </div>
          </div>

          <div class="login-btn-container">
            <button type="submit" class="login-button">SIGN IN</button>
          </div>
        </form>
        <div class="prmpt">{{ prmpt }}</div>
      </div>
    </section>
    <script src={{ url_for('static', filename='javascript/login.js') }}></script>
    <script src={{ url_for('static', filename='javascript/add_confirmation.js') }}></script>
    <script src={{ url_for('static', filename='javascript/cdn/sweetalert2.all.min.js') }}></script>

    <!-- Do not delete: div class below fixes html to 100vh -->
    <div class="htmlheight100vh"></div>
  </body>
</html>
