{% extends "components/base.html" %} {% block title %} Mindsight - Analytics{%
endblock %} {% block styles %}
<link rel="stylesheet" href="/static/css/metrics.css" />
{% endblock %} {% block content %}
<div class="right">
  <div class="main-content">
    <span id="analytics">Analytics</span>
    <div class="metrics-content">
      <div class="metrics-left">
        <div class="first-metric">
          <select id="firstMetricDropdown">
            <option value="college">College</option>
            <option value="age">Age</option>
            <option value="gender">Gender</option>
          </select>
        </div>
        <div class="compare">
          <span id="compare">in relation to</span>
        </div>
        <div class="second-metric">
          <select id="secondMetricDropdown">
            <option value="substance_abuse">Substance Abuse</option>
            <option value="addiction">Addiction</option>
            <option value="depression_sad_down_feelings">Depression/Sad/Down feelings</option>
            <option value="high_low_energy_level">High/Low energy level</option>
            <option value="angry_irritable">Angry/Irritable</option>
            <option value="loss_of_interest">Loss of interest in activities</option>
            <option value="difficulty_enjoying_things">Difficulty enjoying things</option>
            <option value="crying_spells">Crying spells</option>
            <option value="decreased_motivation">Decreased motivation</option>
            <option value="withdrawing_from_people">Withdrawing from people/Isolation</option>
            <option value="mood_swings">Mood Swings</option>
            <option value="black_and_white_thinking">Black and white thinking/All or nothing thinking</option>
            <option value="negative_thinking">Negative thinking</option>
            <option value="change_in_weight_or_appetite">Change in weight or appetite</option>
            <option value="change_in_sleeping_pattern">Change in sleeping pattern</option>
            <option value="suicidal_thoughts_or_plans">Suicidal thoughts or plans/Thoughts of hurting yourself</option>
            <option value="self_harm">Self-harm/Cutting/Burning yourself</option>
            <option value="homicidal_thoughts_or_plans">Homicidal thoughts or plans/Thoughts of hurting others</option>
            <option value="difficulty_focusing">Poor concentration/Difficulty focusing</option>
            <option value="feelings_of_hopelessness">Feelings of hopelessness/Worthlessness</option>
            <option value="feelings_of_shame_or_guilt">Feelings of shame or guilt</option>
            <option value="feelings_of_inadequacy">Feelings of inadequacy/Low self-esteem</option>
            <option value="anxious_nervous_tense_feelings">Anxious/Nervous/Tense feelings</option>
            <option value="panic_attacks">Panic attacks</option>
            <option value="racing_or_scrambled_thoughts">Racing or scrambled thoughts</option>
            <option value="bad_or_unwanted_thoughts">Bad or unwanted thoughts</option>
            <option value="flashbacks_or_nightmares">Flashbacks/Nightmares</option>
            <option value="muscle_tensions_aches">Muscle tensions, aches, etc.</option>
            <option value="hearing_voices_or_seeing_things">Hearing voices/Seeing things not there</option>
            <option value="thoughts_of_running_away">Thoughts of running away</option>
            <option value="paranoid_thoughts">Paranoid thoughts/Thoughts</option>
            <option value="feelings_of_frustration">Feelings of frustration</option>
            <option value="feelings_of_being_cheated">Feelings of being cheated</option>
            <option value="perfectionism">Perfectionism</option>
            <option value="counting_washing_checking">Rituals of counting things/Washing/Concerns about germs</option>
            <option value="distorted_body_image">Distorted body image</option>
            <option value="concerns_about_dieting">Concerns about dieting</option>
            <option value="loss_of_control_over_eating">Feelings of loss of control over eating</option>
            <option value="binge_eating_or_purging">Binge eating/Purging</option>
            <option value="rules_about_eating">Rules about eating</option>
            <option value="excessive_exercise">Excessive exercise</option>
            <option value="indecisiveness_about_career">Indecisiveness about career</option>
            <option value="job_problems">Job problems</option>

            <option value="previous_treatments">Previous treatments</option>

            
          </select>
        </div>
      </div>
      <div class="metrics-button">
        <a href="{{ url_for ('analytics') }}">
          <button class="metrics">Choose Data to Compare</button>
        </a>
      </div>
    </div>

    <div class="chart-content">
      <canvas id="myChart"></canvas>
    </div>
  </div>
</div>

<script src="../static/javascript/cdn/chartjs.js"></script>
<script src="../static/javascript/metrics.js"></script>
{% endblock %}
