<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/css/main.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/static/fonts/custom-fonts.css"
    />
    <link rel="icon" type="image/x-icon" href="/static/SVG/EYE LOGO.svg" />
    <link rel="stylesheet" href="../static/css/reset.css" />
    <title>Mindsight - Reset Password</title>
  </head>
  <body>
    <img class="svg-top" src="../static/SVG/svg-login-top.svg" />

    <form
      id="confirmation_reset"
      action="{{ url_for('reset_password', username=username) }}"
      method="POST"
    >
      <main>
        <div class="back-container">
          <a href="{{ url_for ('forgot_password')}}">
            <img src="../static/SVG/back_button.svg" id="back_button" />
          </a>
        </div>
        <div class="logo-container">
          <img src="../static/SVG/EYE LOGO.svg" />
        </div>
        {{ form.hidden_tag() }}
        <div class="secQuest">
          <p>Security Question</p>
          <span>{{ security_question }}</span>
        </div>

        <div class="secAnswer">{{ form.security_answer }}</div>
        <div>
          <label for="password">New Password</label> {{ form.password }}
        </div>

        <div>
          <label for="confirm">Confirm New Password</label> {{ form.confirm }}
        </div>

        <button type="submit">Reset Password</button>
      </main>
    </form>
    <img class="svg-bottom" src="../static/SVG/svg-login-bottom.svg" />
  </body>

  <!-- Do not delete: div class below fixes html to 100vh -->
  <div class="htmlheight100vh"></div>
</html>

<script src="../static/javascript/reset_confirmation.js"></script>
<script src="{{url_for('static', filename='javascript/cdn/sweetalert2.all.min.js')}}"></script>
