<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/css/main.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/static/fonts/custom-fonts.css"
    />
    <link rel="icon" type="image/x-icon" href="/static/SVG/EYE LOGO.svg" />
    <link rel="stylesheet" href="../static/css/forgot.css" />
    <title>Mindsight - Reset Password</title>
  </head>
  <body>
    <div class="container">
      <form id="confirmation_reset" action="{{ url_for('reset_password', username=username) }}" method="POST">
        {{ form.hidden_tag() }}

        <label for="security_question">Your Security Question</label>
        {{ security_question }}

        <label for="security_answer">Security Answer</label>
        {{ form.security_answer }}

        <label for="password">New Password</label>
        {{ form.password }}

        <label for="confirm">Confirm New Password</label>
        {{ form.confirm }}
        <br>
        <button type="submit">Reset Password</button>
    </form>
    </div>
  </body>
</html>
    
<script src="../static/javascript/reset_confirmation.js"></script>
<script src="{{url_for('static', filename='javascript/cdn/sweetalert2.all.min.js')}}"></script> 