{% extends "components/base.html" %} {% block title %} Mindsight - Search{{ college }} {%endblock %} {% block styles %}
<link rel="stylesheet" href="/static/css/search.css" />
{% endblock %} {% block content %}
<div class="right">
    <div class="main">
      <div class="main-header">
          <span>Search Results</span>
          <div class="back-button">
              <a href="{{ url_for ('level') }}">
                  <img src="/static/SVG/back_button.svg"/>
              </a>
          </div>
      </div>
      <hr>
      <div class="search-upload-container">
        <div class="search-container">
          <form method="GET" action="{{ url_for('search', query=query) }}">
            <div class="search-bar">
              <input
                type="text"
                placeholder="Search"
                name="query"
                value="{{query}}"
              />
              <button type="submit">
                <img src="/static/students/search.png" alt="search" />
              </button>
            </div>
          </form>
        </div>
  
        <div class="filter">
          <div>
            <select id="sort-by" name="sortBy">
              <option value="" disabled selected>Sort by:</option>
              <option value="date">Date</option>
              <option value="active_cases">Active Cases</option>
              <option value="inactive_cases">Inactive Cases</option>
              <option value="terminated_cases">Terminated Cases</option>
              <option value="student_id">Student No.</option>
              <option value="name">Name</option>
            </select>
          </div>
          <a href="#" id="archive-button"> 
            <div class="archive-container">
              <img
                src="/static/archive-button.png"
                alt="archive"
                class="archive-button"
              />
            </div>
          </a>
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        </div>
      </div>

      <div class="grid-header">
        <div class="grid-checkbox"><input type="checkbox" class="record-checkbox" name="select-all" id="select-all"/><label for="select-all">Select all</label></div>
        <div class="grid-section">Student ID</div>
        <div class="grid-name">Name</div>
        <div class="grid-college">Level</div>
        <div class="grid-gender">Gender</div>
        <div class="grid-counselor">Counselor</div>
        <div class="grid-status">Status</div>
        <div class="grid-remark">Remarks</div>
      </div>
      <div class="grid-container">
              <div class="row-container">
              {% for student in records %}
                  <a href="{{ url_for('student_record', student_id=student.student_id) }}" class="grid-row">
                    <div class="grid-checkbox"><input type="checkbox" class="record-checkbox" data-student-id="{{ student.student_id }}"/></div>
                    <div class="grid-section">{{ student.student_id }}</div>
                    <div class="grid-name">
                      {{ student.last_name }}, {{ student.first_name }}
                    </div>
                    <div class="grid-college">{{ student.college }}</div>
                    <div class="grid-gender">{{ student.gender }}</div>
                    <div class="grid-counselor">{{ student.additional_information.counselor }}</div>
                    <div class="grid-status">{{ student.additional_information.status }}</div>
                    <div class="grid-remark">{{ student.additional_information.remarks }}</div>
                  </a>
              {% endfor %}
              </div>
      </div>
  </div>
</div>
<script>
document.addEventListener('DOMContentLoaded', function() {
    const selectSortBy = document.getElementById('sort-by');
    const college = '{{ college_var }}';
    const course = '{{ course_var }}';
    const yearLevel = '{{ year_level_var }}';

    selectSortBy.addEventListener('change', function() {
        const sortBy = selectSortBy.value;
        let url = `/students/records/sort/${sortBy}?`;
        
        // Append college, course, and year level parameters if they exist
        if (college) {
            url += `college=${college}&`;
        }
        if (course) {
            url += `course=${course}&`;
        }
        if (yearLevel) {
            url += `year_level=${yearLevel}&`;
        }
        
        // Remove trailing '&' if it exists
        url = url.replace(/&$/, '');

    fetch(url, {
      method: 'GET',
      headers: {
        'Content-Type': 'application/json'
      }
    })
    .then(response => response.json())
    .then(records => {
      // Clear existing records
      const gridContainer = document.querySelector('.grid-container');
      gridContainer.innerHTML = '';

      // Add new sorted records
      records.forEach(student => {
        const rowContainer = document.createElement('div');
        rowContainer.classList.add('row-container');

        const gridRow = document.createElement('a');
        gridRow.href = `/students/records/view/${student.student_id}`;
        gridRow.classList.add('grid-row');

        const checkboxDiv = document.createElement('div');
        checkboxDiv.classList.add('grid-checkbox');
        const checkboxInput = document.createElement('input');
        checkboxInput.type = 'checkbox';
        checkboxInput.classList.add('record-checkbox');
        checkboxInput.dataset.studentId = student.student_id;
        checkboxDiv.appendChild(checkboxInput);

        const gridSection = document.createElement('div');
        gridSection.classList.add('grid-section');
        gridSection.textContent = student.student_id;

        const gridName = document.createElement('div');
        gridName.classList.add('grid-name');
        gridName.textContent = `${student.last_name}, ${student.first_name}`;

        const gridCollege = document.createElement('div');
        gridCollege.classList.add('grid-college');
        gridCollege.textContent = student.college;

        const gridGender = document.createElement('div');
        gridGender.classList.add('grid-gender');
        gridGender.textContent = student.gender;

        const gridCounselor = document.createElement('div');
        gridCounselor.classList.add('grid-counselor');
        gridCounselor.textContent = student.counselor;

        const gridStatus = document.createElement('div');
        gridStatus.classList.add('grid-status');
        gridStatus.textContent = student.status;

        const gridRemark = document.createElement('div');
        gridRemark.classList.add('grid-remark');
        gridRemark.textContent = student.remarks;

        gridRow.appendChild(checkboxDiv);
        gridRow.appendChild(gridSection);
        gridRow.appendChild(gridName);
        gridRow.appendChild(gridCollege);
        gridRow.appendChild(gridGender);
        gridRow.appendChild(gridCounselor);
        gridRow.appendChild(gridStatus);
        gridRow.appendChild(gridRemark);

        rowContainer.appendChild(gridRow);
        gridContainer.appendChild(rowContainer);
      });
    })
    .catch(error => {
      console.error('Error:', error);
    });
  });
  
  // Select all checkbox
  const selectAllCheckbox = document.getElementById('select-all');
  
  selectAllCheckbox.addEventListener('change', function() {
    const checkboxes = document.querySelectorAll('.record-checkbox');
    checkboxes.forEach(checkbox => {
      if (checkbox !== selectAllCheckbox) {
        checkbox.checked = selectAllCheckbox.checked;
        checkbox.dispatchEvent(new Event('change'));
      }
    });
  });

  document.querySelectorAll(".archive-container").forEach(button => {
    button.addEventListener("click", function(event) {
      event.preventDefault();
      const csrfToken = document.querySelector('input[name="csrf_token"]').value;
      const selectedRecords = [];
      
      document.querySelectorAll('.record-checkbox:checked').forEach(checkbox=> {
        if (checkbox !== selectAllCheckbox) {
          selectedRecords.push(checkbox.dataset.studentId);
        }
      });

      console.log('Selected Records:', selectedRecords);
      
      if (selectedRecords.length === 0) {
        swal.fire({
          iconHtml: '<img class="custom-icon" src="/static/exclamation.png">',
          title: 'Error!',
          text: 'Please select at least one record to archive',
          confirmButtonText: 'Okay',
          customClass: {
            confirmButton: `confirm-button-class`,
          }
        });
        return;
      }

      swal.fire({
        iconHtml: '<img class="custom-icon" src="/static/exclamation.png">',
        title: 'Are you sure?',
        text: "You're about to archive all selected records",
        showCancelButton: true,
        confirmButtonText: 'Yes',
        customClass: {
          confirmButton: `confirm-button-class`,
          cancelButton: 'cancel-button-class'
        }
      }).then((result) => {
        if (result.isConfirmed) {
          console.log('Sending POST request with payload:', { records: selectedRecords }); // Log POST request payload
          fetch('/students/records/bulk_archive', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
              'X-CSRFToken': csrfToken
            },
            body: JSON.stringify({ records: selectedRecords })
          })
          .then(response => {
            if (response.ok) {
              swal.fire({
                iconHtml: '<img class="custom-icon" src="/static/popup.png">',
                title: 'Success!',
                text: 'Records archived successfully.',
                showConfirmButton: false,
                timer: 2000,
                timerProgressBar: true,
              }).then(() => {
                window.location.reload();
              });
            } else {
              swal.fire({
                iconHtml: '<img class="custom-icon" src="/static/exclamation.png">',
                title: 'Error!',
                text: 'Failed to archive records, please try again.',
                showConfirmButton: true,
                confirmButtonText: 'Okay',
                customClass: {
                  confirmButton: `confirm-button-class`,
                }
              });
            }
          })
          .catch(error => {
            console.error('Error:', error);
            swal.fire({
              iconHtml: '<img class="custom-icon" src="/static/exclamation.png">',
              title: 'Error!',
              text: 'An error occurred while archiving records',
              showConfirmButton: true,
              confirmButtonText: 'Try again',
              customClass: {
                confirmButton: `confirm-button-class`,
              }
            });
          });
        }
      });
    });
  });
});
</script>
{% endblock %}
