<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Lexend"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="/static/SVG/EYE LOGO.svg"
    />
    <link rel="stylesheet" href="/static/css/sett.css" />
    <script src="/static/javascript/signup.js"></script>
    <title>MindSight: Settings</title>
  </head>
  <body>
    <nav class="sidebar">
      <div class="logo">
        <img
          id="logo"
          src="/static/MINDSIGHT LOGO (WHITE).png"
          alt="MindSight logo"
        />&nbsp;<img
          id="logo-initial"
          src="/static/SVG/EYE LOGO.svg"
          alt="MindSight logo-eye"
        />
      </div>

      <div class="overview">
        <p>Overview</p>
        <ul>
          <li>
            <a href="{{ url_for('dashboard') }}"
              ><img src="/static/SVG/dashboard.svg" /><span
                >Dashboard</span
              ></a
            >
          </li>
          <li>
            <a href="{{ url_for('admin') }}"
              ><img src="/static/SVG/admin.svg" /><span>Admin</span></a
            >
          </li>
          <li>
            <a href="{{ url_for('analytics') }}"
              ><img src="/static/SVG/analytics.svg" /><span
                >Analytics</span
              ></a
            >
          </li>
          <li>
            <a href="{{ url_for('stud') }}"
              ><img src="/static/SVG/students.svg" /><span
                >Students</span
              ></a
            >
          </li>
        </ul>
      </div>

      <div class="account">
        <p>Account</p>
        <ul>
          <li>
            <a href="{{ url_for('sett') }}"
              ><img src="/static/SVG/settings.svg" /><span
                >Settings</span
              ></a
            >
          </li>

          <li>
            <a href="{{ url_for('logout') }}"
              ><img src="/static/SVG/log-out.svg" /><span
                >Log&nbsp;out</span
              ></a
            >
          </li>
        </ul>
      </div>

      <div class="profile">
        <img class="profile-image" src="/static/profile.png" /><span
          > </span
        >
      </div>
    </nav>
      <!-- <div class="slide-in personal">
        <div class="personal-content">
          <h1>Personal</h1>
            <p class="desc">Update your personal details and photo here.</p>
            <hr>
            <label class="fname">First name</label>
            <input id="fname" type="text" placeholder="Enter your new First name"> 
            <label class="lname">Last name</label>
            <input id="lname" type="text" placeholder="Enter your new Last name">
            <hr>
            <div class="for-photo">
              <p class="your-photo">Your Photo</p>
              <p class="desc">This will displayed on your profile</p>
              <img class="pic" src="/static/profile.png">
              <button class="cancel" type="button">Cancel</button>
              <button class="update" type="button">Update</button>
            </div>
        </div>
      </div>   -->
      <!-- <div class="slide-in account">
        <div class="account-content">
          <h1>Account</h1>
            <p class="desc">Update your account here.</p>
            <hr>
            <label class="username">Username</label>
            <input id="username" type="text" placeholder="Enter your new username"> 
            <label class="email">Email Address</label>
            <input id="email" type="text" placeholder="Enter your new email address">
            <label class="password">Password</label>
            <input id="password" type="text" placeholder="Enter your new password">
            <hr>
            <div class="-update-cancel-button">
              <button class="cancel" type="button">Cancel</button>
              <button class="update" type="button">Update</button>
            </div>
        </div>
      </div> -->
      <!-- <div id="buttons" class="buttons">
        <button id="personal" class="personal" type="button">Personal</button>
        <button id="acc" class="acc" type="button">Account</button>
      </div> -->

<div class="slide-in from-left">
  <div class="slide-in-content">
    <ul>
      <li>Lorem</li>
      <li>Ipsum</li>
      <li>Dolor</li>
    </ul>
  </div>
</div>

<div class="slide-in from-right">
  <div class="slide-in-content">
    <ul>
      <li>One</li>
      <li>Two</li>
      <li>Three</li>
    </ul>
  </div>
</div>

<button id="toggle" style="position:absolute; top: 120px;">Toggle</button>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">
  $('#toggle').click(function() {
$('.slide-in').toggleClass('show');
});
</script>
  <!-- <script>

$('#personal').click(function() {
  $('.slide-in').toggleClass('show');
});
  // document.getElementById('buttons').addEventListener('click', function(evt) 
  // {
  //   var target = evt.target;
  //   if (target.id === 'personal') 
  //   {
  //     $('#personal').click(function() 
  //     {
  //       $('.slide-in').toggleClass('show');
  //     });
  //   } else if (target.id === 'acc') 
  //   {
  //     $('#acc').click(function() 
  //     {
  //       $('.slide-in').toggleClass('show');
  //     });
  //   }
  // }, false);

  </script> -->
</html>

