{% extends "components/base.html" %} {% block title %} Mindsight - Settings{%
endblock %} {% block styles %}
<link rel="stylesheet" href="/static/css/settings.css" />
{% endblock %} {% block content %}
<div class="right">
  <div class="main">
    <div class="main-header">
      <span>Settings</span>
    </div>
    <div class="scroll-content">
      <section>
        <div class="left-header">User Profile Details</div>
        <div class="right-content">
          
          <form id="confirmation" action="{{ url_for('settings') }}" method="POST">
            {{ form.hidden_tag() }}
        
            <div class="single-row">
                <label for="ufname">First name</label>
                {{ form.first_name }}
            </div>
        
            <div class="single-row">
                <label for="ulname">Last name</label>
                {{ form.last_name }}
            </div>
        
            <div class="single-row">
                <label for="username">Username</label>
                {{ form.username }}
            </div>
        
            <div class="single-row">
                <label for="email">Email</label>
                {{ form.email }}
            </div>
        
            <div class="single-row">
                <label for="password">New password</label>
                {{ form.password }}
            </div>

            <div class="single-row">
              <label for="confirm_password">Confirm new password</label>
              {{ form.confirm }}
            </div>

            <div class="single-row">
              <label for="current_password">Old password</label>
              {{ form.current_password }}
            </div>
        
            <button type="submit" class="update-btn" id="toggleAlert">Update</button>
        </form>
        
        </div>
      </section>
    </div>
  </div>
</div>

<script src="{{url_for('static', filename='javascript/cdn/sweetalert2.all.min.js')}}"></script>
<script src="{{url_for('static', filename='javascript/settings.js')}}"></script>
{% endblock %}
