<!-- right -->
{% extends "components/base.html" %} {% block title %} Mindsight - Add New
Admin{% endblock %} {% block styles %}
<link rel="stylesheet" href="/static/css/signup.css" />
{% endblock %} {% block content %}
<div class="right">
  <div class="main">
    <div class="main-header">
      <span>Add New Admin</span>
    </div>
    <div class="scroll-content">
      <section>
        <section class="right-main">
          <div class="rsub-container">
            <!-- ... Previous HTML content ... -->

            <form
              id="confirmation"
              action="{{ url_for('signup') }}"
              method="POST"
            >
              {{ form.hidden_tag() }}

              <select name="role" required>
                <option value="" disabled selected>Select Role</option>
                <option value="admin1">Director</option>
                <option value="admin2">Head, Counseling and Wellness</option>
                <option value="admin3">GCSC Personnel-Pasig</option>
                <option value="admin4">Registered Psychometrician</option>
              </select>
              {% for error in form.role.errors %}
              <div class="error-message">{{ error }}</div>
              {% endfor %}

              <input
                type="text"
                placeholder="First Name"
                name="first_name"
                autocomplete="off"
                required
              />
              {% for error in form.first_name.errors %}
              <div class="error-message">{{ error }}</div>
              {% endfor %}

              <input
                type="text"
                placeholder="Last Name"
                name="last_name"
                autocomplete="off"
                required
              />
              {% for error in form.last_name.errors %}
              <div class="error-message">{{ error }}</div>
              {% endfor %}

              <input
                type="text"
                placeholder="Username"
                name="username"
                autocomplete="off"
                required
              />
              {% for error in form.username.errors %}
              <div class="error-message">{{ error }}</div>
              {% endfor %}

              <div class="input-container">
                <input
                  type="text"
                  class="styled-input"
                  placeholder="Email"
                  name="email"
                  autocomplete="off"
                  required
                />
                {% for error in form.email.errors %}
                <div class="error-message">{{ error }}</div>
                {% endfor %}
              </div>

              <div class="password-div">
                <div class="password-input-container">
                  <input
                    type="password"
                    placeholder="Password"
                    name="password"
                    id="password"
                    required
                  />
                  {% for error in form.password.errors %}
                  <div class="error-message">{{ error }}</div>
                  {% endfor %}
                  <i class="togglepass" id="togglePassword">
                    <img
                      id="eye-image"
                      src="../static/SVG/eyehidden.svg"
                      alt="show/hide"
                      onclick="toggleImage()"
                    />
                  </i>
                </div>
              </div>

              <div class="password-div">
                <div class="password-input-container">
                  <input
                    type="password"
                    placeholder="Confirm Password"
                    name="confirm"
                    id="password-confirm"
                    required
                  />
                  {% for error in form.confirm.errors %}
                  <div class="error-message">{{ error }}</div>
                  {% endfor %}
                  <i class="togglepass" id="togglePassword-confirm">
                    <img
                      id="eye-image-confirm"
                      src="../static/SVG/eyehidden.svg"
                      alt="show/hide"
                      onclick="toggleImageConfirm()"
                    />
                  </i>
                </div>
              </div>

              <select name="security_question" required>
                <option value="" disabled selected>
                  Select Security Question
                </option>
                <option value="question1">
                  In what city did your parents meet?
                </option>
                <option value="question2">
                  Where did you go on your first solo trip?
                </option>
                <option value="question3">
                  What was the first dish you learned to cook?
                </option>
                <option value="question4">
                  What was the name of your first stuffed toy?
                </option>
                <option value="question5">
                  What was the title of the first book you read?
                </option>
              </select>
              {% for error in form.role.errors %}
              <div class="error-message">{{ error }}</div>
              {% endfor %}

              <input
                type="text"
                placeholder="e.g dubai"
                name="security_answer"
                autocomplete="off"
                required
              />

              <label for="terms-checkbox">
                <input
                  type="checkbox"
                  id="terms-checkbox"
                  name="terms-checkbox"
                  required
                />
                By signing up, you agree to our adherence to the
                <a
                  href="/static/privacy_gov_ph_data-privacy-act.pdf"
                  target="_blank"
                  >Data Privacy Act of 2012.</a
                >
              </label>

              <div class="signup-btn-container">
                <button
                  type="submit"
                  id="signup-button"
                  class="signup-button"
                  disabled
                >
                  SIGN UP
                </button>
              </div>
            </form>
          </div>
        </section>
      </section>
    </div>
  </div>
</div>

<script src="../static/javascript/signup.js"></script>
<script src="../static/javascript/signup_confirmation.js"></script>
<script src="{{url_for('static', filename='javascript/cdn/sweetalert2.all.min.js')}}"></script>
{% endblock %}
