<!-- right -->
{% extends "components/base.html" %} {% block title %} Mindsight - Signup{%
endblock %} {% block styles %}
<link rel="stylesheet" href="/static/css/signup.css" />
{% endblock %} {% block content %}
<div class="right">
  <div class="main">
    <div class="scroll-content">
      <section>
        <section class="right-main">
          <div class="rsub-container">
            <!-- ... Previous HTML content ... -->

            <form
              id="confirmation"
              action="{{ url_for('signup') }}"
              method="POST"
            >
              {{ form.hidden_tag() }}

              <p>Sign up</p>

              <select name="role" required>
                <option value="" disabled selected>Select your role</option>
                <option value="superadmin">Super Admin</option>
                <option value="admin">Admin</option>
              </select>
              {% for error in form.role.errors %}
              <div class="error-message">{{ error }}</div>
              {% endfor %}

              <input
                type="text"
                placeholder="First Name"
                name="first_name"
                required
              />
              {% for error in form.first_name.errors %}
              <div class="error-message">{{ error }}</div>
              {% endfor %}

              <input
                type="text"
                placeholder="Last Name"
                name="last_name"
                required
              />
              {% for error in form.last_name.errors %}
              <div class="error-message">{{ error }}</div>
              {% endfor %}

              <input
                type="text"
                placeholder="Username"
                name="username"
                required
              />
              {% for error in form.username.errors %}
              <div class="error-message">{{ error }}</div>
              {% endfor %}

              <div class="input-container">
                <input
                  type="text"
                  class="styled-input"
                  placeholder="Email"
                  name="email"
                  required
                />
                {% for error in form.email.errors %}
                <div class="error-message">{{ error }}</div>
                {% endfor %}
              </div>

              <div class="password-div">
                <div class="password-input-container">
                  <input
                    type="password"
                    placeholder="Password"
                    name="password"
                    id="password"
                    required
                  />
                  {% for error in form.password.errors %}
                  <div class="error-message">{{ error }}</div>
                  {% endfor %}
                  <i class="togglepass" id="togglePassword">
                    <img
                      id="eye-image"
                      src="../static/SVG/eyehidden.svg"
                      alt="show/hide"
                      onclick="toggleImage()"
                    />
                  </i>
                </div>
              </div>

              <div class="password-div">
                <div class="password-input-container">
                  <input
                    type="password"
                    placeholder="Confirm Password"
                    name="confirm"
                    id="password-confirm"
                    required
                  />
                  {% for error in form.confirm.errors %}
                  <div class="error-message">{{ error }}</div>
                  {% endfor %}
                  <i class="togglepass" id="togglePassword-confirm">
                    <img
                      id="eye-image-confirm"
                      src="../static/SVG/eyehidden.svg"
                      alt="show/hide"
                      onclick="toggleImageConfirm()"
                    />
                  </i>
                </div>
              </div>

              <label for="terms-checkbox">
                <input
                  type="checkbox"
                  id="terms-checkbox"
                  name="terms-checkbox"
                  required
                />
                By signing up, you agree to our adherence to the
                <a
                  href="/static/privacy_gov_ph_data-privacy-act.pdf"
                  target="_blank"
                  >Data Privacy Act of 2012.</a
                >
              </label>

              <div class="signup-btn-container">
                <button
                  type="submit"
                  id="signup-button"
                  class="signup-button"
                  disabled
                >
                  SIGN UP
                </button>
              </div>
            </form>
          </div>
        </section>
      </section>
    </div>
  </div>
</div>

<script src="../static/javascript/signup.js"></script>
<script src="../static/javascript/signup_confirmation.js"></script>
<script src="{{url_for('static', filename='javascript/cdn/sweetalert2.all.min.js')}}"></script>
{% endblock %}
