{% extends "components/base.html" %}
{% block title %} MindSight: Dashboard{% endblock %}

{% block styles %}     
<link rel="stylesheet" href="/static/css/students.css"/> 
{% endblock %}

{% block content %}

<div class="right">
  <div class="main">
    <div class="main-header">
      <span>STUDENT RECORDS</span>
      <p>
        Please click on the following <b>COLLEGES</b> to view the corresponding
        records:
      </p>
    </div>
    <div class="main-buttons">
      <a href="{{ url_for ('cea') }}"> <button class="cea">CEA</button></a>
      <div class="buttons-group">
        <a href="{{ url_for ('cbea') }}"> <button class="cbea">CBEA</button></a>
        <a href="{{ url_for ('cas') }}"> <button class="cas">CAS</button></a>
        <a href="{{ url_for ('ced') }}"> <button class="ced">CED</button></a>
        <a href="{{ url_for ('ihk') }}"> <button class="ihk">IHK</button></a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
