<html>
  <head>
    <link rel="stylesheet" href="/static/css/main.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/static/fonts/custom-fonts.css"
    />
    <link rel="icon" type="image/x-icon" href="/static/SVG/EYE LOGO.svg" />
    <link rel="stylesheet" href="../static/css/forgot.css" />
    <title>Mindsight - Student ID</title>
  </head>

  <body>
    <img class="svg-top" src="../static/SVG/svg-login-top.svg" />
    <main>
      <div class="back-container">
        <a href="{{ url_for ('login')}}">
          <img src="../static/SVG/back_button.svg" id="back_button" />
        </a>
          </div>
      <div class="logo-container">
        <img src="../static/SVG/EYE LOGO.svg" />
      </div>
      <div>
        <p class="header">Student ID</p>
        <form
          id="studentId"
          action="{{ url_for('student_id_form') }}"
          method="POST"
        >
          <input
            type="text"
            id="studentIdInput"
            name="student_id"
            placeholder="xxxx-xxxxxx"
            autocomplete="off"
            required
          />
          <span id="error-msg" class="error"></span>
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
          <button type="submit">SUBMIT</button>
        </form>
      </div>
    </main>
    <img class="svg-bottom" src="../static/SVG/svg-login-bottom.svg" />
  </body>

<script src="{{url_for('static', filename='javascript/cdn/sweetalert2.all.min.js')}}"></script>
<script>
window.addEventListener('DOMContentLoaded', (event) => {
  const form = document.getElementById("studentId");
  
  form.addEventListener("submit", function (event) {
    const regex = /^\d{4}-\d{6}$/; // Regular expression pattern

    if (!regex.test(form.student_id.value)) {
      alert("Invalid student ID format. Please enter in the format xxxx-xxxxxx.");
      event.preventDefault(); // Prevent form submission if format is incorrect
      form.student_id.focus();
      return; // Stop further execution
    }

    // Prevent the default form submission behavior
    event.preventDefault();

    // Fetch the form data and send it to the server
    fetch(form.action, {
      method: 'POST',
      body: new FormData(form),
    })
    .then(response => response.json())
    .then(data => {
      if (data.error) {
        swal.fire({
          title: 'Student already exists',
          text: 'You can log in to view the record of the student.',
          iconHtml: '<img class="custom-icon" src="/static/exclamation.png">',
          showCancelButton: true,
          confirmButtonText: 'LOG IN',
          cancelButtonText: 'CANCEL',
          customClass: {
            confirmButton: 'confirm-button-class',
            cancelButton: 'cancel-button-class'
          }
        }).then((response) => {
          if (response.isConfirmed) {
            window.location.assign('/login'); // Redirect to /login if confirmed
          }
        });
        console.error('Error:', data);
      } else {
          window.location.assign('/add?student_id=' + form.student_id.value); // Redirect to add record page with student_id parameter
      }
    })
    .catch(error => {
      console.error('Error:', error);
    });
  });
});
</script>
</html>
